# Blanket ignore everything by default
*

# Whitelist files and folders that should be in the container
!app
!cli
!configs
!*migrations
!scripts

!babel.cfg
!config.yaml
!LICENSE
!package.json
!package-lock.json
!requirements.txt
!start_all.sh
!throat.py
!throat_prod.py
!webpack.config.js
!pyproject.toml
!poetry.lock

# Disallow Python cache files
**/__pycache__
**/*.pyc
**/*.pyd
**/*.pyo

# Disallow results of non-Docker builds
app/static/gen
