# Blanket ignore everything by default
*

# Whitelist files and folders that should be in the container
!app
!cli
!migrations
!scripts

!babel.cfg
!package.json
!package-lock.json
!requirements.txt
!throat.py
!webpack.config.js
