Flask>=1.0.2 
Flask-WTF==0.13.1
bcrypt==3.1.3
misaka>=2.1.1
Flask-Login>=0.4.1
peewee>=3.10.0
Flask-SocketIO>=3.3.2
Flask-Webpack>=0.1.0
tinycss2==0.6.1
flask-caching
mysqlclient
redis
requests
pillow
pytest
sendgrid
bs4
flask-oauthlib
eventlet
wheezy.template
wheezy.html
python-magic
py3exiv2
pyotp
coverage
pep8
lxml
flask-jwt-extended
captcha
peewee_migrate
pyyaml
