{% extends "layout.html" %}

{% block title %}Error 418 - I'm a teapot | {{config.LEMA}}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/errors.css') }}">
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
    <div class="error internal">
      <h1>I'm a teapot</h1>
      <br>
      <p>The requested entity body is short and stout. Tip me over and pour me out ;)</p>
      <div style="text-align: center;">
        <a href="/" class="btn btn-blue">Go to the home page</a>
      </div>
    </div>
{% endblock %}
