{% extends "layout.html" %}

{% block title %}Internal server errror | {{config.site.lema}}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/errors.css') }}">
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
    <div class="error internal">
      <h1>We dun phucked up</h1>
      <br>
      <img src="{{ url_for('static', filename='img/errors/500.png') }}" alt="(insert a wtf image here)" align/>
      <br>
      <p>We were strangled to death. Please wait until a new generation of admins is born.</p>
      <p>If the problem persists <b>do</do> contact us. In the meantime, smash your F5 button.</p>
      <div style="text-align: center;">
        <a href="/" class="btn btn-blue">Go to the home page</a>
      </div>
    </div>
{% endblock %}
