body, html { min-height: 100%;}
body{
  background-color: #f4f4f4;
}

.custom-wrapper {
  background-color: #4175bf;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
  height: 5em;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  position: relative;
}

.cw-brand div{margin-left: 1em;}

.cw-items a{color: #fff !important;}

.pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus{
  background-color: initial;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #fff;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
    .custom-menu-3 {
        text-align: left;
    }
    .custom-toggle {
        display: block;
    }
    .cw-items{margin-top: 2em;}
}

@media screen and (min-width: 48em){
  .custom-wrapper{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .cw-items, #th-uinfo{
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    color: #fff
  }

  .cw-brand{
    position: relative;
    top: 54%;
    transform: translateY(-55%);
  }

  .content{
    border-right: 1px solid #ddd;
  }
  .sidebar{
    border-bottom: 1px solid #ddd;
  }
}

#th-uinfo {
  text-align: right;
}

.content{
  padding-left: .4em;
  padding-top: 1em;
  padding-bottom: 60px;
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar{
  padding-left: .3em;
  padding-top: 1em;
  background-color: #eaeaea;
  float:right;
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.footer{
  text-align: center;
}

#th-main{
  width: 100%;
  min-height: 70vh;
  height: auto;
}

a {
  color: #4b6d9d;
  text-decoration: none;
}

a:visited {
  color: #b66355;
}

a:hover {
  color: #64a6ca;
}

.smallcaps {
  font-variant: small-caps;
}

#menu a:not(.glyphbutton){
  color: #ddd;
}

.separator {
  margin-left: 7px;
  margin-right: 7px;
  border-left: 1px #444 dotted;
}

.bold {font-weight: bold;}

a.glyphbutton {
  color: #fff;
}

.glyphbutton.sep {  margin-right: 8px; }


#logo {height: 4em; transform-style: preserve-3d;}

.form {text-align: center;}
.form form{
  display: inline-block;
  text-align: initial;
}

.error{
  padding: 5px;
  background-color: #f44336;
  /* Red */
  color: white;
  margin-bottom: 15px;
}

.error span{display:block;}

label span{margin-left: 7px;}

.post {
  margin: 5px 0 5px 0;
}
.post .title {
    text-decoration: none;
    line-height: 1.2em;
    font-size: larger;
}

.votebuttons {
  text-align: center;
}
.icon{
    display: inline-block;
}
.icon.small{
  background-size: auto 100%;
  width: 16px;
  height: 16px;
}

.upvote, .downvote {
  cursor: pointer;
}

.votebuttons {height: 100%;}

.score{
  margin: .4em 0 .4em 0;
}

.post .thumbnail img {
    border-radius: 3px;
    width: 8vmax;
    height: 8vmax;
    max-width: 70px;
    max-height: 70px;
}

.post .thumbnail .fa-stack-2x {
  font-size: 1.52em;
}
.post .thumbnail .fa-stack {
  width: 1.52em;
  height: 1.52em;
  line-height: 1.52em;
}
.post .thumbnail {
  display: inline-block;
  margin-right: .4em;
}

.post .domain a, .post .domain {
    color: #8e8e8e;
    font-size: small;
}

.post .author {
    font-size: small;
    color: #5d5454;
}

/* Badges/Pills */
.pure-badge,
.pure-badge-error,
.pure-badge-warning,
.pure-badge-success,
.pure-badge-info,
.pure-badge-inverse {
    padding: 0.35em 0.9em 0.35em;
    background-color: #9D988E;
    color: #fff;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 1.2em;
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 20px;
    margin: 0.2em;
}
.pure-badge-error {
    background-color: #D13C38;
}
.pure-badge-warning {
    background-color: #E78C05;
}
.pure-badge-success {
    background-color: rgb(83, 180, 79);
}
.pure-badge-info {
    background-color: rgb(18, 169, 218);
}
.pure-badge-inverse {
    background-color: #4D370C;
}

.thcontainer {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
}

.thcontainer span.pure-badge{
  position: absolute;
  bottom: -.25em;
  right: -.25em;
  margin: 0;
  background-color: #4175bf;
}
