/** You can add custom styles for your site here */

.flairsettings {
    margin-top: 9px;
    text-align: center;
}

.subbuttonscentered {
  text-align: center;
}

.notfound {
  margin-left: 1.1em;
}