/** You can add custom styles for your site here */
.sidescore {
    font-size: 12px;
    color: var(--primary-color);
  }

.flairsettings {
    margin-top: 9px;
    text-align: center;
}

.subbuttonscentered {
  text-align: center;
}