/********** Start RESET **********
    AUTHOR: Osvaldas Valutis, www.osvaldas.info
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url('/theme/js/boxsizing.htc');
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
}
html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sup, sub, tt, var, b, u, i, center, ul, ol, li, dl, dt, dd, table, tr, th, td, thead, tbody, tfoot, caption, form, fieldset, legend, input, textarea, select, label, applet, object, iframe, audio, video, canvas, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    vertical-align: baseline;
    border: 0;
    outline: 0;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1;
    color: #000;
    background-color: #fff;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
}
canvas {
    -ms-touch-action: double-tap-zoom;
}
[hidden] {
    display: none;
}
a {
    text-decoration: none;
    color: #e25708;
}
a:hover {
    text-decoration: none;
}
a:visited {
    color: #D83600;
}
small {
    font-size: 75%;
}
big {
    font-size: 125%;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
sup, sub {
    font-size: 75%;
    line-height: 0;
}
sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}
pre {
    display: block;
    overflow: auto;
}
code {
    font-family: 'Courier New', Courier, monospace;
}
ul, ol {
    list-style: none;
}
table {
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: hide;
}
img {
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}
.post .image img {
    border-radius: 3px;
}
svg:not(:root) {
    overflow: hidden;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
input, textarea {
    -webkit-appearance: none;
}
button, input, select, textarea {
    vertical-align: baseline;
    *vertical-align: middle;
    -webkit-border-radius: 0;
}
button, input {
    line-height: normal;
    *overflow: visible;
}
table button, table input {
    *overflow: auto;
}
button, input[type='button'], input[type='reset'], input[type='submit'] {
    cursor: pointer;
    -webkit-appearance: button;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-results-button, input[type='search']::-webkit-search-results-decoration {
    display: none;
}
input[type='search'] {
    -webkit-appearance: textfield;
}
input[type='radio'] {
    -webkit-appearance: radio;
}
input[type='checkbox'] {
    -webkit-appearance: checkbox;
}
input::-ms-clear {
    display: none;
}
input[type='password']::-ms-reveal {
    display: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix {
    zoom: 1;
}
*:first-child+html .clearfix {
    zoom: 1;
}
.cleaner {
    height: 0;
    line-height: 0;
    clear: both;
}

/********** End RESET **********/


/*
  Custom fonts
*/

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: local('Comfortaa'), local('Comfortaa-Regular'), url(../fonts/Comfortaa-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 400;
    src: local('Comfortaa'), local('Comfortaa-Regular'), url(../fonts/Comfortaa.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*
  Helper styles
*/

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    [class*="col-"] {
        float: left;
        padding: 2px;
    }
    [class*="col-"].right {
        float: right;
    }
}

/*
  Basic style
*/

h1, h2, h3, h4, h5 {
    font-family: Comfortaa, sans-serif;
    margin: .3em 0px .3em 0px;
}
header, footer {
    height: auto;
    max-height: 10em;
    background-color: white;
    text-align: center;
}
header {
    border-bottom: solid 1px #DEDEDE;
}
footer {
    margin: 3em;
    background-color: transparent;
    color: gray;
    font-size: small;
}
html, body {
    overflow-x: hidden;
    height: 100%;
}
hr {
    margin: 0.3em;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, white, lightgray, white);
}
textarea {
    border: 1px solid lightgray;
    border-radius: 3px;
}
body {
    color: black;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMUlEQVQIW2NkwAE+fPgwkxGbHEhCQEAgHUMSJgHShCKJLIEiiS4Bl8QmAZbEJQGSBACozBtxLXy9QAAAAABJRU5ErkJggg==) repeat;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    margin-right: 2em;
    overflow: hidden;
    min-height: 20%;
}
.center {
    background: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 0.5em;
}
.content {
    margin-top: 3em;
}
input[type=search] {
    box-sizing: border-box;
    border: solid lightgray 1px;
    border-radius: 4px;
    font-size: 0.9em;
    font-family: Comfortaa;
    background-color: white;
    padding: 12px 15px 10px 35px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input:focus {
    border: solid skyblue 1px;
}
.pull.right {
    float: right;
}
.pull.left {
    float: left;
}
.large {
    font-size: large;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    main {
        margin: 0px;
        margin-top: 1em;
    }
    .content {
        margin-top: 1em;
    }
}
blockquote {
  display:block;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  text-align: justify;
  border-left: 15px solid #e67f26;
  border-right: 2px solid #e67f26;
  box-shadow: 2px 2px 15px lightgray;
  margin-left: 30px;
}
body.dark blockquote {
    box-shadow: none;
    border-top: 1px solid #585858;
    border-bottom: 1px solid #585858;
}

blockquote::before {
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after {
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover {
 color: #666;
}

blockquote em {
  font-style: italic;
}

/*
  Sidebar
*/

.side {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 7px;
    text-align: center;
    margin-right: 1em;
}
a.btn.login, a.btn.register, button.btn.logout {
    width: 100%;
}
.side .lightbtn {
    color: #616161;
    background: none!important;
    border: none;
    padding: 0!important;
    margin: 0px 0.7vw 0px 0.7vw!important;
}
.side .lightbtn i {
    font-size: 1.5vmax;
}
.side .buttons {
    margin: 0.5em;
    line-height: 4em;
}
.side .buttons button {
    margin: auto;
    height: 100%;
}
.create-sub {
    width: 20em;
}
.side .buttons div {
    height: 2.5em;
    overflow: hidden;
    line-height: 1em;
}
.side .createdby {
    font-size: 12px;
}
.side ul {
    -webkit-padding-start: 0px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .side {
        margin-top: 1em;
    }
    .side .buttons div {
        text-align: center;
    }
}

/*
  Navigation bar
*/

nav {
    display: block;
    height: auto;
    padding: 1em;
    padding-top: 0;
    overflow: hidden;
}
nav ul {
    list-style: none;
    padding: 0px 7px;
}
nav ul li {
    display: inline;
    float: left;
}
nav ul li a {
    display: block;
    padding: 0 8px;
    color: black;
    font-size: 0.9em;
    font-family: Comfortaa;
    text-decoration: none;
    line-height: 35px;
    margin-right: 6px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
nav ul li a:visited {
  color: black;
}
nav ul li a:hover {
    color: #fb5b00;
}
nav .right {
    float: right;
}
nav .right a {
  padding: 0px 10px;
  height: 3em;
  font-family: Comfortaa;
  font-size: 11px;
}

/*
  Post list styles
*/

.post {
    line-height: 1em;
    overflow: hidden;
    padding: 5px;
    word-wrap: break-word;
    margin: 5px;
}
.post+.post {
    border-top: 1px solid #D3D3D3;
}
.post .title {
    text-decoration: none;
    color: black;
    font-size: medium;
}
.post .title:visited {
    color: #D83600;
}
.post .title:hover {
    color: #fb5b00;
}
.post .author {
    font-size: small;
    color: gray;
    line-height: 0.5em;
}
.post .comments {
    font-size: x-small;
    color: gray;
    font-weight: bold;
    text-decoration: none;
}
.post .container {
    margin: 0px;
    margin-top: 7px;
}
.post .image {
    float: left;
    margin: 5px;
    width: auto;
    text-align: center;
}
.post .image img {
    width: 8vmax;
    height: 8vmax;
    max-width: 70px;
    max-height: 70px;
}
.post .main {
    float: left;
    margin: 5px;
    width: 80%;
}
.post #opentextpost div#content {
    padding: 20px;
    margin: 6px;
    display: block;
    border: 1px solid lightgray;
}
.post a {
    text-decoration: none;
}
.post-info {
    margin: 5px;
}
.post-info p {
    margin: 5px 0;
}
.post .vote {
    margin-left: 0.4em;
}
.postdomain {
    color: #8e8e8e;
    font-size: small;
}
@media only screen and (max-width: 330px) {
    /* For small mobile phones: */
    .post .main {
        width: 100%;
    }
}

/*
  Buttons
*/
.btn {
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 4px;
    touch-action: manipulation;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
    border: solid transparent 1px;
    text-align: center;
    cursor: pointer;
    /* default button */
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn:visited {
  color: #333;
}
.btn:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* blue button */

.btn.btn-blue {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn.btn-blue:visited {
  color: #fff;
}
.btn.btn-blue:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn.btn-blue:active {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

/* thy throat orange button */

.btn.btn-orange {
    color: #fff;
    background-color: #f82;
    border-color: #f82;
    font-weight: 600;
}
.btn.btn-orange:visited {
  color: #fff;
}
.btn.btn-orange:hover {
    color: #fff;
    background-color: #fb5000;
    border-color: #fb5b00;
}
.btn.btn-orange:active {
    color: #fff;
    background-color: #fb5b00;
    border-color: #fb5b00;
}
.btn.small.btn-orange {
  color: white;
}

/* red button */

.btn.btn-red {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn.btn-red:visited {
  color: #fff;
}
.btn.btn-red:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn.btn-red:active {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

/* small button */

.btn.small {
    font-size: 9px;
    font-size: 0.6em;
    padding: 3px 8px;
    border-radius: 2px;
    color: #616161;
}
.btn.btn-blue.small, .btn.btn-red.small {
    color: white;
}
.btn.small .fa {
    font-size: larger;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .btn {
        width: 100% !important;
    }
}

/* login, register form */

.white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: center;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #5A6064;
}
.white-popup-block input {
    width: 70%;
    text-align: left;
    padding: 5px;
    border-radius: 2px;
    border: solid 1px lightgray;
}
.div-error {
    display: none;
}
.mfp-close-btn-in .mfp-close {
    text-align: right;
    margin-right: 10px;
}
.white-popup-block p {
    margin: 5px;
}

/* Alerts */

.alert {
    padding: 5px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}
.alert li {
    text-align: left;
}
.alert.ok {
    background-color: #55AF55;
}
.alert.warn {
    background-color: #CCBB28;
}
.fa-exclamation-circle.orange {
    color: #fb5000;
}

/* The close button */

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */

.closebtn:hover {
    color: lightgray;
}
button.mfp-close, button.mfp-arrow {
    z-index: 5;
}
.noshit {
    margin: 5px;
    text-align: center;
}
.g-recaptcha {
    margin: 0 auto;
    width: 50%;
}
.time {
    font-size: 75%;
}

/* create sub form */

#csub-form #nsfw li {
    width: 230px;
}

/* send post form */

#post-form .content {
    text-align: left;
    width: 100%;
    font-size: 0.9em;
}
#post-form .title {
    width: 100%;
    height: auto;
}
#post-form .title input {
    width: 100%;
    height: 3em;
}

/* text posts */

.no-padding {
    padding: 0px;
}
.text-post {
    margin: 0px;
}
.text-post + .text-post {
    margin-top: 1em;
    border-top: 1px solid #D3D3D3;
}
.text-post .head {
    background: #FAFAFA;
    width: 100%;
    border-bottom: solid #ccc 1px;
    margin: 0;
    padding: 1em;
}
.text-post.comment .head {
    padding: 0.4em;
}
.text-post.comment .head .info {
    margin-left: 0.3em;
}
.text-post .title {
    margin-bottom: 0.3em;
    font-family: Comfortaa;
}
.text-post .content {
    margin: 1em;
    padding: 0px 1.5em 0px 1.5em;
}
.text-post .content ul {
    list-style-type: disc;
}
.text-post .content ol {
    list-style-type: decimal;
}
.content iframe {
    margin-top: 1em;
}
#comments {
    margin-top: 1em;
}
#postcomment {
    margin-top: 15px;
}
.CodeMirror .CodeMirror-scroll, .CodeMirror {
    min-height: 100px;
}
.bottombar {
    margin-left: 1em;
    margin-bottom: 1em;
}
.bottombar .lnkreply {
    text-decoration: none;
}
.comment .comment-form {
    padding: 1.5em;
}
.comment .close {
    text-align: right;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
    color: #565656;
}

/* sub comments */

.text-post.sub-1 {
    margin-left: 2em;
}
.text-post.sub-2 {
    margin-left: 4em;
}
.text-post.sub-3 {
    margin-left: 6em;
}
.text-post.sub-4 {
    margin-left: 8em;
}
.text-post.sub-5 {
    margin-left: 10em;
}
.text-post.sub-6 {
    margin-left: 12em;
}
.text-post.sub-7 {
    margin-left: 14em;
}
.text-post.sub-8 {
    margin-left: 16em;
}

/* user page */

.user-activity .recent {
    padding: 10px;
}
.recent + .recent {
    border-top: 1px solid #d3d3d3;
}
.user-activity .rpost {
    margin-left: 5px;
}
.user-activity .rpost li {
    margin: 1em;
}
.user-activity .rpost .title {
    text-decoration: none;
    color: darkcyan;
}
.user-activity .rpost .data {
    margin-top: 0.7em;
}
.user-activity .comment {
    color: gray;
    font-size: smaller;
}
#userBadges li {
    margin:6px 0;
}
#edit-user-form p.fullw {
    margin-top: 100px;
}
/* dark mode */

body.dark, body.dark header, body.dark footer, body.dark nav ul li a, body.dark .center, body.dark .post .title, body.dark .text-post, body.dark .side, body.dark .CodeMirror {
    background: #101010;
    color: #aaa;
}
body.dark .editor-toolbar {
    border-top: 1px solid #6E4A2D;
    border-left: 1px solid #6E4A2D;
    border-right: 1px solid #6E4A2D;
}
body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5, body.dark h6 {
    color: white;
}
body.dark .text-post .head {
    background-color: #000000;
    color: #151515;
    border-bottom: solid #93643D 1px;
}
body.dark .white-popup-block {
    background-color: #6E4A2D;
    color: white;
}
body.dark .btn.small,
body.dark .post .btn.small.postfl {
    background-color: #6E4A2D;
    color: white;
    border: solid transparent 1px;
}
body.dark .post .btn.small {
    background-color: #2A2A2A;
    color: white;
    border-bottom: solid #6E4A2D 1px;
}
body.dark .white-popup-block input {
    background-color: #2F2F2F;
    color: white;
}
body.dark .center {
    border: 1px solid #93643D;
}
body.dark .btn {
    background-color: #6E4A2D;
    color: #ccc;
    border: solid #5B3B21 1px;
    margin: 1px;
}
body.dark input[type=search] {
    background-color: #555;
    border: solid transparent 1px;
}
body.dark .side .lightbtn i {
    color: #ccc;
}
body.dark #toggledark i {
    color: #ff0;
}
body.dark a {
    color: #777;
}
body.dark .side {
    background-color: #000000;
    border: 1px solid #93643D;
}
body.dark .editor-toolbar a {
    color: white !important;
}
body.dark hr {
    background: #93643D;
}
body.dark i.fa.fa-square.fa-stack-2x {
    color: #6E4A2D;
}
body.dark .pull.left.vote {
    color: #FFFFFF;
}
body.dark a.lnkreply {
    color: #FFF;
}
body.dark .post+.post {
    border-top: 1px solid #412B19;
}
body.dark header {
    border-bottom: solid 1px #412B19;
}
body.dark .fa-inverse {
    color: #bdbdbd;
}
#toggledark i {
    color: inherit;
}
.search {
    position: relative;
    color: #000;
    font-size: 16px;
}
.search input {
    text-indent: 1em;
}
.search .fa-search {
    position: absolute;
    top: 0;
    left: 1em;
    color: darkgray;
}
.search button {
  padding: 15px 10px 10px 10px;
}

/* message page */

.inbox div a.btn {
    width: 100%;
}
.received-msgs {
    padding: 4px;
    border-right: 1px solid lightgray;
}
.sent-msgs {
    padding: 4px;
    border-left: 1px solid lightgray;
    position: relative;
    right: 1px;
}
.vote p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.vote p.count {
    text-align: center;
}
.upvoted {
    color: #080;
}
.downvoted {
    color: #800;
}
button#text-post-icon, button#link-post-icon {
    width: 80px;
    height: 80px;
    border: 0;
    background: transparent;
}
.fa.fa-envelope.hasmail {
    color: #fb5000;
}

/* edit sub */

#edit-sub-form input#title,
input#flair1,
input#flair2,
input#flair3,
input#flair4,
input#flair5,
input#flair6,
input#flair7,
input#flair8 {
    width: 70%;
    text-align: left;
    padding: 5px;
    border-radius: 2px;
    border: solid 1px lightgray;
}
input#nsfw,
input#restricted,
input#usercanflair {
    width: 30px;
}
#edit-sub-form h2 {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid #fb5000;
}

/* edit sub moderators */
.editmoderators.col-12 {
    border: 2px solid #D83600;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0;
}
#edit-mod2-form input#user,
#ban-user-form input#user {
    width: 40%;
    text-align: left;
    padding: 5px;
    border-radius: 2px;
    border: solid 1px lightgray;
}
.editmodbtn .removed,
.editmodbtn .revoked  {
    color: #fff;
    background-color: #ff0000;
}
.mod2-inv .accepted,
.mod2-inv .refused,
span.btn.accepted {
  color: #fff;
  background-color: green;
}
/* edit user */

.edituser {
    padding: 1.5em;
}
.edituser h1, .edituser h3 {
    text-align: center;
}
.edituser input[type='email'] {
    padding: 5px;
    border-radius: 2px;
    border: solid 1px lightgray;
}
.edituser .right {
    width: 70%;
    overflow: hidden;
}
.edituser .left {
    width: 25%;
    float: left;
    overflow: hidden;
}
.edituser .fullw {
    margin-left: 25%;
}
.col-3.btn.badgeassigned {
    background-color: green;
    color: #fff;
}

/* privacy tos*/

.content .privacy {
    padding: 10px;
}

/* admin area */
#create-user-badge input#badge,
#create-user-badge input#name,
#create-user-badge input#text,
#edit-mod-form input#sub,
#edit-mod-form input#user {
    width: 70%;
    text-align: left;
    padding: 5px;
    border-radius: 2px;
    border: solid 1px lightgray;
}
.edituser .adminbadges {
    padding: 5px;
    border-radius: 2px;
    border: solid 1px lightgray;
}
.adminbadges {
    margin-top:20px;
}
.admin.section {
    margin: 20px 0;
    padding: 20px;
}
.admin.section div h2 {
    margin: 10px;
    padding: 10px;
    border-top: #D3D3D3 solid;
}
.admin.section .col-12 {
    margin-top: 10px;
}
.admin.section.stats {
    font-size: 24px;
}
.admin.section.users a,
.admin.section.subs a {
    text-decoration: none;
}
.admin.section div .sub {
    margin: 10px 0;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.admin.section div .subname a,
.admin.section div .username a {
    margin: 0;
    font-size: 20px;
}
.admin.section div .subname,
.admin.section div .username {
    margin: 10px 0;
}
.admin.section.subs table.col-12 td,
.admin.section.users table.col-12 td {
    border-bottom: 1px solid #d3d3d3;
}
.admin.section ul {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
}
.admin.section .sub li {
    margin: 4px 0;
}
.col-12.admin-page-form {
    border: 2px solid #D83600;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0;
}
.admin.section.stats div {
    text-align: center;
}

/* api page */

article.post.apidoc {
    padding-top: 20px;
}
.post.apidoc span.get {
    color: #fff;
    background-color: #fb5b00;
    border-color: #fb5b00;
    padding: 8px;
    display: inline-block;
    border-radius: 2px;
    margin-right: 4px;
}

/* subscribe block sub */
.post .subscribed a {
    background-color: green;
    color: white;
}
.side .subscribed a {
    background-color: #fb5b00;
    color: white;
}
.post .blocked a {
    background-color: red;
    color: white;
}
.side .blocked a {
    background-color: red;
    color: white;
}
.side .subscribercount {
  font-size: 12px;
  height: 30px;
}

/* colors */
.red {color: red;}
.blue {color: blue;}
.green {color: green;}

span.bgred {
  padding: 4px;
  background-color: #e22;
  border-radius: 4px;
  color: #fff;
  font-size: small;
}

.announcementPost{
  background-color: #a22;
  border-radius:5px;
  color: white;
  display: inline-block;
  padding: 3px 8px;
  margin: 0px 6px;
}

.cus-die-six:before{content:"\2685";}

form .sub input{width:25em;}

.btn-editor{width: initial !important; }
.md-input{padding-left: 5px !important; padding-top:5px !important;}
.md-preview{padding-left: 5px !important;}
