{% extends "layout.html" %}
{% block title %}Admin - {{config.site.lema}}{% endblock %}

{% block sidebar %}
{{ super() }}
{% include 'admin/sidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<div id="center-container">
  <div class="content">
    {% if not enable_posting %}
      <div class="error" style="margin-top: 2em;">Posting has been temporarily disabled</div>
    {% endif %}
    {% if not enable_registration %}
      <div class="error" style="margin-top: 2em;">Registration has been temporarily disabled</div>
    {% endif %}
    <h1>Admin</h1>
    <div class="admin section stats">
      <table class="pure-table">
        <thead>
          <tr>
            <td>Users</td>
            <td>Subs</td>
            <td>Posts</td>
            <td>Comments</td>
            <td>votes</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{users}}</td>
            <td>{{subs}}</td>
            <td>{{posts}}</td>
            <td>{{comms}}</td>
            <td>+{{ups}} | -{{downs}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div class="admin section">
        <div class="col-12 admin-page-form">
          <h3>Announcements</h3>
          {% set ann = func.getAnnouncement() %}
          {%if not ann %}<h4>No active announcements</h4>
          {%else%}
          <div class="post">
            <a href="{{url_for('do.deleteannouncement')}}" class="btn btn-red">Nuke!</a> |
            <a href="{{url_for('site.view_post_inbox', pid=ann.pid)}}">{{ann.title}}</a> by {{ann.user}}, <relative-time datetime="{{ann.posted.isoformat()}}Z"></relative-time>
          </div>

          {%endif%}
      </div>
    </div>
    <hr>
    <div class="admin section invitecode">
      <div class="col-12 admin-page-form">
        <div>
          <form id="useinvitecode" class="ajaxform nice-form pure-form pure-form-aligned" method="POST" action="{{url_for('do.use_invite_code')}}" data-reload="true">
            {{useinvitecodeform.csrf_token}}
            <h2>Invite Code to register: {% if func.enableInviteCode() %}Enabled{% else %}Disabled{% endif %}</h2>
            <fieldset>
                <label for="enableinvitecode" class="pure-checkbox">
                  {{useinvitecodeform.enableinvitecode(checked=func.enableInviteCode())}} {{useinvitecodeform.enableinvitecode.label.text}}
                </label>
                <div class="pure-control-group">
                    <label for="confirm">{{useinvitecodeform.minlevel.label.text}}</label>
                    {{useinvitecodeform.minlevel(autocomplete="off", required=True)}}
                </div>
                <div class="pure-control-group">
                    <label for="confirm">{{useinvitecodeform.maxcodes.label.text}}</label>
                    {{useinvitecodeform.maxcodes(autocomplete="off", required=True)}}
                </div>
                  <button type="submit" class="pure-button pure-button-primary">Save</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <div class="admin section invitecode">
      <div class="col-12"><h2>Emergency Mode</h2>
      </div>
      <div class="col-12 admin-page-form">
        <div>
          {% if enable_posting %}
          <div>Disable posting for non-admin users</div>
          <a class="pure-button button-warning" href="{{url_for('do.enable_posting', value='False')}}">Disable Posting</a>
          {% else %}
          <div>Enable posting for non-admin users</div>
          <a class="pure-button button-error" href="{{url_for('do.enable_posting', value='True')}}">Enable Posting</a>
          {% endif %}
        </div>
      </div>
      <hr>
      <div class="col-12"><h2>Isolation Mode</h2>
      </div>
      <div class="col-12 admin-page-form">
        <div>
          {% if enable_registration %}
          <div>Disable registration for new users</div>
          <a class="pure-button button-warning" href="{{url_for('do.enable_registration', value='False')}}">Disable Registration</a>
          {% else %}
          <div>Enable registration for new users</div>
          <a class="pure-button button-error" href="{{url_for('do.enable_registration', value='True')}}">Enable Registration</a>
          {% endif %}
        </div>
      </div>
      <hr>
    </div>
    {% if config.site.enable_security_question %}
      <hr>
      <h2>Security questions</h2>
      <form  method="POST" style="margin-top: 1em" data-reload="true" action="{{url_for('do.create_question')}}" class="pure-form pure-form-aligned ajaxform">
        {{form.SecurityQuestionForm().csrf_token()}}
        Create new:
        {{form.SecurityQuestionForm().question(pattern="^[a-zA-Z0-9_- ?]+$", placeholder="Question")}}
        {{form.SecurityQuestionForm().answer(pattern="^[a-zA-Z0-9_- ?]+$", placeholder="Answer")}}
          <button type="submit" class="pure-button pure-button-primary">Create</button>
      </form><br/><br/>

      {% if not func.get_security_questions() %}
        No security questions.
      {%else%}
        {% for q in func.get_security_questions() %}
          Question: <b>{{q[1]}}</b> | Answer: <b>{{q[2]}}</b>
          <form  method="POST" data-reload="true" action="{{url_for('do.delete_question', xid=q[0])}}" class="ajaxform" style="display: inline-block; margin-left: 1em; margin-top: 5px;">
          {{useinvitecodeform.csrf_token()}}<button type="submit" class="pure-button button-xsmall" id="editsub-btnsubmit" data-prog="Deleting..." data-success="Deleted!">Delete</button></form>
          <br/>
        {% endfor %}
      {%endif%}
    {%endif%}
  </div>
</div>

{% endblock %}
