{% extends "layout.html" %}
{% block title %}Admin - {{config.LEMA}}{% endblock %}

{% block sidebar %}
{{ super() }}
{% include 'admin/sidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<div id="center-container">
  <div class="content">
    <h1>Admin</h1>
    <div class="admin section stats">
      <table class="pure-table">
        <thead>
          <tr>
            <td>Users</td>
            <td>Subs</td>
            <td>Posts</td>
            <td>Comments</td>
            <td>votes</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{users}}</td>
            <td>{{subs}}</td>
            <td>{{posts}}</td>
            <td>{{comms}}</td>
            <td>+{{ups}} | -{{downs}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div class="admin section">
        <div class="col-12 admin-page-form">
          <h3>Announcements</h3>
          {% set ann = func.getAnnouncement() %}
          {%if not ann %}<h4>No active announcements</h4>
          {%else%}
          <div class="post">
            <a href="{{url_for('do.deleteannouncement')}}" class="btn btn-red">Nuke!</a> |
            <a href="{{url_for('view_post_inbox', pid=ann.pid)}}">{{ann.title}}</a> by {{db.get_user_from_uid(ann.uid).name}}, <relative-time datetime="{{ann.posted.isoformat()}}Z"></relative-time>
          </div>

          {%endif%}
      </div>
    </div>
    <hr>
    <div class="admin section invitecode">
      <div class="col-12"><h2>Invite Code to register: {% if func.enableInviteCode() %}Enabled ({{func.getInviteCode()}}){% else %}Disabled{% endif %}</h2>
      </div>
      <div class="col-12 admin-page-form">
        <div>
          <form id="useinvitecode" class="nice-form" method="POST" action="{{url_for('do.use_invite_code')}}" data-redir="true" class="ajaxform">
            {{useinvitecodeform.csrf_token}}
            <div class="col-12"><label>{{useinvitecodeform.enableinvitecode(checked=func.enableInviteCode())}} {{useinvitecodeform.enableinvitecode.label.text}}</label></div>
            <div class="col-12">{{useinvitecodeform.invitecode(placeholder=useinvitecodeform.invitecode.label.text)}}</div>
            <div><button type="submit" class="btn btn-blue" id="useinvitecodeform-btnsubmit">Save</button></div>
            <div class="alert div-error">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              <p></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <div class="admin section invitecode">
      <div class="col-12"><h2>Emergency Mode</h2>
      </div>
      <div class="col-12 admin-page-form">
        <div>
          {% if enable_posting == 'True' %}
          <div>Disable posting for non-admin users</div>
          <a class="pure-button" href="{{url_for('do.enable_posting', value='False')}}">Disable Posting</a>
          {% else %}
          <div>Enable posting for non-admin users</div>
          <a class="pure-button" href="{{url_for('do.enable_posting', value='True')}}">Enable Posting</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% if config.ENABLE_SECURITY_QUESTIONS %}
      <hr>
      <h2>Security questions</h2>
      <form  method="POST" style="margin-top: 1em" data-reload="true" action="{{url_for('do.create_question')}}" class="pure-form pure-form-aligned ajaxform">
        {{form.SecurityQuestionForm().csrf_token()}}
        Create new:
        {{form.SecurityQuestionForm().question(pattern="^[a-zA-Z0-9_- ?]+$", placeholder="Question")}}
        {{form.SecurityQuestionForm().answer(pattern="^[a-zA-Z0-9_- ?]+$", placeholder="Answer")}}
          <button type="submit" class="pure-button pure-button-primary">Create</button>
      </form><br/><br/>

      {% if not func.get_security_questions() %}
        No security questions.
      {%else%}
        {% for q in func.get_security_questions() %}
          Question: <b>{{q[1]}}</b> | Answer: <b>{{q[2]}}</b>
          <form  method="POST" data-reload="true" action="{{url_for('do.delete_question', xid=q[0])}}" class="ajaxform" style="display: inline-block; margin-left: 1em; margin-top: 5px;">
          {{useinvitecodeform.csrf_token()}}<button type="submit" class="pure-button button-xsmall" id="editsub-btnsubmit" data-prog="Deleting..." data-success="Deleted!">Delete</button></form>
          <br/>
        {% endfor %}
      {%endif%}
    {%endif%}
  </div>
</div>

{% endblock %}
