{% extends "layout.html" %}
{% block title %}Admin - {{config.site.lema}}{% endblock %}

{% block head %}
{{ super() }}
<script src="{{url_for('static', filename='sorttable.js')}}"></script>
{% endblock %}

{% block sidebar %}
{{ super() }}
{% include 'admin/sidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}

<div id="center-container">
  <div class="content">
    <h2>Banned Domains</h2>
    <div class="admin section domains">
      <hr>
      <div class="col-12 admin-page-form">
        <form class="nice-form ajaxform" method="POST" id="BanDomainForm" action="{{url_for('do.ban_domain')}}" data-reload="true">
          {% set bandomainform = form.BanDomainForm()%}
          {{bandomainform.csrf_token}}
          <h4>Add domain</h4>
          <div class="col-12">{{bandomainform.domain(placeholder=bandomainform.domain.label.text, required=True)}}</div>
          <div class="col-3"><button type="submit" class="pure-button" data-prog="Sending..." id="banneddomainform-btnsubmit">Add</button></div>
          <div class="alert div-error"></div>
        </form>
      </div>
    <hr>

      <div class="col-12">
        <table class="col-12 domains sortable pure-table">
          <thead>
            <tr>
              <th>Domain</th>
            </tr>
          </thead>
          <tbody>
            {% for domain in domains %}
            <tr>
              <td>{{domain.value}} <button data-domain="{{domain.value}}" type="submit" class="removebanneddomain pure-button">remove</button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
