{% extends "layout.html" %}
{% block title %}Admin - {{config.LEMA}}{% endblock %}

{% block head %}
{{ super() }}
<script src="{{url_for('static', filename='js/sorttable.js')}}"></script>
{% endblock %}

{% block sidebar %}
{{ super() }}
{% include 'admin/sidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}

<div id="center-container">
  <div class="content">
    <h2>Mining Info</h2>
    <div class="admin section">
      <div>
				<div class="">
          <div id="minerstats" style="display: block;">
            <div>
              {% set hashrate = func.getCurrentHashrate() %}
              <div id="miningstats">
                <ul>
                  {% set userstats = func.getCurrentUserStats(current_user.name) %}
                  <li>Current user: <b id="nm">{{current_user.name}}</b></li>
                  <li>Your score: <b id="bal">{{userstats['balance']}}</b></li>
                  <li>Current site hashrate: <b id="hps">{{hashrate['hash']}}</b> H/s</li>
                  <li>Current site total hashes: <b id="ht">{{hashrate['totalHashes']}}</b></li>
                  <li>Total XMR pending: <b id="xpe">{{hashrate['amtDue']}}</b> XMR</li>
                  <li>Total XMR paid to phuks: <b id="xpa">{{hashrate['amtPaid']}}</b> XMR</li>
                </ul>
              </div>
            </div>
          </div>
          <div style="display: block;">
            {% cache 60, 'hashleaderboard' %}
              <h3>Hashing power</h3>
              {% set leaderboard = func.getHPLeaderboard() %}
              <div id="speedleaderboard">
                <table>
                  {% for user in leaderboard %}
                    <tr>
                      <td class="center">{{loop.index}}</td>
                      <td><span id="top{{loop.index}}name">{{user['username']}}</span></td>
                      <td><b><span id="top{{loop.index}}score">{{"{:,}".format(user['hashes'])}}</span></b> H/s</td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            {%endcache%}
          </div>
					<div style="display: block;">
						<h3>Total contributed</h3>
						{% cache 60, 'adminminerleaderboard' %}
							{% set leaderboard = func.getAdminMiningLeaderboard() %}
							<div id="miningleaderboard">
								<table>
									{% for user in leaderboard %}
										<tr>
											<td class="center">{{loop.index}}</td>
											<td><span id="top{{loop.index}}name">{{user['username']}}</span></td>
											<td><b><span id="top{{loop.index}}score">{{"{:,}".format(user['score'])}}</span></b></td>
										</tr>
									{% endfor %}
								</table>
							</div>
						{%endcache%}
					</div>
				</div>
			</div>
    </div>
  </div>
</div>

{% endblock %}
