<a href="{{url_for('admin_area')}}" class="sbm-post pure-button">Admin</a>
<hr>
<a href="{{url_for('view_admins')}}" class="sbm-post pure-button">Admins</a>
<a href="{{url_for('admin_users')}}" class="sbm-post pure-button">Users</a>
<hr>
<a href="{{url_for('admin_subs')}}" class="sbm-post pure-button">Subs</a>
<a href="{{url_for('admin_posts')}}" class="sbm-post pure-button">Posts</a>
<hr>
<a href="{{url_for('admin_user_uploads')}}" class="sbm-post pure-button">Uploads</a>
<a href="{{url_for('admin_domains')}}" class="sbm-post pure-button">Banned Domains</a>
<hr>
<a href="{{url_for('view_sitelog')}}" class="sbm-post pure-button">Sitelog</a>
