{% extends "layout.html" %}
{% block title %}Uploads | {{config.LEMA}}{% endblock %}

{% block sidebar %}
{{ super() }}
  {% include 'admin/sidebar.html' %}
  <hr>
  <h3 class="center">Allowed to upload</h3>
  {% set users = db.get_users_metadata('canupload', '1') %}
  {% for user in users %}
    <div>• {{db.get_user_from_uid(user.uid).name}}</div>
  {% endfor %}
{% endblock %}

{% block content %}
{{ super() }}
{% if not uploads %}<h3 class="noshit">There are no uploads, yet.</h3>{% endif %}
<div id="center-container">
  <div class="uploads content">
      {% for item in uploads %}
        <div class="uploaditem">
          {% if item.thumbnail != '' %}
            <div class="uploadthumb">
              <img src="{{config.THUMBNAIL_HOST}}{{item.thumbnail}}"/>
            </div>
          {% else %}
            <div class="uploadthumb">
              <span class="placeholder" data-icon="link"></span>
            </div>
          {% endif %}
          <div class="uploadlinks">
            <div class="uploadlink"><a href="{{url_for('view_post_inbox', pid=item.pid)}}">View Post</a></div>
            <div class="uploadlink"><a href="{{config.STORAGE_HOST}}{{item.fileid}}">Direct Link</a></div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>
<div class="col-12">
  {% if page > 1 %}
  <a href="{{url_for('admin_user_uploads', page=(page-1))}}" class="pure-button">prev</a>
  {% endif %}
  {% if subs|length == 30 %}
  <a href="{{url_for('admin_user_uploads', page=(page+1))}}" class="pure-button">next</a>
  {% endif %}
</div>
{% endblock %}
