
/* all text not tagged */
body.dark {
    color: #949494;
}


body.dark .th-navbar {
    background-color: #0A0A0A;
}

body.dark .content {
    background-color: #101010;
    border-right: 1px transparent;
    border-bottom: 1px transparent;
}

body.dark .post:nth-child(2n) {
    background-color: #0d0d0d;
}

body.dark a.prev,
body.dark a.next {
    margin: 20px;
    padding: 10px 20px;
    border: 2px solid #1b1b1b;
    background: #0d0d0d;
}

body.dark .sidebar {
    background-color: #1b1b1b;
}

body.dark .score {
    color: #ddd;
}

body.dark .upvote, downvote {
    color: #888;
}

body.dark .downvote {
    color: #888;
}

body.dark #th-menu a.pure-menu-link:hover,
body.dark #th-menu li[active='true'] a {
    background-color: #1b1b1b;
}

body.dark .footer {
    background-color: #0a0a0a;
    color: #ddd;
}

body.dark .expando {
    background-color: #000;
    color: #e5e5e5;
}

body.dark .expandotxt {
    color: #e5e5e5;
    background-color: #101010;
}

body.dark .tweetwrapper {
    color: #e5e5e5;
}

body.dark .post .title {
    color: #ab4409;
}

body.dark .post .title:visited {
    color: #186b9c;
}

body.dark .post .title:hover {
    color: #3391ca;
}

body.dark .cw-items a {
    color: #bbb !important;
}

body.dark abbr[title] {
    border-bottom: 1px dotted;
    color: #bbb
}

body.dark .subscriptionbar a {
    color: #ab4409;
}

body.dark .subscriptionbar {
    background: #101010;
    border-bottom: 1px solid #412b19;
}

body.dark path.th-l-fill {fill: #ccc;}
body.dark path.th-l-stroke {stroke: #ccc;}

body.dark #toggledark i {color: yellow;}

body.dark div.postContent {
  background-color: #0a0a0a;
  -webkit-box-shadow: 8px 8px 5px 0px rgba(11,11,11,1);
  -moz-box-shadow: 8px 8px 5px 0px rgba(11,11,11,1);
  box-shadow: 8px 8px 5px 0px rgba(11,11,11,1);
  border: 1px solid #050505;
}

/* post page */
body.dark article.comment.even {
  border-bottom: 1px solid #050505;
}
body.dark article.comment.even {
  background-color: #0a0a0a;
}
body.dark article.comment.odd {
  background-color: #101010;
  border: 1px solid #181818;
}

/* top 5 sidebar */
body.dark .sidebar ul.top5 {
    color: #5d5454;
    border-top: 2px dotted #3e3e3e;
}
body.dark .sidebar ul.top5 li a {
    color: #ab4409;
}
body.dark div.TPlocal a {
    color: #4b6d9d !important;
}
body.dark div.top5title {
  color: #4b6d9d;
  background-color: #101010;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(11,11,11,1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(11,11,11,1);
  box-shadow: 5px 5px 5px 0px rgba(11,11,11,1);
}
body.dark div.TPlocal a:visited {
    color: #186b9c !important;
}
