{% extends "layout.html" %}
{% block title %}Throat: Open discussion{% endblock %}

{% block content %}
{{ super() }}
    {# Insert something here... #}
    <article class="post">
      <a class="preview" href="#">
        <img class="img" src="{{url_for('static', filename='test.jpg')}}" alt="Thumbnail"/>
      </a>
      <div class="preview">
        <a class="title" href="#">Example post</a>
        <p class="author">5 hours ago</p>
        <p class="container">
          <a href="#" class="btn small"><i class="fa fa-users" aria-hidden="true"></i> sub/example</a>
          <a href="#" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> KernelFreeze</a>
          <a href="#" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> Comments (12)</a>
        </p>
      </div>
    </article>
    <hr>
    <article class="post">
      <a class="preview" href="#">
        <img class="img" src="{{url_for('static', filename='test.jpg')}}" alt="Thumbnail"/>
      </a>
      <div class="preview">
        <a class="title" href="#">Example post</a>
        <p class="author">5 hours ago</p>
        <p class="container">
          <a href="#" class="btn small"><i class="fa fa-users" aria-hidden="true"></i> sub/whoo</a>
          <a href="#" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> Polsaker</a>
          <a href="#" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> Comments (600)</a>
        </p>
      </div>
    </article>
{% endblock %}
