{% extends "layout.html" %}
{% block title %}Throat: Open discussion{% endblock %}
{% block sidebar %}
{{ super() }}
{% if 'user' in session %}
<div class="row buttons">
  <div class="col-12">
    <a href="#csub-form" class="btn btn-blue create-sub" style="width:100%;">Create your own sub</a>
  </div>
</div>
{% endif %}
{% endblock %}
{% block content %}
{{ super() }}

{% if not posts %}<h1 class="noshit">There are no posts here, yet.</h1>{% endif %}

{% for post in posts %}
    <article class="post">
      <div class="image">
        {% if not post.link %}
        <a href="#"><img src="{{url_for('static', filename='img/textpost.png')}}" alt="Text post"/></a>
        {% endif %}
      </div>
      <div class="main">
        <a class="title" href="{{url_for('view_post', sub=post.sub.name, pid=post.pid)}}">{{post.title}}</a>
        <p class="author">posted to  <a href="{{url_for('view_sub', sub=post.sub.name)}}">{{post.sub.name}}</a>,
          <relative-time datetime="{{post.posted.isoformat()}}"></relative-time>
        <p class="container">
          <a href="{{url_for('view_user', user=post.user.name)}}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> {{post.user.name}}</a>
          <a href="{{url_for('view_post', sub=post.sub.name, pid=post.pid)}}" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> Comments</a>
          </p>
      </div>
    </article>
{% endfor %}
{% endblock %}
