{% extends "layout.html" %}
{% block title %}Throat: Open discussion{% endblock %}

{% block content %}
{{ super() }}
    {# Insert something here... #}
    <article class="post">
      <a class="thumbnail preview" href="#">
        <img class="img" src="https://cdn.voat.co/thumbs/86de20cd-bf3c-4c07-be71-cc71a042f9c7.jpg" alt="Thumbnail"/>
      </a>
      <div class="preview">
        <a class="title" href="#">Example post</a> <a class="post sub" href="#">(sub/example)</a>
        <p class="author">posted XXX hours ago by KernelFreeze to Throat (+999|-0)</p>
        <p class="comments">999 comments</p>
      </div>
    </article>
    <article class="post alternate">
      <a class="thumbnail preview" href="#">
        <img class="img" src="https://cdn.voat.co/thumbs/86de20cd-bf3c-4c07-be71-cc71a042f9c7.jpg" alt="Thumbnail"/>
      </a>
      <div class="preview">
        <a class="title" href="#">Example post</a> <a class="post sub" href="#">(sub/example)</a>
        <p class="author">posted XXX hours ago by KernelFreeze to Throat (+999|-0)</p>
        <p class="comments">999 comments</p>
      </div>
    </article>
{% endblock %}
