{{ checkSession() or '' }}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="keywords" content="forum, vote, comment, submit, throat, internet">
    <meta name="description" content="Throat: Open discussion">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    {% assets "css_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    {% endblock %}
  </head>
  <body>
    <div class="row">
      <header class="col-12">
        <nav id="navbar">
          <ul>
            <li><a href='/'><img id="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Throat" height="30" width="100"></a></li>
            <li><a href="#">Hot</a></li>
            <li><a href="#">New</a></li>
            <li><a href="#">Active</a></li>
            {% block navbar %}{% endblock %}
          </ul>
        </nav>
      </header>
    </div>
    <div class="row content">
      <div class="col-3 side right">
        {% block sidebar %}
        <div style="text-align: left; margin: 0.5em;">
          {% block search %}
          <input type="search" name="search" placeholder="Search...">
          {% endblock %}
        </div>
        <div class="row buttons">
        {% if 'user' not in session %}
          <div class="col-6">
            <a href="#login-form" class="btn login">Login</a>
          </div>
          <div class="col-6">
            <a href="#register-form" class="btn register">Register</a>
          </div>
        {% else %}
         <form method="POST" action="{{ url_for('do_logout') }}">
           {{ logoutform.csrf_token }}
           <div class="col-6">
           <button type="submit" class="btn">Log out</button>
           </div>
           <div class="col-2 right">
             <button type="button" class="config"><i class="fa fa-cog" aria-hidden="true"></i></button>
           </div>
         </form>
        {% endif %}
        </div>
        {% endblock %}
      </div>
      <main class="col-8 right">{% block content %}{% endblock %}</main>
    </div>
    <footer>
        {% block footer %}
        Copyright &copy;2016 Throat. All Rights Reserved.
        {% endblock %}
    </footer>
    {% if 'user' not in session %}
    <!-- login form -->
    <form id="login-form" class="mfp-hide white-popup-block">
    	<h1>Login</h1>
        {{ loginform.csrf_token }}
    	<p id="login-intro">Do you have an account?</p>
    	<p>{{loginform.username(placeholder=loginform.username.label.text, required=True, autofocus=True, pattern="[a-zA-Z0-9_-]+", title="Alphanumeric characters plus '-' and '_'")}}</p>
    	<p>{{loginform.password(placeholder=loginform.password.label.text, required=True)}}</p>
        <div class="alert div-error">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <p></p>
        </div>
        <p><button type="submit" id="login-btnsubmit">Log in</button></p>
    </form>
    <!-- register form -->
    <form id="register-form" class="mfp-hide white-popup-block">
        <div id="the-register-form-itself">
            {{ regform.csrf_token }}
            <h1>Register</h1>
            <p>Registering is free. All you need is a username and password.</p>
            <p>{{regform.username(placeholder=regform.username.label.text, required=True, autofocus=True, pattern="[a-zA-Z0-9_-]+", title="Alphanumeric characters plus '-' and '_'")}}</p>
            <p>{{regform.password(placeholder=regform.password.label.text, required=True, autocomplete="off")}}</p>
            <p>{{regform.email(placeholder=regform.email.label.text, required=True)}}</p>
            <p>{{regform.confirm(placeholder=regform.confirm.label.text, required=True, autocomplete="off")}}</p>
            <p>
                {{regform.accept_tos(style="width: auto", required=True)}}
                <label for="tos">{{regform.accept_tos.label.text}}</label>
            </p>
            {{regform.recaptcha}}
            <div class="alert div-error">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              <p></p>
            </div>
            <p><button type="submit" id="reg-btnsubmit">Register</button></p>
        </div>
    </form>
    {%else%}
    <!-- create sub form -->
    <form id="csub-form" class="mfp-hide white-popup-block">
      {{ csubform.csrf_token }}
      <h1>Create sub</h1>
      <p>Create a sub. For you, for your friends or your favorite community</p>
      <p>{{csubform.subname(placeholder=csubform.subname.label.text, required=True, autofocus=True, pattern="[a-zA-Z0-9_-]+", title="Alphanumeric characters plus '-' and '_'")}}</p>
      <p>{{csubform.title(placeholder=csubform.title.label.text, required=True)}}</p>
      <div class="alert div-error">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p></p>
      </div>
      <p><button type="submit" id="csub-btnsubmit">Create sub</button></p>
    </form>
    {% endif %}
    <!-- Scripts -->
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {%block pagefoot%}{%endblock%}
  </body>
</html>
