{% extends "layout.html" %}
{% block title %}{{sub_title}} | Throat: Open discussion{% endblock %}
{% block navbar %}
<ul class="right">
  <li><a href="{{url_for('view_sub', sub=sub)}}">{{sub}}</a></li>
</ul>
{% endblock %}

{% block sidebar %}
{{ super() }}<hr/>
<div class="row buttons">
  <div class="col-12">
    <a href="#post-form" class="btn btn-blue create-post" style="width:100%;">Submit a text post</a>
  </div>
</div>
{% endblock %}

{% block content %}
{{ super() }}
{% if not posts %}<h1 class="noshit">There are no posts here, yet.</h1>{% endif %}
{% for post in posts %}
    <article class="post">
      <div class="image">
        {% if not post.link %}
        <a href="#"><img src="{{url_for('static', filename='img/textpost.png')}}" alt="Text post"/></a>
        {% endif %}
      </div>
      <div class="main">
        <a class="title" href="#">{{post.title}}</a>
        <p class="author"><relative-time datetime="{{post.posted.isoformat()}}"></relative-time></p>
        <p class="container">
          <a href="#" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> {{post.user.name}}</a>
          <a href="#" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> Comments</a>
        </p>
      </div>
    </article>
{% endfor %}
<form id="post-form" data-sub="{{sub}}" class="mfp-hide white-popup-block">
  {{txtpostform.csrf_token}}
  <h1>Submit a text post</h1>
  <p>{{txtpostform.title(placeholder=txtpostform.title.label.text, required=True, autofocus=True)}}</p>
  <p>{{txtpostform.content(placeholder=txtpostform.content.label.text, required=True, rows=10)}}</p>
  <div class="alert div-error">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p></p>
  </div>
  <p><button type="submit" id="txpost-btnsubmit">Submit post</button></p>

</form>

{% endblock %}
