{% extends "layout.html" %}
{% block title %}{{sub_title}} | Throat: Open discussion{% endblock %}
{% block navbar %}
<ul class="right">
  <li><a href="{{url_for('view_sub', sub=sub)}}">{{sub}}</a></li>
</ul>
{% endblock %}

{% block sidebar %}
{{ super() }}<hr/>
<div class="row buttons">
  <div class="col-12">
    <a href="#post-form" class="btn btn-blue create-sub" style="width:100%;">Submit a text post</a>
  </div>
</div>
{% endblock %}

{% block content %}
{{ super() }}
    <article class="post">
      <div class="image">
        <a href="#"><img src="{{url_for('static', filename='test.jpg')}}" alt="Thumbnail"/></a>
      </div>
      <div class="main">
        <a class="title" href="#">Example post</a>
        <p class="author">5 hours ago</p>
        <p class="container">
          <a href="#" class="btn small"><i class="fa fa-users" aria-hidden="true"></i> sub/example</a>
          <a href="#" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> KernelFreeze</a>
          <a href="#" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> Comments (12)</a>
        </p>
      </div>
    </article>
    <hr>
    <article class="post">
      <div class="image">
        <a href="#"><img src="{{url_for('static', filename='test.jpg')}}" alt="Thumbnail"/></a>
      </div>
      <div class="main">
        <a class="title" href="#">Example post</a>
        <p class="author">5 hours ago</p>
        <p class="container">
          <a href="#" class="btn small"><i class="fa fa-users" aria-hidden="true"></i> sub/whoo</a>
          <a href="#" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> Polsaker</a>
          <a href="#" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> Comments (800)</a>
        </p>
      </div>
    </article>
{% endblock %}
