{% extends "layout.html" %}
{% block title %}/u/{{user.name}} | Throat: Open discussion{% endblock %}
{% block navbar %}
<ul class="right">
  <li><a href="{{url_for('view_user', user=user.name)}}">{{user.name}}</a></li>
</ul>
{% endblock %}

{% block sidebar %}
{{ super() }}<hr/>
<div class="row buttons">
  <!-- TODO edit user profile
  <div class="col-12">
    <a href="#edituser-form" class="btn btn-blue create-post" style="width:100%;">Edit profile</a>
  </div>
  -->
</div>
{% endblock %}

{% block content %}
{{ super() }}
    <article class="post">
      <div class="image">
        <a href="#"><img src="{{url_for('static', filename='img/textpost.png')}}" alt="User Img"/></a>
      </div>
      <div class="main">
        <p class="title">{{user.name}}</p>
        <p class="joindate">Member since: <relative-time datetime="{{ user.joindate.isoformat() }}"></relative-time></p>
        <p>
          Badges:
          <ul>
          {# for badges in user #}
            <li><img src="{{url_for('static', filename='img/textpost.png')}}" alt="{# badge.name #}"/></li>
          {# endfor #}
          </ul>
        </p>
        <p>
          Recent Posts:
          <ul>
          {% for post in user.posts %}
            <li><a href="#">{{ post.title }} - Post Title</a></li>
          {% endfor %}
          </ul>
        </p>
        <p>
          Recent Comments:
          <ul>
          {# for comments in user #}
            <li><a href="#">{# post.title #}</a></li>
          {# endfor #}
          </ul>
        </p>
      </div>
    </article>
{% endblock %}
