{% extends "layout.html" %}
{% block title %}/u/{{user}} | Throat: Open discussion{% endblock %}
{% block navbar %}
<ul class="right">
  <li><a href="{{url_for('view_user', user=user.name)}}">{{user}}</a></li>
</ul>
{% endblock %}

{% block sidebar %}
{{ super() }}<hr/>
<div class="row buttons">
  <!-- TODO edit user profile
  <div class="col-12">
    <a href="#edituser-form" class="btn btn-blue create-post" style="width:100%;">Edit profile</a>
  </div>
  -->
</div>
{% endblock %}

{% block content %}
{{ super() }}
    <article class="post">
      <div class="image">
        <a href="#"><img src="{{url_for('static', filename='img/textpost.png')}}" alt="User Img"/></a>
      </div>
      <div class="main">
        <p class="title">{{user}}</p>
        <!-- date joined -- TODO joindate
        <p class="joindate">Member for: <relative-time datetime="{{user.joindate.isoformat()}}"></relative-time></p>
        -->
        <!-- Badges --
        <p>
          Badges:
          <ul>
          {% for badges in user %}
            <li><img src="{{url_for('static', filename='img/badges.png')}}" alt="{{badge.name}}"/></li>
          {% endfor %}
          </ul>
        </p>
        -->
        <!-- Recent Posts --
        <p>
          Recent Posts:
          <ul>
          {% for SubPost in user %}
            <li><a href="#">{{post.title}}</a></li>
          {% endfor %}
          </ul>
        </p>
        -->
        <!-- Recent Comments --
        <p>
          Recent Comments:
          <ul>
          {% for comments in user %}
            <li><a href="#">{{post.title}}</a></li>
          {% endfor %}
          </ul>
        </p>
        -->
      </div>
    </article>
{% endblock %}
