{% extends "layout.html" %}
{% block title %}Blocked users | {{config.site.lema}}{% endblock %}

{% block navbar %}
{% endblock %}

{% block sidebar %}
{{ super() }}
{% include 'messages/sidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<div id="container">
  {% if igns %}

    {% for ig in igns %}
    <li><span class="postflair">{{func.getUser(ig).name}}</span>
      <form  method="POST" data-reload="true" action="{{url_for('do.ignore_user', uid=ig)}}" class="ajaxform" style="display: inline-block; margin-left: 1em; margin-top: 5px;">
      <button type="submit" class="pure-button button-xsmall" id="editsub-btnsubmit" data-prog="Deleting..." data-success="Deleted!">Vymazať</button></form>
    {% endfor %}
  {% else %}
  <h4>Nikoho neblokuješ</h4>
  Blokovať môžeš v Inboxe.
  {%endif%}
</div>
{% endblock %}
