{% extends "layout.html" %}
{% block title %}Blocked users | {{config.site.lema}}{% endblock %}

{% block navbar %}
{% endblock %}

{% block sidebar %}
{{ super() }}
{% include 'messages/sidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<div id="container">
  <div class="inbox content">
    <h3 style="display: inline-block;"><span class="p-icon" data-icon="mail" style="display: inline-block;"></span> Blocked Users</h3>
    {% if igns %}
    <p class="helper-text">Messages from the users you have blocked will not be shown in your Inbox.</p>
    <ul>
      {% for ig in igns %}
      <li>{{func.getUser(ig).name}}
        <form  method="POST" data-reload="true" action="{{url_for('do.ignore_user', uid=ig)}}" class="ajaxform" style="display: inline-block; margin-left: 1em; margin-top: 5px;">
          <button type="submit" class="pure-button button-xsmall" id="editsub-btnsubmit" data-prog="Deleting..." data-success="Unblocked!">Unblock</button>
        </form>
      </li>
      {% endfor %}
    </ul>
  {% else %}
  <h4>You haven't blocked anybody</h4>
  You can block users from the inbox.
  {%endif%}
  </div>
</div>
{% endblock %}
