{% extends "layout.html" %}
{% block title %}My messages | {{config.LEMA}}{% endblock %}

{% block navbar %}
{% endblock %}

{% block sidebar %}
{{ super() }}
{% include 'messages/sidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<div id="center-container">
  <div class="inbox content">
    <div class="user-activity col-12">
      <h3><span class="p-icon" data-icon="mail" style="display: inline-block;"></span> Inbox</h3>
      {% for message in messages %}
        <article class="pmessage post{% if not message.read %} newmsg{% endif %}">
          <div class="main">
            <p class="title">{{message.subject}}</p>
            <p class="container">{{markdown(message.content)|safe}}</p>
            <p class="author"><time-ago datetime="{{message.posted.isoformat()}}Z"></time-ago></p>
            <p class="container">
              <a href="{{url_for('view_user', user=message.username)}}" class="btn small">/u/{{message.username}}</a>
              {% if message.read %}
                <a class="read">read <time-ago datetime="{{message.read.isoformat()}}Z"></time-ago></a>
              {% else %}
                <a class="readmsg" data-mid="{{message.mid}}">mark as read</a>
              {% endif %}
              <a href="#msg-form" data-mid="{{message.mid}}" data-replyto='{{message.username}}' data-replytitle='{{message.subject}}' class="replymsg">reply</a>
              <!--<a class="btn small">forward</a>-->
              <a class="savemsg" data-mid="{{message.mid}}">save</a>
              <a class="deletemsg" data-mid="{{message.mid}}">delete</a>
            </p>
          </div>
          <div id="replyto{{message.mid}}"></div>
        </article>
      {% endfor %}
    </div>
    {% include 'messages/nav.html' %}
  </div>
</div>

<div id="msgpop" style="display:none;">
  <span class="closemsg">&times;</span>
  <div class="modal-content">
    <form data-reset="true" id="msg-form" action="{{url_for('do.create_sendmsg')}}" data-redir="{{url_for('inbox_sort')}}" class="pure-form pure-form-aligned ajaxform">
      {% set msgform = form.CreateUserMessageForm()%}
      {{msgform.csrf_token}}
      <h3>Send user message</h3>
      <fieldset>
        <div id="lto" class="pure-control-group">
          <label for="to">User</label>
          {{msgform.to(placeholder=msgform.to.label.text, required=True)}}
        </div>
        <div class="pure-control-group">
          <label for="subject">Subject</label>
          {{msgform.subject(placeholder=msgform.subject.label.text, required=True)}}
        </div>
        <div class="pure-control-group markdown-editor">
          {{msgform.content(placeholder="Styling with Markdown format is supported.", rows="10", **{'data-provide' :"markdown"})}}
        </div>
        <div class="pure-controls">
          {% if error %}
            <div class="error">{{error}}</div>
          {%endif%}
          <button type="submit" id="msg-btnsubmit" class="pure-button pure-button-primary" data-prog="Sending...">Send Message</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
