{% extends "layout.html" %}
{% block title %}Moje správy | {{config.site.lema}}{% endblock %}

{% block navbar %}
{% endblock %}

{% block sidebar %}
{{ super() }}
{% include 'messages/sidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<div id="center-container">
  <div class="inbox content">
    <div class="user-activity col-12">
      <h3 style="display: inline-block;"><span class="p-icon" data-icon="mail" style="display: inline-block;"></span> {{box_name}}</h3>
      - <span class="links"><a class="markall">Označiť všetky ako prečítané</a></span>
      {% for message in messages %}
        <article class="pmessage post{% if not message.read %} newmsg{% endif %}">
          <div class="main">
            <p class="title">{{message.subject}}</p>
            <p class="container">{{markdown(message.content)|safe}}</p>
            <p class="author">&#10148;
              Odoslané <time-ago datetime="{{message.posted.isoformat()}}Z"></time-ago>
              {% if message.username %}
                používateľom <a href="{{url_for('user.view', user=message.username)}}">{{message.username}}</a>
                {% if message.sub %}
                  [ako moderátor skupiny <a href="{{url_for('sub.view_sub', sub=message.sub)}}">{{config.site.sub_prefix}}/{{message.sub}}</a>]
                {% endif %}
              {% elif message.sub %}
                moderátormi skupiny <a href="{{url_for('sub.view_sub', sub=message.sub)}}">{{config.site.sub_prefix}}/{{message.sub}}</a>
              {% else %}
                webom <a href="#">{{config.site.name}}</a>
              {% endif %}
            </p>
            <p class="container">
              {% if message.username or message.sub %}
                <a href="#msg-form" data-mid="{{message.mid}}" class="replymsg">reagovať</a>
              {% endif %}
              {% if not message.read %}
                <a class="readmsg" data-mid="{{message.mid}}">označiť ako prečítané</a>
              {% endif %}
              <!--<a class="btn small">forward</a>-->
              {% if message.username and not message.sub %}
                <a class="block" data-uid="{{message.sentby}}">{{_("block sender") if message.sentby not in func.get_ignores(current_user.uid) else _("unblock sender")}}</a>
              {% endif %}
              <a class="savemsg" data-mid="{{message.mid}}">uložiť</a>
              <a class="deletemsg" data-mid="{{message.mid}}">vymazať</a>
            </p>
          </div>
          <div id="replyto{{message.mid}}"></div>
        </article>
      {% endfor %}
    </div>
    {% include 'messages/nav.html' %}
  </div>
</div>
{% include 'messages/reply.html' %}
{% endblock %}
