{% extends "layout.html" %}
{% block title %}My messages | {{config.LEMA}}{% endblock %}

{% block navbar %}
{% endblock %}

{% block sidebar %}
{{ super() }}
{% include 'messages/sidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<div id="center-container">
  <div class="content">
    <div class="user-activity col-12">
      <h3><span class="p-icon{% if current_user.new_postreply_count() > 0 %} hasmail{% endif %}" data-icon="mail" style="display: inline-block;"></span> Post Replies</h3>
      {% for message in messages %}
        <article class="pmessage post" data-replyto='{{message.sentby}}' data-sub='{{func.getCommentSub(message.mlink).name}}' data-post='{{db.get_comment_from_cid(message.mlink).pid}}' data-parent='{{message.mlink}}' data-replytitle='Re: {{message.subject}}'>
          <div class="main">
            <div class="pull left votecomment" style="margin-right: 10px;">
              {# vote arrow div
                <div title="Upvote" class="c-upvote{%if comment.positive == True %} upvoted{%endif%}" data-pid="{{post.pid}}" data-icon="upvote"></div>
                <div title="Downvote" class="c-downvote{%if comment.positive == False %} downvoted{%endif%}" data-pid="{{post.pid}}" data-icon="downvote"></div>
              #}
            </div>
            <p class="title"><a href="{{url_for('view_comment_inbox', cid=message.mlink)}}">{{message.subject}}</a></p>
            <p class="container">{{markdown(db.get_comment_from_cid(message.mlink).content)|safe}}</p>
            <p class="author"><time-ago datetime="{{message.posted.isoformat()}}Z"></time-ago></p>
            <p class="container">
              <a href="{{url_for('view_user', user=db.get_user_from_uid(message.sentby).name)}}" class="btn small">/u/{{db.get_user_from_uid(message.sentby).name}}</a>
              {% if not message.read %}
                <a class="unread btn btn-orange edit small" data-mid="{{message.mid}}">new</a>
              {% else %}
                <a class="read btn small">read <time-ago datetime="{{message.read.isoformat()}}Z"></time-ago></a>
              {% endif %}
              <a href="#comment-form" class="btn small replycomment popup">reply</a>
              <a href="{{ url_for('view_perm', sub=func.getCommentSub(message.mlink).name, pid=db.get_comment_from_cid(message.mlink).pid, cid=message.mlink) }}" class="btn small">permalink</a>
              <a class="savepm btn small btn-green" data-mid="{{message.mid}}">save</a>
              <a class="delete btn small btn-red" data-mid="{{message.mid}}">delete</a>
            </p>
          </div>
        </article>
      {% endfor %}
    </div>
    {% include 'messages/nav.html' %}
  </div>
</div>

<form data-reset="true" method="POST" data-redir='true' action="{{url_for('do.create_comment', sub='0', pid='0')}}" class="ajaxform comment-form mfp-hide white-popup-block" id="comment-form">
  <h2>Reply to comment</h2>
  {{commentform.csrf_token}}
  {{commentform.sub()}}
  {{commentform.post()}}
  {{commentform.parent(value='0')}}
  <div class="CommentContent">{{commentform.comment(id="comment2", placeholder="Write your comment here. Styling with Markdown format is supported.", rows="10", **{'data-provide' :"markdown"})}}</div>
  <button type="submit" class="btn btn-orange">Submit comment</button>
</form>

{% endblock %}

{%block pagefoot%}
{%endblock%}
