<div id="msgpop" style="display:none;">
  <span class="closemsg">&times;</span>
  <div class="modal-content">
    <form data-reset="true" id="msg-form" action="{{url_for('do.create_sendmsg')}}" data-redir="{{url_for('messages.inbox_sort')}}" class="pure-form pure-form-aligned ajaxform">
      {% set msgform = form.CreateUserMessageForm()%}
      {{msgform.csrf_token}}
      <div class="hide">
        {{msgform.to(placeholder=msgform.to.label.text, required=True)}}
        {{msgform.subject(placeholder=msgform.subject.label.text, required=True)}}
      </div>
      <div class="pure-control-group markdown-editor" id="msge">
        {{msgform.content(placeholder="Type your reply here. Styling with Markdown format is supported.", rows="10", **{'data-provide' :"markdown"})}}
      </div>
      <div>
        {% if error %}
        <div class="error">{{error}}</div>
        {%endif%}
        <button type="submit" id="msg-btnsubmit" class="pure-button pure-button-primary" data-prog="Sending...">Send Reply</button>
        <button data-pvid="msge" class="pure-button btn-preview">Preview</button>
        <div class="cmpreview canclose" style="display:none;">
          <h4>Reply preview</h4>
          <span class="closemsg">×</span>
          <div class="cpreview-content"></div>
        </div>
      </div>
    </form>
  </div>
</div>
