
<div class="row buttons inboxside">
  <div>
    <a class="sbm-post pure-button{% if box_route=='messages.view_messages' %} button-secondary{% endif %}" href="{{ url_for('messages.view_messages') }}">
      Inbox
      {% if func.get_unread_count(func.MESSAGE_TYPE_PM) > 0 %}
        <span class="newmsgcount"><span class="p-icon" data-icon="mail" style="display: inline-block;"></span> {{func.get_unread_count(func.MESSAGE_TYPE_PM)}}</span>
      {% endif %}
    </a>
  </div>
  <div>
    <a class="sbm-post pure-button" href="{{ url_for('messages.view_notifications') }}">
      Notifications
      {% if func.get_notif_count() > 0 %}
        <span class="newmsgcount"><span class="i-icon" data-icon="mail" style="display: inline-block;"></span> {{func.get_notif_count()}}</span>
      {% endif %}
    </a>
  </div>
<hr>
  <div>
    <a class="sbm-post pure-button{% if box_route=='messages.view_messages_sent' %} button-secondary{% endif %}" href="{{ url_for('messages.view_messages_sent') }}">Sent Messages</a>
  </div>
  <div>
    <a class="sbm-post pure-button{% if box_route=='messages.view_saved_messages' %} button-secondary{% endif %}"  href="{{ url_for('messages.view_saved_messages') }}">Saved Messages</a>
  </div>
  <div>
    <a class="sbm-post pure-button"  href="{{ url_for('messages.view_ignores') }}">Blocked users</a>
  </div>
</div>
