<div class="row buttons">
  <div class="col-12">
    <a href="{{url_for('admin_users')}}" class="btn btn-orange" style="width:100%;">Users</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('admin_subs')}}" class="btn btn-orange" style="width:100%;">Subs</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('admin_post')}}" class="btn btn-orange" style="width:100%;">Posts</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('view_sitelog')}}" class="btn btn-orange" style="width:100%;">Sitelog</a>
  </div>
</div>
