{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}

{% block navbar %}
{{ super() }}
<li><a href="{{url_for('admin_area')}}">Admin</a></li>
{% endblock %}
{% block sidebar %}
{{ super() }}
<hr>
<div class="row buttons">
  <div class="col-12">
    <a href="{{url_for('admin_users')}}" class="btn btn-orange" style="width:100%;">Users</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('admin_subs')}}" class="btn btn-orange" style="width:100%;">Subs</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('admin_post')}}" class="btn btn-orange" style="width:100%;">Post</a>
  </div>
</div>
{% endblock %}

{% block content %}
{{ super() }}
<h2><i class="fa fa-list"></i> Post</h2>
<div class="col-12 admin section search">
  <form action="{{ url_for('do.admin_post_search') }}" method="post">
  <span class="search">
      <span><i class="fa fa-search"></i></span>
      <input id="term" name="term" type="search" placeholder="Post number...">
      <span>
        <button class="btn" type="submit">Submit</button>
      </span>
  </span>
  </form>
</div>


{% endblock %}
