{% extends "layout.html" %}
{% block title %}Throat: Open discussion{% endblock %}

{% block navbar %}
{{ super() }}
<li><a href="{{url_for('admin_area')}}">Admin</a></li>
{% endblock %}
{% block sidebar %}
{{ super() }}
<hr>
<div class="row buttons">
  <div class="col-12">
    <a href="{{url_for('admin_users')}}" class="btn btn-orange" style="width:100%;">Users</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('admin_subs')}}" class="btn btn-orange" style="width:100%;">Subs</a>
  </div>
</div>
{% endblock %}

{% block content %}
{{ super() }}
<h2><i class="fa fa-users"></i> Users</h2>
<div class="admin section users">
  <div class="col-12">
    <table class="col-12">
      <tr>
        <td>Name</td>
        <td>Status</td>
        <td>Joined</td>
      </tr>
      {% for user in users %}
      <tr>
        <td>
          <div class="username"><a href="{{url_for('view_user', user=user.name)}}"><i class="fa fa-user"></i> {{user.name}}</a></div>
        </td>
        <td>{{user.status}}</td>
        <td><time-ago datetime="{{user.joindate}}"></time-ago></p></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
