{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}
{% block head %}
{{ super() }}
<script src="{{url_for('static', filename='js/sorttable.js')}}"></script>
{% endblock %}
{% block navbar %}
{{ super() }}
<li><a href="{{url_for('admin_area')}}">Admin</a></li>
{% endblock %}
{% block sidebar %}
{{ super() }}
<hr>
{% include 'adminsidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<h2><i class="fa fa-users"></i> Users</h2>
<div class="col-12 admin section search">
  <form action="{{ url_for('do.admin_users_search') }}" method="post">
  <span class="search">
      <span><i class="fa fa-search"></i></span>
      <input id="term" name="term" type="search" placeholder="Search Users...">
      <span>
        <button class="btn" type="submit">Submit</button>
      </span>
  </span>
  </form>
</div>
<div class="admin section users">
  <div class="col-12">
    <table class="col-12 sortable">
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Joined</th>
      </tr>
      {% for user in users %}
      <tr>
        <td>
          <div class="username"><a href="{{url_for('view_user', user=user.name)}}"><i class="fa fa-user"></i> {{user.name}}</a></div>
        </td>
        <td>{{user.status}}</td>
        <td><time-ago datetime="{{user.joindate.isoformat()}}Z"></time-ago></p></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
