{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}

{% block navbar %}
{{ super() }}
<li><a href="{{url_for('admin_area')}}">Admin</a></li>
{% endblock %}
{% block sidebar %}
{{ super() }}
<hr>
{% include 'adminsidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<h2><i class="fa fa-list"></i> Subs</h2>
<div class="col-12 admin section search">
  <form action="{{ url_for('do.admin_subs_search') }}" method="post">
  <span class="search">
      <span><i class="fa fa-search"></i></span>
      <input id="term" name="term" type="search" placeholder="Search Subs...">
      <span>
        <button class="btn" type="submit">Submit</button>
      </span>
  </span>
  </form>
</div>
<div class="col-12 admin-page-form">
  <div>
    <form class="ajaxform" id="edit-mod-form" data-reload="true" action="{{url_for('do.edit_mod')}}">
      {{editmodform.csrf_token}}
      <h4>Change owner of sub</h4>
      <div class="col-3">{{editmodform.sub(placeholder=editmodform.sub.label.text, required=True, autofocus=True)}}</div>
      <div class="col-3">{{editmodform.user(placeholder=editmodform.user.label.text, required=True,)}}</div>
      <div class="col-3"><button type="submit" class="btn btn-blue" data-prog="Doing the magic...">Transfer sub</button></div>
      <div class="alert div-error"></div>
    </form>
  </div>
</div>
<div class="admin section subs">
  <div class="col-12">
    <table class="col-12">
      <tr>
        <td>Sub Name</td>
        <td>Created</td>
        <td>Owner</td>
        <td><i class="fa fa-user-plus" title="mods"></i></td>
        <td><i class="fa fa-users" title="subscribers"></i></td>
        <td><i class="fa fa-list" title="submissions"></i></td>
        <td><i class="fa fa-comments" title="comments"></i></td>
      </tr>
      {% for sub in subs %}
      <tr>
        <td>
          <div class="subname" title="{{sub.title}}"><a href="{{url_for('view_sub', sub=sub.name)}}">{{sub.name}}</a>{% if sub.getNSFW %} <i title="NSFW" class="fa fa-eye-slash"></i>{% endif %}</div>
        </td>
        <td><time-ago datetime="{{func.getSubCreation(sub)}}"></time-ago></td>
        <td><a href="{{url_for('view_user', user=func.getSubUsers(sub, 'mod1'))}}">{{func.getSubUsers(sub, 'mod1')}}</a></td>
        <td>{{func.getModCount(sub)}}</td>
        <td>{{func.getSuscriberCount(sub)}}</td>
        <td>{{func.getSubPostCount(sub)}}</td>
        <td>xx</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
