{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}

{% block navbar %}
{{ super() }}
<li><a href="{{url_for('admin_area')}}">Admin</a></li>
{% endblock %}
{% block sidebar %}
{{ super() }}
<hr>
{% include 'adminsidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<h2><i class="fa fa-list"></i> Recent Posts</h2>
<div class="col-12 admin section search">
  <form action="{{ url_for('do.admin_post_search') }}" method="post">
  <span class="search">
      <span><i class="fa fa-search"></i></span>
      <input id="term" name="term" type="search" placeholder="Post number...">
      <span>
        <button class="btn" type="submit">Submit</button>
      </span>
  </span>
  </form>
</div>
<div class="admin section subs posts">
  <div class="col-12">
    <table class="col-12">
      <tr>
        <td>Admin ID</td>
        <td>Title</td>
        <td>Sub</td>
        <td>User</td>
      </tr>
    {% for post in posts %}
      <tr>
        <td><a href="{{url_for('admin_post_search', term=post.pid)}}">{{post.pid}}</a></td>
        <td><a href="{{url_for('view_post_inbox', pid=post.pid)}}">{{post.title}}</a></td>
        <td><a href="{{url_for('view_sub', sub=func.getSub(post.sid).name)}}">{{func.getSub(post.sid).name}}</a></td>
        <td><a href="{{url_for('view_user', user=func.getUser(post.uid).name)}}"><i class="fa fa-user" aria-hidden="true"></i> {{func.getUser(post.uid).name}}</a></td>
      </tr>
    {% endfor %}
    </table>
  </div>
<div>
{% endblock %}
