{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}

{% block navbar %}
{{ super() }}
<li><a href="{{url_for('admin_area')}}">Admin</a></li>
{% endblock %}
{% block sidebar %}
{{ super() }}
<hr>
<div class="row buttons">
  <div class="col-12">
    <a href="{{url_for('admin_users')}}" class="btn btn-orange" style="width:100%;">Users</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('admin_subs')}}" class="btn btn-orange" style="width:100%;">Subs</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('admin_post')}}" class="btn btn-orange" style="width:100%;">Posts</a>
  </div>
</div>
{% endblock %}

{% block content %}
{{ super() }}
<h2><i class="fa fa-list"></i> Post: <a href="{{url_for('view_post_inbox', pid=post.pid)}}">{{post.title}}</a></h2>
<div class="col-12 admin section users">
  <div class="col-12">
    <table class="col-12">
      <tr>
        <td>NSFW: {% if post.isPostNSFW() %}<span class="bgred" alt="Not safe for work">NSFW</span>{% else %}no{% endif %}</td>
        <td>When: <i class="fa fa-clock-o" aria-hidden="true"></i> Posted <time-ago datetime="{{post.posted.isoformat()}}"></time-ago></td>
        <td>Sub: <a href="{{url_for('view_sub', sub=post.sub.name)}}">{{post.sub.name}}</a></td>
      </tr>
    </table>
  </div>
</div>
<h2><i class="fa fa-user"></i> User: <a href="{{url_for('view_user', user=post.user.name)}}"><i class="fa fa-user" aria-hidden="true"></i> {{post.user.name}}</a></h2>
<div class="col-12 admin section users">
  <div class="col-12">
    <table class="col-12">
      <tr>
        <td>Posts: {{pcount}}</td>
        <td>Comments: {{ccount}}<td>
        <td>Registered: xx</td>
      </tr>
    </table>
  </div>
</div>
<h2><i class="fa fa-expand"></i> Votes: ( +{{upcount}} | -{{downcount}} )</h2>
<div class="col-12 admin section users">
  <div class="col-12">
    <table class="col-12">
      <tr>
        <td class="col-1">vote</td>
        <td class="col-11">user</td>
      </tr>
      {% for vote in votes %}
      <tr>
        <td class="col-1">{% if vote.positive %}<span class="upvoted">up</span>{% else %}<span class="downvoted">down</span>{% endif %}</td>
        <td class="col-11"><a href="{{url_for('view_user', user=vote.getUsername)}}">{{vote.getUsername}}</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<h2><i class="fa fa-comments"></i> Comments: {{post.comments.count()}}</h2>
<div class="col-12 admin section users">
  <div class="col-12">
    <table class="col-12">
      <tr>
        <td>user</td>
        <td>comment</td>
        <td>permalink</td>
      </tr>
      {#<!-- TODO:  -->#}
      <tr>
        <td>coming soon..</td>
        <td>xx</td>
        <td>xx</td>
      </tr>
      {#<!-- TODO:  -->#}
    </table>
  </div>
</div>{% endblock %}
