{% extends "layout.html" %}
{% block title %}{{config.site.lema}}{% endblock %}

{% block content %}
{{ super() }}

<article class="post apidoc" class="col-12">
  <h1>API documentation.</h1>
  <h3>[GET] /api/getPostList/&lt;source&gt;/&lt;sort&gt;[/page]</h3>
  <p>
    Returns a post list. <code>source</code> can be <code>all</code>
    or a sub. <code>sort</code> must be one of <code>hot</code>, <code>top</code> or
    <code>new</code>.
  </p>
  <p>Fields returned for each post found:
    <ul>
      <li><code>comments</code>: the total count of comments for that post</li>
      <li><code>content</code>: the content of the post if it is a text post</li>
      <li><code>downvotes</code>: the number of downvotes in a post</li>
      <li><code>edited</code>: date/time when the post was last edited or null if the post was not edited</li>
      <li><code>flair</code>: the flair of the post or null if there is no flair</li>
      <li><code>link</code>: the post's link or null if it is a text post</li>
      <li><code>nsfw</code>: true if the post was marked as NSFW</li>
      <li><code>pid</code>: the post's unique ID</li>
      <li><code>posted</code>: date/time the post was posted</li>
      <li><code>ptype</code>: post type, currently <code>0</code> for text posts, <code>1</code> for link posts and <code>3</code> for polls</li>
      <li><code>score</code>: the sum of upvotes-downvoted</li>
      <li><code>sub</code>: the name of the sub the post belongs to</li>
      <li><code>thumbnail</code>: filename of the post's thumbnail</li>
      <li><code>title</code>: title of the post</li>
      <li><code>uid</code>: unique identifier for <code>user</code></li>
      <li><code>user</code>: name of the user that created the post</li>
      <li><code>upvotes</code>: the number of upvotes in a post</li>
    </ul>
    <b>Note:</b> If an user's account is deleted, <code>user</code> will be <code>[Deleted]</code> and <code>uid</code> will be <code>null</code>.
  </p>
  Example response:
    <pre>
  {
    "posts": [
      {
        "comments": 1,
        "content": "dasdasd",
        "edited": null,
        "flair": null,
        "link": null,
        "nsfw": false,
        "pid": 13667,
        "posted": "Mon, 20 Nov 2017 04:40:00 GMT",
        "ptype": 0,
        "score": 1,
        "sub": "test",
        "thumbnail": "",
        "title": "Test post",
        "uid": "9dd8ec5e-4852-492a-a1ab-35eab6625280",
        "user": "Polsaker"
      },
      ....
    ],
      "status": "ok"
    }
    </pre>
  
  <h3>[GET] /api/getPost/&lt;pid&gt;</h3>
  <p>Returns information for a post. <code>pid</code> is the post ID (integer).</p>
  <p>Returns the same information as <code>getPostList</code> and a <code>deleted</code> field that 
    is <code>true</code> if the post was deleted.</p>
  <b>Note:</b> If an user's account or the post is deleted, <code>user</code> will be <code>[Deleted]</code> and <code>uid</code> will be <code>null</code>.


  <h3>[GET] /api/getPostComments/&lt;pid&gt;[/page]</h3>
  <p>Returns all the comments for a post as a list. <code>pid</code> is the post ID (integer).</p>
  <p>Fields returned for each comment:
    <ul>
      <li><code>cid</code>: unique comment id</li>
      <li><code>content</code>: the content of the comment</li>
      <li><code>deleted</code>: true only if the comment was deleted</li>
      <li><code>lastedit</code>: date/time of the last time the comment was edited or null if it was not.</li>
      <li><code>parentcid</code>: unique id for the parent comment or null if this is a comment directly on the post</li>
      <li><code>posted</code>: date/time when the comment was posted</li>
      <li><code>score</code>: comment's score</li>
      <li><code>user</code>: name of the user that created the comment or <code>[Deleted]</code> if the user or comment were deleted</li>
    </ul>
  </p>
  <p><b>Note</b>: This query is paginated and will only return up to 50 comments per page.</p>

  <h3>[GET] /api/getComment/&lt;cid&gt;</h3>
  <p>Returns information for a comment. <code>cid</code> is the comment ID (uuid).</p>
  <p>Returns the same information as <code>getPostComments</code> and a <code>deleted</code> field that 
    is <code>true</code> if the comment was deleted.</p>
  <b>Note:</b> If an user's account or the comment is deleted, <code>user</code> will be <code>[Deleted]</code> and <code>uid</code> will be <code>null</code>.


  <h3>[GET] /api/getPostComments/&lt;pid&gt;[/page]</h3>
  <p>Returns all the comments for a post as a list. <code>pid</code> is the post ID (integer).</p>
  <p>Fields returned for each comment:
    <ul>
      <li><code>cid</code>: unique comment id</li>
      <li><code>content</code>: the content of the comment</li>
      <li><code>deleted</code>: true only if the comment was deleted</li>
      <li><code>lastedit</code>: date/time of the last time the comment was edited or null if it was not.</li>
      <li><code>parentcid</code>: unique id for the parent comment or null if this is a comment directly on the post</li>
      <li><code>posted</code>: date/time when the comment was posted</li>
      <li><code>score</code>: comment's score</li>
      <li><code>user</code>: name of the user that created the comment or <code>[Deleted]</code> if the user or comment were deleted</li>
    </ul>
  </p>
  <p><b>Note</b>: This query is paginated and will only return up to 50 comments per page.</p>


  <h3>[GET] /api/getUser/&lt;username&gt;</h3>
  <p>Returns profile information for <code>username</code></p>
  <p>Fields returned:
    <ul>
      <li><code>bot</code>: <code>true</code> if the user is a bot</li>
      <li><code>comment_count</code>: Number of comments submitted</li>
      <li><code>created</code>: Account creation date/time</li>
      <li><code>given</code>: upvotes-downvotes given</li>
      <li><code>downvotes_given</code>: downvotes given</li>
      <li><code>upvotes_given</code>: upvotes given</li>
      <li><code>level</code>: User level</li>
      <li><code>mods</code>: List of subs that the user mods</li>
      <li><code>name</code>: User's name</li>
      <li><code>owns</code>: List of subs that the user owns</li>
      <li><code>post_count</code>: Number of posts submitted</li>
      <li><code>score</code>: upvoted-downvotes taken</li>
      <li><code>xp</code>: experience points (used to calculate level)</li>
    </ul>
  </p>

  <h3>[GET] /api/getSub/&lt;name&gt;</h3>
  <p>Returns information for a sub. <code>name</code> is the sub's name.</p>
  <p>Fields returned:
    <ul>
      <li><code>allow_polls</code>: <code>true</code> if the sub allows polls.</li>
      <li><code>created</code>: date/time when the sub was created.</li>
      <li><code>creator</code>: username of the sub's creator or <code>[Deleted]</code> if the account was deleted.</li>
      <li><code>default_sort</code>: The sub's default sort. Either one of <code>hot</code>, <code>top</code> or <code>new</code>.</li>
      <li><code>janitors</code>: A list with all the sub's janitors.</li>
      <li><code>mods</code>: A list with all the sub's mods.</li>
      <li><code>name</code>: The sub's name</li>
      <li><code>nsfw</code>: <code>true</code> if the sub is NSFW.</li>
      <li><code>owners</code>: A list with all the sub's owners.</li>
      <li><code>posts</code>: Number of posts created in the sub.</li>
      <li><code>restricted</code>: <code>true</code> if only mods can post in the sub.</li>
      <li><code>sidebar</code>: The sub's sidebar text</li>
      <li><code>subscribers</code>: The number of users subscribed to the sub.</li>
      <li><code>title</code>: The sub's title.</li>
      <li><code>user_can_flair</code>: <code>true</code> if users can flair their own posts.</li>
    </ul>
  </p>


  <h3>[POST] /api/createPost</h3>
  <p>Creates a post. Requires an API token with the <code>can_post</code> permission.</p>
  <p>Fields to be sent via POST:
    <ul>
      <li><code>ptype</code>: Post type. Either <code>text</code> or <code>link</code></li>
      <li><code>sub</code>: Sub name where the post will be created</li>
      <li><code>title</code>: Post title</li>
      <li><code>link</code>: (only if <code>ptype</code> is <code>link</code>) the post's link</li>
      <li><code>content</code>: (optional, only if <code>ptype</code> is <code>text</code>) the post's content</li>
      <li><code>nsfw</code>: set to 1 if the post is NSFW</li>
      <li><code>token</code>: API Token</li>
    </ul>
  </p>
  <p>Returns: The post's <code>pid</code> if successful.</p>

  <h3>[POST] /api/createComment</h3>
  <p>Creates a comment. Requires an API token with the <code>can_post</code> permission.</p>
  <p>Fields to be sent via POST:
    <ul>
      <li><code>pid</code>: Post id where the comment will be submitted to</li>
      <li><code>parentcid</code>: (optional) id of the parent comment</li>
      <li><code>content</code>: Comment content</li>
      <li><code>token</code>: API Token</li>
    </ul>
  </p>
  <p>Returns: The comment's <code>cid</code> if successful.</p>

</article>
{% endblock %}
