{% extends "layout.html" %}
{% block title %}Throat: Open discussion{% endblock %}

{% block content %}
{{ super() }}
<h2>API v1</h2>

<article class="post apidoc" class="col-12">
  <h4>Sub info</h4>
  <div class="col-12"><span class="get">GET</span> /api/v1/s/{subname}</div>
  <div class="col-12">
    <div class="col-4"><br>
      <ul>
        <li>created : date</li>
        <li>mod : string</li>
        <li>name : string</li>
        <li>nsfw : booleen</li>
        <li>posts : srting</li>
        <li>status : integer</li>
        <li>title : string</li>
      </ul>
    </div>
    <div class="col-6">
    <pre>
{
  "created": "2016-06-13 00:08:14.139391",
  "mod": "username",
  "name": "subname",
  "nsfw": false,
  "posts": "10",
  "status": null,
  "title": "sub description"
}
    <pre>
    </div>
  </div>
</article>

<article class="post apidoc" class="col-12">
  <h4>Submission info</h4>
  <div class="col-12"><span class="get">GET</span> api/v1/s/{subname}/{postid}</div>
  <div class="col-12">
    <div class="col-4"><br>
      <ul>
        <li>content : string</li>
        <li>id : integer</li>
        <li>link : string</li>
        <li>posted : date</li>
        <li>ptype : integer</li>
        <li>title : string</li>
        <li>user : string</li>
        <li>votes : integer</li>
      </ul>
    </div>
    <div class="col-6">
    <pre>
{
  "content": "content text",
  "id": 12,
  "link": null,
  "posted": "Mon, 13 Jun 2016 00:09:16 GMT",
  "ptype": 0,
  "title": "post title",
  "user": "username",
  "votes": 0
}
    <pre>
    </div>
  </div>
</article>

<article class="post apidoc" class="col-12">
  <h4>User info (login required)</h4>
  <div class="col-12"><span class="get">GET</span> /api/v1/u/{username}</div>
  <div class="col-12">
    <div class="col-4"><br>
      <ul>
        <li>joindate : date</li>
        <li>name : string</li>
        <li>status : integer</li>
      </ul>
    </div>
    <div class="col-6">
    <pre>
{
  "joindate": "Sun, 12 Jun 2016 20:41:22 GMT",
  "name": "username",
  "status": 0
}

    <pre>
    </div>
  </div>
</article>
{% endblock %}
