{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}

{% block content %}
{{ super() }}
<h1>The Phuks warrant canary</h1>

<h3>As of <strong>Tues, September 25, 2018</strong>, We (Phuks) have never received:</h3>
<ul>
  <li>National Security Letter, of any type, for any purpose</li>
  <li>Personal requests from any law enforcement agency worldwide or corporate entity for backdoors in any software and/or hardware projects to which we currently am an active contributor, nor are we aware of other contributors to these projects having received such a request</li>
  <li>Foreign Intelligence Surveillance Court orders of any type</li>
  <li>Subpoenas and/or search warrants accompanied by a gag order pursuant to the Electronic Communications Privacy Act</li>
</ul>

<p>This statement will continue to be updated manually.</p>

<p>Phuks staff</p>
{% endblock %}
