{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}

{% block content %}
{{ super() }}
<h1>The Phuks warrant canary</h1>

<p>As of <strong>August, 6, 2017</strong>, We (Phuks) have never received:

<p>* National Security Letter, of any type, for any purpose</p>

<p>* Personal requests from any law enforcement agency worldwide or
corporate entity for backdoors in any software and/or hardware
projects to which we currently am an active contributor, nor are we
aware of other contributors to these projects having received such a
request</p>

<p>* Foreign Intelligence Surveillance Court orders of any type</p>

<p>* Subpoenas and/or search warrants accompanied by a gag order pursuant
to the Electronic Communications Privacy Act</p>

<p>This statement will continue to be updated manually.</p>

<p>Phuks staff</p>
{% endblock %}
