{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}

{% block content %}
{{ super() }}
<h1>The Throat warrent canary</h1>

<code>
As of the date below, We (Throat) have never received any:

* National Security Letter, of any type, for any purpose,
* Personal requests from any law enforcement agency worldwide or
corporate entity for backdoors in any software and/or hardware
projects to which we currently am an active contributor, nor are we
aware of other contributors to these projects having received such a
request,

* Foreign Intelligence Surveillance Court orders of any type,
* Subpoenas and/or search warrants accompanied by a gag order pursuant
to the Electronic Communications Privacy Act,
This statement will continue to be updated bi-annually. It was inspired
by https://www.canarywatch.org/, and a plaintext version can be found at
https://<domain>/canary.txt

The OpenPGP signature on this warrant canary has a pre-determined expiration
date that coincides with the date on which this canary will die. If all goes
well, this canary will be renewed every six months. Effectively, this means
that if you can verify the validity of the signature below, then this warrant
canary is still going strong.

June 6th 2016
Throat staff
</code>
{% endblock %}
