{% extends "layout.html" %}
{% block sidebar %}
<div id="sortbuttons" role="group" class="pure-button-group">
  <div class="pure-g">
    {% if txtpostform.ptype.data != "poll" %}
      <button type="button" class="pure-button" id="ptoggle">Change to {%if txtpostform.ptype.data=="text"%}link{%else%}text post{%endif%}</button>
    {%endif%}
  </div>
</div>
{% endblock %}
{% block content %}
{{ super() }}
<div id="center-container">
  <div class="content createpost">
      <form  method="POST" id="post-form" action="{{url_for('do.create_post')}}" data-redir="true" class="pure-form pure-form-aligned" enctype="multipart/form-data">
        {% set subs = db.get_all_sub_names()%}
        <input type="hidden" id="ptypeval" name="ptype" value="{{txtpostform.ptype.data}}">
        {{txtpostform.csrf_token}}
        <h1>Submit a <span id="ptype">{{txtpostform.ptype.data}}</span> post</h1>
        <input type="submit" style="display:none" />
        <fieldset>
          <div class="pure-control-group">
            <span class="sub">
              <label for="sub">Sub</label>
              {{txtpostform.sub(list="subdatalist", required=True)}}
              <datalist id="subdatalist">
                {% for subname in subs %}
                  <option value="{{subname}}">
                {% endfor %}
              </datalist>
            </span>
          </div>
          <div class="pure-control-group">
            <label for="title">Title</label>
            {{txtpostform.title(placeholder=txtpostform.title.label.text, required=True)}}
          </div>

            <div class="pure-control-group txcont" {% if txtpostform.ptype.data not in ("text", "poll") %}style="width: 100%; display:none"{%endif%}>
              <label for="content">Content</label>
              <div class="markdown-editor">
                {{txtpostform.content(class="exalert", placeholder="(Optional) Write your post content here. Styling with Markdown format is supported.", rows="10", style="width: 100%")}}
              </div>
            </div>
            {% if txtpostform.ptype.data == "poll" %}
              <div class="pure-control-group pocont">
                <label for="op1" style="vertical-align: top; margin-top: 1em;">Options</label>
                <div id="sbm-poll-opts">
                  <ol id="poll-opts">
                    <li><input type="text" id="op1" name="op[]" required class="sbm-poll-opt fixed"></li>
                    <li><input type="text" name="op[]" required class="sbm-poll-opt fixed"></li>
                  </ol>
                  <button id="poll-addoption" type="button" class="pure-button" style="margin-top: 1em">Add option</button>
                </div>
              </div>
            {% endif %}
            <div class="pure-control-group lncont pure-u-sm-20-24" {% if txtpostform.ptype.data!="link" %}style="display:none"{%endif%}>
            {% if current_user.canupload %}You can either upload an image or post a link{% endif %}
            </div>
            <div class="pure-control-group lncont pure-u-sm-20-24" {% if txtpostform.ptype.data!="link" %}style="display:none"{%endif%}>
              <label for="link">Link</label>
              {{txtpostform.link(type="url", pattern="https?://.+", required=True if txtpostform.ptype.data=="link" and not current_user.canupload else False, placeholder="URL")}}
            </div>
            <div class="pure-control-group pure-u-sm-3-24 lncont" {% if txtpostform.ptype.data!="link" %}style="display:none"{%endif%}>
              <button id="graburl" class="pure-button">Grab title</button>
            </div>
            {% if current_user.canupload %}
            <div class="pure-control-group lncont pure-u-sm-20-24" {% if txtpostform.ptype.data!="link" %}style="display:none"{%endif%}>
              <label for="files">File</label>
              <input type="file" name="files" placeholder="Only images allowed" />
            </div>
            {% endif %}
          {% if txtpostform.ptype.data == "poll" %}
            <div class="pure-control-group">
              <label for="hideresults">Hide poll results until it closes</label>
              <input id="hideresults" name="hideresults" type="checkbox" value="y">
            </div>

            <div class="pure-control-group">
              <label for="closetime">Close the poll at...</label>
              <input id="closetime" name="closetime" type="checkbox" value="">
              <input id="closetime_date" name="closetime_date" type="text" class="date-picker-future" disabled> <i>(local time)</i>
            </div>

            {#<div class="pure-control-group">
              <label for="displaynames">Display username of voters</label>
              <input id="displaynames" name="displaynames" type="checkbox" value="y">
            </div>#}
          {%endif%}
          {% if not sub or (sub and not sub.nsfw) %}
            <div class="pure-control-group">
              <label for="nsfw">{{txtpostform.nsfw.label.text}}</label>
              {{txtpostform.nsfw()}}
            </div>
          {% endif %}
          {% if func.get_user_level(current_user.uid)[0] <= 4 %}
            {% set captcha = func.create_captcha() %}
            <input type="hidden" name="ctok" value="{{captcha[0]}}" />
            <div class="pure-controls">
              <img src="data:image/png;base64,{{captcha[1]}}" />
            </div>
            <div class="pure-control-group">
              <label for="captcha">Captcha</label>
              {{regform.captcha(autocomplete="off", required=True)}}
            </div>
          {% endif %}
          <div class="pure-controls">
            {% if error %}
              <div class="error">{{error}}</div>
            {% endif %}
            <button onclick="window.sending=true;" type="submit" class="pure-button pure-button-primary" style="display: inline-block">Submit post</button>
            <button type="button" data-pvid="ncme" class="pure-button btn-preview txcont" data-txid="content" style="{% if txtpostform.ptype.data!="text" %} display:none{%else%}display: inline-block;{%endif%}">Preview</button>
            <div class="cmpreview canclose" style="display:none;">
              <h4>Post preview</h4>
              <span class="closemsg">×</span>
              <div class="cpreview-content"></div>
            </div>
          </div>
        </fieldset>
      </form>
  </div>
</div>
{% endblock %}
