{% extends "layout.html" %}
{% block title %}Prispieť - {{config.site.lema}}{% endblock %}

{% block content %}
{{ super() }}
  <div class="content">
    <h1>Prispejte na projekt čekni.to</h1>
    <p>Projekt čekni.to pre Vás vytvárajú dobrovoľníci. Na našom webe nepodporujeme žiadne reklamy, keďže sme presvedčení o tom, 
		súkromie našich používateľov je nadradené akejkoľvek monetizácii projektu.</p>
	<p>Ak by ste nám chceli pomôcť, môžete nám poslať finančný príspevok.</p>

    {% if config.site.btc_address %}
      <h3>Donate Bitcoin</h3>
      <a href="https://blockchain.info/address/{{config.site.btc_address}}" target="_blank">{{config.site.btc_address}}</a>
    {%endif %}

    {% if config.site.xmr_address %}
      <h3>Donate Monero</h3>
      {{config.site.xmr_address}}
    {% endif %}
    
    <h3>Prispieť cez PayPal</h3>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick" />
	<input type="hidden" name="hosted_button_id" value="FEH4XC38ZJ9ME" />
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
	<img alt="" border="0" src="https://www.paypal.com/en_SK/i/scr/pixel.gif" width="1" height="1" />
	</form>
  </div>
{% endblock %}