{% extends "layout.html" %}
{% block title %}Donate - {{config.LEMA}}{% endblock %}

{% block content %}
{{ super() }}
  <div class="content">
    <h1>Donate to Phuks</h1>
    <p>Phuks is run and developed by volunteers. We do not have ads because we do not believe invading
      our user's privacy should be the solution to monetisation, but we do have many ways you can contribute:</p>

    {% if config.BTC_ADDRESS %}
      <h3>Donate Bitcoin</h3>
      <a href="https://blockchain.info/address/{{config.BTC_ADDRESS}}" target="_blank">{{config.BTC_ADDRESS}}</a>
    {%endif %}

    {% if config.XMR_ADDRESS %}
      <h3>Donate Monero</h3>
      {{config.XMR_ADDRESS}}

    {% endif %}
    <h3>Donate Dash</h3>
    <p>XkTU6W3rm7Lrbsv5Vji5EgihUmegKJrc2q</p>
    
    <h3>Donate via PayPal</h3>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="USR35RXUAX5AW">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <h3>Donate something else</h3>
    <p>Phuks is open source! You can contribute with code. <a href="https://phab.phuks.co">Here is our bug tracker</a></p>
    <p>Anything else? Just <a href="mailto:admin@phuks.co">contact us</a>.</p>
  </div>
{% endblock %}
