{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}
{% block navbar %}
<ul class="right">
  <li class="large"><a href="{{url_for('view_sub', sub=sub.name)}}">/s/{{sub.name}}</a></li>
</ul>
{% endblock %}
{% block content %}
{{ super() }}

{% if not current_user.is_mod(sub.sid) and current_user.is_admin() %}
<center><h3>Editing as Admin</h3></center>
{% endif %}

<h2>Edit /s/{{sub.name}}</h2>
<div id="center-container">
  <div class="content createpost">
    <form  method="POST" class="ajaxform" action="{{url_for('do.edit_sub_css', sub=sub.name)}}">
      {{form.csrf_token}}
      <div class="pure-control-group">
        <div>
          <label for="css">{{form.css.label.text}}</label>
          {{form.css(style="width:100%; font-family:monospace", rows=50)}}
        </div>
      </div>
      <div class="alert div-error"></div>
      <div class="pure-controls">
        {% if error %}
          <div class="error">{{error}}</div>
        {% endif %}
        <button id="editsub-btnsubmit" type="submit" class="pure-button pure-button-primary" data-success="Saved!">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
