{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
{% endblock %}
{% block title %}{{config.LEMA}}{% endblock %}
{% block sidebar %}
{{ super() }}
<script>
var recaptchaCallback = function(){
    grecaptcha.render($('.g-recaptcha')[0], {sitekey: $('.g-recaptcha').data().sitekey});
}
</script>

{% if not user.status == 10 %}
  <h3><a href="{{url_for('view_user', user=user.name)}}" class="sbm-post">{{user.name}}</a></h3>
  <a href="{{url_for('view_user_posts', user=user.name)}}" class="sbm-post pure-button">View posts</a>
  <a href="{{url_for('view_user_comments', user=user.name)}}" class="sbm-post pure-button">View comments</a>
  {% if user.uid == session['user_id'] %}
    <a href="{{url_for('view_user_savedposts', user=user.name)}}" class="sbm-post pure-button">View saved posts</a>
  {% endif %}
{% endif %}
{% endblock %}

{% block content %}
{{ super() }}
<div class="edituser">
  <h1>Edit info for {{user.name}}</h1>
  <form  method="POST" id="edit-user-form" data-redir='true'  action="{{url_for('do.edit_user', user=user.name)}}" class="ajaxform pure-form pure-form-aligned">
    {{edituserform.csrf_token}}
    <fieldset>
      <div class="pure-control-group">
        <label for="email">{{edituserform.email.label.text}}</label>
        {{edituserform.email(value=user.email, class="right")}}
      </div>
      <div class="pure-control-group">
        <label for="external_links" class="pure-checkbox">{{edituserform.external_links.label.text}}</label>
        {{edituserform.external_links()}}
      </div>
      <div class="pure-control-group">
        <label for="disable_sub_style" class="pure-checkbox">{{edituserform.disable_sub_style.label.text}}</label>
        {{edituserform.disable_sub_style()}}
      </div>
      <div class="pure-control-group">
        <label for="show_nsfw" class="pure-checkbox">{{edituserform.show_nsfw.label.text}}</label>
        {{edituserform.show_nsfw()}}
      </div>
      <hr>
      <div class="pure-control-group">
        <label for="experimental" class="pure-checkbox">{{edituserform.experimental.label.text}}</label>
        {{edituserform.experimental()}}
      </div>
      <div class="pure-control-group">
        <label for="noscroll" class="pure-checkbox">{{edituserform.noscroll.label.text}}</label>
        {{edituserform.noscroll()}}
      </div>
      <hr style="border-color: red;">
      <div class="pure-control-group" style="color: red; font-weight: 900;">
        <label for="delete_account">{{edituserform.delete_account.label.text}}</label>
        {{edituserform.delete_account()}}
      </div>
      <hr style="border-color: red;">
      <h4>Change password</h4>
      <div class="pure-control-group">
        <label for="password">{{edituserform.password.label.text}}</label>
        {{edituserform.password(placeholder=edituserform.password.label.text, required=False, autocomplete="off")}}
      </div>
      <div class="pure-control-group">
        <label for="confirm">{{edituserform.confirm.label.text}}</label>
        {{edituserform.confirm(placeholder=edituserform.confirm.label.text, required=False, autocomplete="off")}}
      </div>
      <hr>
      <div class="pure-control-group">
        <label for="oldpassword">{{edituserform.oldpassword.label.text}}</label>
        {{edituserform.oldpassword(placeholder=edituserform.oldpassword.label.text, required=True, autocomplete="off")}}
      </div>

      {{edituserform.recaptcha}}
      <div class="alert div-error"></div>
      <button type="submit" class="pure-button pure-button-primary" id="edituser-btnsubmit" data-prog="Editing..." data-success="Saved!">Edit user</button>
    </fieldset>
  </form>

</div>
{% endblock %}
