{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}
{% block navbar %}
<ul class="right">
  <li class="large"><a href="{{url_for('view_sub', sub=sub.name)}}">/s/{{sub.name}}</a></li>
</ul>
{% endblock %}
{% block content %}
{{ super() }}

{% if not current_user.is_mod(sub) and current_user.is_admin() %}
<center><h3>Editing as Admin</h3></center>
{% endif %}

<h1>Edit /s/{{sub.name}}</h1>
<form class="ajaxform" action="{{url_for('do.edit_sub_css', sub=sub.name)}}">
  {{form.csrf_token}}
  <h2><i class="fa fa-cubes"></i> {{form.css.label.text}}</h2>
  <p>{{form.css(style="width:100%; font-family:monospace", rows=50)}}</label></p>
  <div class="alert div-error"></div>
  <p><button type="submit" data-success="Saved!" data-norm="Save" data-prog="Saving..." class="btn btn-orange" id="editsub-btnsubmit">Save</button></p>

</form>
{% endblock %}
