{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}
{% block navbar %}
<ul class="right">
  <li class="large"><a href="{{url_for('sub.view_sub', sub=sub.name)}}">{{conf['SUB_PREFIX']}}/{{sub.name}}</a></li>
</ul>
{% endblock %}
{% block content %}
{{ super() }}

{% if not current_user.is_mod(sub.sid) and current_user.is_admin() %}
<div class="important"><h3>Editing as Admin</h3></div>
{% endif %}

<h1>Editing {{conf['SUB_PREFIX']}}/{{sub.name}}'s flairs</h1>
<div class="col-12 admin-page-form">
  <form  method="POST" class="ajaxform pure-form" action="{{url_for('do.create_flair', sub=sub.name)}}" data-reload="true">
    <h4>Create new flair</h4>
    {{createflair.csrf_token}}
      {{createflair.text(placeholder="Flair text")}}
      <button type="submit" class="pure-button pure-button-primary" id="editsub-btnsubmit" data-prog="Saving..." data-success="Saved!">Add flair</button>
    <div class="alert div-error">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <p></p>
    </div>
  </form>
</div>

{% if flairs %}
<hr>
<h4>Flairs</h4>
  <div class="col-12 admin-page-form">
    <ul>
    {% for flair in flairs %}
    <li><span class="postflair">{{flair.text.data}}</span>
      <form  method="POST" data-reload="true" action="{{url_for('do.delete_flair', sub=sub.name)}}" class="ajaxform" style="display: inline-block; margin-left: 1em; margin-top: 5px;">
      {{flair.csrf_token}}{{flair.flair}}<button type="submit" class="pure-button button-xsmall" id="editsub-btnsubmit" data-prog="Deleting..." data-success="Deleted!">Delete</button></form>
    {% endfor %}
  </ul>
  </div>
{% endif %}
{% endblock %}
