{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
  {% if not current_user.is_mod(sub.sid) and current_user.is_admin() %}
    <div class="important"><h3>Editing as Admin</h3></div>
  {% endif %}
<div class="content">
  <h1>Editing settings of /s/{{sub.name}}</h1>
  <form  method="POST" id="edit-sub-form" action="{{url_for('do.edit_sub', sub=sub.name)}}" class="pure-form ajaxform">
    {{editsubform.csrf_token}}
    <fieldset>
      <div class="pure-control-group">
        <label for="title">{{editsubform.title.label.text}}</label>
        {{editsubform.title(value=sub.title, required=True, class="pure-u-12-24")}}
      </div>

      <div class="pure-control-group">
        <label for="nsfw" class="pure-checkbox">
          {{editsubform.nsfw(checked=func.isNSFW(sub))}}
          {{editsubform.nsfw.label.text}}
        </label>
      </div>

      <div class="pure-control-group">
        <label for="restricted" class="pure-checkbox">
          {{editsubform.restricted(checked=func.isRestricted(sub))}}
          {{editsubform.restricted.label.text}}
        </label>
      </div>

      <div class="pure-control-group">
        <label for="usercanflair" class="pure-checkbox">
          {{editsubform.usercanflair(checked=func.userCanFlair(sub))}}
          {{editsubform.usercanflair.label.text}}
        </label>
      </div>
      <h4>Default post sort</h4>
      {% for kl in editsubform.subsort %}
        <div class="pure-control-group">
          <label for="{{kl.id}}" class="pure-checkbox">
            {{kl(checked=True if editsubform.subsort.data.value==kl.name else False)}}
            {{kl.label.text}}
          </label>
        </div>
      {% endfor %}
      <hr/>
      <h4>Sidebar text</h4>
      <div class="pure-control-group">
        <div class="markdown-editor">
          {{editsubform.sidebar(class="pure-u-12-24", placeholder="Sidebar text. Markdown allowed.", rows="10")}}
        </div>
      </div>
    </fieldset>

    <div class="alert div-error">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <p></p>
    </div>
    <p><button type="submit" class="pure-button pure-button-primary" id="editsub-btnsubmit" data-prog="Saving..." data-success="Saved!">Save changes</button></p>

  </form>

</div>
{% endblock %}
