{% extends "layout.html" %}
{% block title %}Throat: Open discussion{% endblock %}
{% block navbar %}
<ul class="right">
  <li class="large"><a href="{{url_for('view_sub', sub=sub.name)}}">/s/{{sub.name}}</a></li>
</ul>
{% endblock %}
{% block content %}
{{ super() }}

{% if not current_user.is_mod(sub) and current_user.is_admin() %}
<center><h3>Editing as Admin</h3></center>
{% endif %}

<h1>Edit /s/{{sub.name}}</h1>
<form id="edit-sub-form" data-sub="{{sub.name}}" class="">
  {{editsubform.csrf_token}}
  <p><label>{{editsubform.title.label.text}} {{editsubform.title(value=sub.title, required=True)}}</label></p>
  <p><label>{{editsubform.nsfw.label.text}} {{editsubform.nsfw(checked=sub.isNSFW)}}</label></p>
  <label for="css">{{editsubform.css.label.text}}</label>
  <p>{{editsubform.css(style="width:100%; font-family:monospace", rows=50)}}</label></p>
  <div class="alert div-error">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p></p>
  </div>
  <p><button type="submit" class="btn btn-orange" id="editsub-btnsubmit">Edit sub</button></p>

</form>
{% if current_user.is_admin() or current_user.is_topmod(sub) %}
<div class="editmoderators col-12">
  <p>Owner: <i class="fa fa-star" title="Owner"></i> <a href="{{url_for('view_user', user=sub.getTopModName)}}">{{sub.getTopModName}}</a></p>
  <p>Moderators: {% if mods|length < 1 %}none{% endif %}</p>
  <ul>
  {% for mod in mods if mods|length > 0 %}
  <span class="col-4">
    <li><i class="fa fa-user"></i> <a href="{{url_for('view_user', user=mod.getUsername)}}">{{mod.getUsername}}</a>
      <span id="remove-mod2" data-user="{{mod.getUsername}}" class="btn">remove</span>
    </li>
  </span>
  {% endfor %}
  </ul>
  <div class="editmoderators col-12">
    <form id="edit-mod2-form" data-sub="{{sub.name}}" class="">
      {{editmod2form.csrf_token}}
      <p>
        <label>Invite new mod: {{editmod2form.user(placeholder=editmod2form.user.label.text, required=True)}}</label>
        <button type="submit" class="btn btn-orange" id="editmod2-btnsubmit">Invite mod</button>
      </p>
      <div class="alert div-error">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p></p>
      </div>
    </form>
    <p>Pending invites: {% if modinvs|length < 1 %}none{% endif %}</p>
    <ul>
    {% for modinv in modinvs if modinvs|length > 0 %}
    <span class="col-4">
      <li><i class="fa fa-user"></i> <a href="{{url_for('view_user', user=modinv.value)}}">{{modinv.value}}</a>
        <span id="revoke-mod2-inv" data-user="{{modinv.value}}" class="btn">cancel</span>
      </li>
    </span>
    {% endfor %}
  </ul>
  </div>
</div>
{% endif %}
{% endblock %}
