{% extends "layout.html" %}
{% block title %}Throat: Open discussion{% endblock %}
{% block navbar %}
<ul class="right">
  <li class="large"><a href="{{url_for('view_user', user=user.name)}}">/u/{{user.name}}</a></li>
</ul>
{% endblock %}
{% block sidebar %}
{{ super() }}
<hr/>

<div>
  <h3>Badges:</h3>
  <ul style="color: darkcyan;">
    <li title="Early stoat gets the worm"><i class="fa fa-bug" aria-hidden="true"></i> Bug squasher</li>
    {% for badge in badges %}
    <li title="{{badge.getBadgeText}}"><i class="fa {{badge.getBadgeClass}}"></i> {{badge.getBadgeName}}</li>
    {% endfor %}
    {% if user.name == 'v' %}<li>\o/ Cheerleader</li>{% endif %}
  </ul>
</div>
<hr>
<p class="joindate">Registered <time-ago datetime="{{ user.joindate.isoformat() }}"></time-ago></p>
<hr>
<div>
  <h3>Moderating:</h3>
  <ul style="color: darkcyan;">
    {% for sub in subs  %}
    {% if user.name == sub.getModName %}
    <li><a href="{{url_for('view_sub', sub=sub.name)}}">{{sub.name}}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}
{% block content %}
{{ super() }}
<div class="edituser">
  {% if current_user.is_admin() %}
  <div class="adminbadges col-12 admin-page-form">
    <div class=""><h3>Admin options</h3></div>
    <div class="col-12"><h2><i class="fa fa-beer"></i> Assign User Badge</h2>
      {% for badge in adminbadges %}
      <div class="col-3 btn">{{loop.index}} - <i title="{{badge.text}}" class="fa {{badge.badge}}"></i> {{badge.name}}</div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <h1>Edit info for {{user.name}}</h1>
  <form id="edit-user-form"  data-user="{{user.name}}" class="">
      <div id="the-edit-user-form-itself">
          {{edituserform.csrf_token}}

          <p>
            <label for="email" class="left">{{edituserform.email.label.text}}</label>
            {{edituserform.email(value=user.email, class="right")}}
          </p>
          <p class="fullw">
              {{edituserform.accept_tos(required=True)}}
              <label for="tos">{{edituserform.accept_tos.label.text}}</label>
          </p>
          {{edituserform.recaptcha}}
          <div class="alert div-error">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p></p>
          </div>
          <p><button type="submit" class="btn btn-blue" id="edituser-btnsubmit">Edit user</button></p>
      </div>
  </form>
</div>

{% endblock %}
