{% extends "layout.html" %}
{% block title %}ModMulti - {{config.LEMA}}{% endblock %}

{% block sidebar %}
{{ super() }}
<div class="sidebarlists">
  <h4 class="center">New posts from:</h4>
  <ul>
    {% for sub in subs %}
      <li><a href="{{url_for('view_sub', sub=sub.name)}}">/s/{{sub.name}}</a>
      <div class="sidelocale">{{sub.title}}</div></li>
    {%endfor%}
  </ul>
</div>
{% endblock %}

{% block content %}
{{ super() }}
{% if not posts %}<h1 class="noshit">There are no posts here, yet.</h1>{% endif %}
<div class="alldaposts">
{% for post in posts if post.pid != func.getAnnouncement().pid %}
  {% include "indexpost.html" %}
{%endfor %}
</div>

{% if not kw %}
  {% set kw = {} %}
{%endif%}
{% if page > 1 %}
  <a href="{{url_for(sort_type, page=(page-1), **kw)}}" class="pure-button">prev</a>
{% endif %}
{% if posts|length == 25 %}
  <a href="{{url_for(sort_type, page=(page+1), **kw)}}" class="pure-button">next</a>
{% endif %}
{% endblock %}

{%block pagefoot%}
{%endblock%}
