{% extends "layout.html" %}

{% block sidebar %}

<div id="sortbuttons" role="group" class="pure-button-group">
  <div class="pure-g">
      {% if sort_type.startswith('all') %}
        <a href="{{url_for('all_hot')}}" class="sbm-post pure-button button-xsmall {% if request.endpoint == 'all_hot' %}pure-button-primary{%endif%} pure-u-md-7-24">Hot</a>
        <a href="{{url_for('all_top')}}" class="sbm-post pure-button button-xsmall {% if request.endpoint == 'all_top' %}pure-button-primary{%endif%} pure-u-md-7-24">Top</a>
        <a href="{{url_for('all_new')}}" class="sbm-post pure-button button-xsmall {% if request.endpoint == 'all_new' %}pure-button-primary{%endif%} pure-u-md-7-24">New</a>
      {% elif sort_type.startswith('home') %}
        <a href="{{url_for('home_hot')}}" class="sbm-post pure-button button-xsmall {% if request.endpoint in ('home_hot', 'index') %}pure-button-primary{%endif%} pure-u-md-7-24">Hot</a>
        <a href="{{url_for('home_top')}}" class="sbm-post pure-button button-xsmall {% if request.endpoint == 'home_top' %}pure-button-primary{%endif%} pure-u-md-7-24">Top</a>
        <a href="{{url_for('home_new')}}" class="sbm-post pure-button button-xsmall {% if request.endpoint == 'home_new' %}pure-button-primary{%endif%} pure-u-md-7-24">New</a>
      {% endif %}
  </div>
</div>

<form class="pure-g search" action="{{ url_for('do.title_search') }}" method="post">
  <div class="icon" data-icon="search"> </div>
  <input name="term" placeholder="Title search..." type="search" class="pure-u-1">
</form>

{% if current_user.is_authenticated %}
<a href="{{url_for('submit_text', sub='')}}" class="sbm-post pure-button">Submit a text post</a>
<a href="{{url_for('submit_link', sub='')}}" class="sbm-post pure-button">Submit a link post</a>
<hr>
<a href="{{url_for('view_subs')}}" class="sbm-post pure-button">View all subs</a>
<a href="{{url_for('random_sub')}}" class="sbm-post pure-button">Go to random sub</a>
<a href="#formpop" class="createsub sbm-post pure-button pure-button-primary">Create a sub</a>
{% endif %}
{% cache 300, 'toppost' %}
{% set tp = func.getTodaysTopPosts()%}

{%if config.COIN_HIVE_SECRET %}
  <hr>
  {% set hashrate = func.getCurrentHashrate()%}

  <div class="sidebarlists">
    <a href="/miner">Current hashrate: <b>{{hashrate['hash']}}</b>H/s.</a>
  </div>
{%endif%}

{% if tp %}
  <hr>
  <div class="sidebarlists">
    <h4 class="center">Top posts in the last 24 hours</h4>
    <ul class="top5">
      {% for post in tp %}
        <li><a class="title" href="{{url_for('view_post', sub=post.sub, pid=post.pid)}}">{{post.title}}</a>
          <div class="sidelocale">
            <time-ago datetime="{{post.posted.isoformat()}}Z"></time-ago> in <a href="{{url_for('view_sub', sub=post.sub)}}">/s/{{post.sub}}</a>
          </div></li>
      {% endfor %}
    </ul>
  </div>
{%endif%}
{% endcache %}

{% cache 21600, 'suboftheday' %}
{% set rs = func.getRandomSub()%}
{% if rs %}
  <hr>
  <div class="sidebarlists">
    <h4 class="center">Sub of the day</h4>
    <ul>
      <li><a href="{{url_for('view_sub', sub=rs.name)}}">/s/{{rs.name}}</a>
        <div class="sidelocale">{{rs.title}}</div></li>
    </ul>
  </div>
{%endif%}
{% endcache %}
{% cache 300, 'changelog' %}
{% set cl = func.getChangelog() %}
{% if cl %}
  <hr>
  <div class="sidebarlists">
    <ul>
      <li><a class="title" href="{{url_for('view_post', sub=cl.sub, pid=cl.pid)}}">{{cl.title}}</a><br>
      <span class="sidelocale">
        <time-ago datetime="{{cl.posted.isoformat()}}Z"></time-ago> in <a href="{{url_for('view_sub', sub=cl.sub)}}">/s/{{cl.sub}}</a></li>
      </span>
    </ul>
  </div>
{% endif %}
{% endcache %}
{% if func.enableBTCmod() %}
<hr>
<a href="{{url_for('donate')}}" class="sbm-post pure-button">Gib phuks</a>
{% endif %}
{% if current_user.is_authenticated %}
<hr>
<a href="{{url_for('view_sitelog')}}" class="sbm-post pure-button">Site logs</a>
{% endif %}
{% endblock %}

{% block content %}
{{ super() }}
{% if sort_type.startswith('home_') or sort_type.startswith('all_')%}
  {% cache 120, 'announcement' %}
    {% set announcement = func.getAnnouncement() %}
    {% if announcement %}
    <div pid="{{announcement.pid}}" class="post">
      <div class="pure-g">
        <div class="misctainer">
          <div class="votebuttons">
            <div title="Upvote" class="upvote " data-icon="upvote"></div>
            <div class="score">{{announcement.score}}</div>
            <div title="Downvote" class="downvote "  data-icon="downvote"></div>
          </div>
          <div class="thcontainer">
            <a href="{{url_for('view_post', sub=announcement.sub, pid=announcement.pid)}}" class="title">
              <div class="thumbnail">
                  <span class="placeholder" data-icon="chat"></span>
              </div>
            </a>
          </div>
        </div>
        <div class="pure-u-16-24 pure-u-md-20-24 pbody">
          <div class="post-heading">
            <a href="{{url_for('view_post', sub=announcement.sub, pid=announcement.pid)}}" class="title">{{announcement.title}}</a>
          </div>
          <div class="author">
            posted <time-ago datetime="{{announcement.posted.isoformat()}}Z"></time-ago> by
            <a href="{{url_for('view_user', user=announcement.user)}}">{{announcement.user}}</a> on
            <a href="{{url_for('view_sub', sub=announcement.sub)}}">{{announcement.sub}}</a>
          </div>
          <div class="links">
            <a href="{{url_for('view_post', sub=announcement.sub, pid=announcement.pid)}}">comments {%if announcement.comments>0%}({{announcement.comments}}){%endif%}</a>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    {%endif%}
  {% endcache %}
{%endif%}

{% if not posts %}<h1 class="noshit">There are no posts here, yet.</h1>{% endif %}
<div class="alldaposts">
{% for post in posts %}
  {% include "indexpost.html" %}
{%endfor%}
</div>
{% if not kw %}
  {% set kw = {} %}
{%endif%}
{% if page > 1 %}
  <a href="{{url_for(sort_type, page=(page-1), **kw)}}" class="pure-button">prev</a>
{% endif %}
{% if posts|length == 25 %}
  <a href="{{url_for(sort_type, page=(page+1), **kw)}}" class="pure-button">next</a>
{% endif %}

<!-- create sub form -->
<div id="formpop" style="display:none;">
  <div class="modal-content">
    <span class="closemsg">&times;</span>
    <form id="csub-form" action="{{url_for('do.create_sub')}}" data-redir="true" class="pure-form pure-form-aligned ajaxform">
      {% set csubform = form.CreateSubForm()%}
      {{csubform.csrf_token}}
      <h3>Create sub</h3>
      <p>Create a sub for you, your friends, or for your favorite community</p>
      <fieldset>
        <div class="pure-control-group">
          <label for="subname">Sub name</label>
          {{csubform.subname(placeholder=csubform.subname.label.text, required=True, pattern="[a-zA-Z0-9_-]+", title="Alphanumeric characters plus '-' and '_'")}}
        </div>
        <div class="pure-control-group">
          <label for="description">Description</label>
          {{csubform.title(placeholder=csubform.title.label.text, required=True)}}
        </div>
        <div class="pure-controls">
          {% if error %}
            <div class="error">{{error}}</div>
          {%endif%}
          <button type="submit" id="csub-btnsubmit" class="pure-button pure-button-primary" data-prog="Sending...">Create sub</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
{%block pagefoot%}
<!-- create sub form -->
{% if "labrat" in current_user.prefs %}
  <script type="text/javascript" charset="utf-8">
      socket.on('connect', function() {
        window.sio = true;
        {% if sort_type == 'all_new' %}
          socket.emit('subscribe', {target: '/all/new'});
        {% endif %}
        $('article.post').each(function(i){
          socket.emit('subscribe', {target: $(this).data('pid')});
        })
      });
      {% if sort_type == 'all_new' and page == 1 %}
      socket.on('thread', function(data){
        socket.emit('subscribe', {target: data.pid})
        $('.alldaposts').prepend(data.html)
      })
      {% endif %}
      socket.on('threadscore', function(data){
        console.log('article#' + data.pid + ' .count')
        $('article#' + data.pid + ' .count').html(data.score)
      })

      socket.on('threadcomments', function(data){
        console.log('article#' + data.pid + ' .ccount')
        $('article#' + data.pid + ' .ccount').html(data.comments)
      })
  </script>
{%endif%}
{% if sort_type in ('all_new', 'view_sub_new') and current_user.likes_scroll()%}
<script>
$(document).ready(function () {
    window.loading = false;
        $(window).scroll(function () {
            if(window.loading){
              return
            }
            {% if not request.endpoint.startswith('home') %}
              if($(window).scrollTop() + $(window).height() >= ($(document).height()/100)*75) {
                  // $('article').last().data('pid')
                  var lastpid = $('article').last().data('pid')
                  window.loading = true;
                  $.ajax({
                    type: "get",
                    url: '{{url_for(request.endpoint + '_more')}}/' + lastpid,
                    success: function(data) {
                      $('.alldaposts').append(data);
                      window.loading = false;
                    }
                  });
              }
              {% endif %}
        });
    })
</script>

{%endif%}
{%endblock%}
