{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}{{config.LEMA}}{% endblock %}
{% block sidebar %}
{{ super() }}
{% if current_user.is_authenticated %}
<div class="row buttons">
  <div class="col-12">
    <a href="#csub-form" class="btn btn-orange create-sub" style="width:100%;">Create your own sub</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('view_subs')}}" class="btn btn-orange" style="width:100%;">View all subs</a>
  </div>
  <div class="col-12">
    <a href="#post-form" class="btn btn-orange create-post" style="width:100%;">Submit a text post</a>
  </div>
  <div class="col-12">
    <a href="#link-post-form" class="btn btn-orange create-post" style="width:100%;">Submit a link post</a>
  </div>
</div>
<div class="col-12">
  <div style="width:100%;height:100%;">
    <div class="subscriptions btn btn-white" style="width:100%">Subscriptions</div><br>
    <div id="SubscriptionsList" style="display:none; height:100%;width:100%" >
      <ul>
        {% for sub in subs %}
          <li><a href="{{url_for('view_sub', sub=sub.getSubName)}}">{{sub.getSubName}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
{% block navbar %}
{{ super() }}
<li><a href="/all/hot">Hot</a></li>
<li><a href="/all/top">Top</a></li>
<li><a href="/all/new">New</a></li>
<li class="right"><a href="{{url_for('random_sub')}}" class="btn small">Random</a></li>
{% if current_user.is_admin() %}<li><a href="{{url_for('admin_area')}}">Admin</a></li>{% endif %}
{% endblock %}
{% block content %}
{{ super() }}
{% cache 1200, 'announcement' %}
  {% set ann = getAnnouncement() %}
  {% if ann %}
  <article class="post" data-pid="{{ann.pid}}">
    {# vote arrow div #}
    <div class="pull left vote">
      <div class="upvote{%if hasVoted(current_user.get_id(), ann)%} upvoted{%endif%}"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
      <p class="count">{{ann.voteCount()}}</p>
      <div class="downvote{%if hasVoted(current_user.get_id(), ann, False)%} downvoted{%endif%}"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
    </div>
      <div class="image">
          <a href="{{url_for('view_post_inbox', pid=ann.pid)}}">
            <span class="fa-stack fa-3x" style="color: #616161;">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
            </span>
          </a>
      </div>
      <div class="main">
        <a class="title" href="{{url_for('view_post_inbox', pid=ann.pid)}}"><div class="announcementPost">Announcement</div>{{ann.title}}</a>
        <p class="author"><relative-time datetime="{{ann.posted.isoformat()}}"></relative-time></p>
        <p class="container">
            <span id="opentextpost" data-pid="{{ann.pid}}" class="closedtextpost">
              <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-comments" aria-hidden="true"></i></a></span>
            </span>
          <a href="{{url_for('view_sub', sub=ann.sub.name)}}" class="btn small"><i class="fa fa-users" aria-hidden="true"></i> /s/{{ann.sub.name}}</a>
          <a href="{{url_for('view_user', user=ann.user.name)}}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> {{ann.user.name}}</a>
          <a href="{{url_for('view_post_inbox', pid=ann.pid)}}#comments" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> Comments ({{ann.comments.count()}})</a>
          </p>
      </div>
  </article>
  {%endif%}
{% endcache %}

{% if not posts %}<h1 class="noshit">There are no posts here, yet.</h1>{% endif %}
{% cache 300, 'frontpage', sort_type, page|string %}
  {% for post in posts if not getMetadata(post, 'deleted') and not getMetadata(post, 'moddeleted') and not post.isAnnouncement() %}
  {% if (current_user.show_nsfw() and post.isPostNSFW()) or not post.isPostNSFW() %}
      <article class="post" data-pid="{{post.pid}}">
        {# vote arrow div #}
        <div class="pull left vote">
          <div class="upvote{%if hasVoted(current_user.get_id(), post)%} upvoted{%endif%}"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
          <p class="count">{{post.voteCount()}}</p>
          <div class="downvote{%if hasVoted(current_user.get_id(), post, False)%} downvoted{%endif%}"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
        </div>
        {% cache 300, post.pid, 'post' %}
          <div class="image">
            {% if post.thumb %}
            <a href="{{url_for('view_post', sub=post.sub.name, pid=post.pid)}}">
              <img src="{{config.THUMBNAIL_HOST}}{{post.thumb}}">
            </a>
            {% elif not post.link %}
              <a href="{{url_for('view_post', sub=post.sub.name, pid=post.pid)}}">
                <span class="fa-stack fa-3x" style="color: #616161;">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            {% else %}
              <a href="{{post.link}}" rel="noreferrer noopener">
                <span class="fa-stack fa-3x" style="color: #616161;">
                  <i class="fa fa-square fa-stack-2x"></i>
                  {% if post.isImage() %}
                  <i class="fa fa-image fa-stack-1x fa-inverse"></i>
                  {% elif post.getDomain() == "youtube.com" %}
                  <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                  {% elif post.getDomain() == "www.youtube.com" %}
                  <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                  {% elif post.getDomain() == "vimeo.com" %}
                  <i class="fa fa-vimeo fa-stack-1x fa-inverse"></i>
                  {% elif post.getDomain() == "vine.co" %}
                  <i class="fa fa-vine fa-stack-1x fa-inverse"></i>
                  {% else %}
                  <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                  {% endif %}
                </span>
              </a>
            {% endif %}
          </div>
          <div class="main">
            {% if post.isPostNSFW() %}<span class="bgred" alt="Not safe for work">NSFW</span>{% endif %}
            {% if not post.link %}
            <a class="title" href="{{url_for('view_post', sub=post.sub.name, pid=post.pid)}}">{{post.title}}</a>
            {% else %}
            {% if post.link.startswith('http:') %}<span><i title="not https" class="fa fa-exclamation-circle orange"></i></span>{% endif %}
            <a class="title" href="{{post.link}}" {% if current_user.has_exlinks() %}target="_blank" {% endif %}rel="noreferrer noopener">{{post.title}}</a> <span class="postdomain">(<a href="{{url_for('all_domain_new', domain=post.getDomain())}}">{{post.getDomain()}}</a>)</span>
            {% endif %}
            <p class="author"><relative-time datetime="{{post.posted.isoformat()}}"></relative-time></p>
            <p class="container">
              {% if post.link %}
              {% if post.getDomain() == "youtube.com" %}
                <span id="youtubevid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvid">
                  <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></span>
                </span>
              {% endif %}
              {% if post.getDomain() == "www.youtube.com" %}
                <span id="youtubevid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvid">
                  <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></span>
                </span>
              {% endif %}
              {% if post.getDomain() == "vimeo.com" %}
                <span id="vimeovid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvid">
                  <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-vimeo" aria-hidden="true"></i></a></span>
                </span>
              {% endif %}
              {% if post.getDomain() == "vine.co" %}
                <span id="vinevid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvine">
                  <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-vine" aria-hidden="true"></i></a></span>
                </span>
              {% endif %}
              {% if post.isImage() %}
                <span id="openimg" data-img="{{post.link}}" data-pid="{{post.pid}}" class="closedimg">
                  <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-image" aria-hidden="true"></i></a></span>
                </span>
              {% endif %}
              {% else %}
                <span id="opentextpost" data-pid="{{post.pid}}" class="closedtextpost">
                  <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-comments" aria-hidden="true"></i></a></span>
                </span>
              {% endif %}
              <a href="{{url_for('view_sub', sub=post.sub.name)}}" class="btn small"><i class="fa fa-users" aria-hidden="true"></i> /s/{{post.sub.name}}</a>
              <a href="{{url_for('view_user', user=post.user.name)}}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> {{post.user.name}}</a>
              <a href="{{url_for('view_post', sub=post.sub.name, pid=post.pid)}}#comments" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> Comments ({{post.getComments() | length}})</a>
              </p>
          </div>
        {% endcache %}
      </article>
  {% endif %}
  {% endfor %}
{% endcache %}
{% if page > 1 %}
<a href="{{url_for(sort_type, page=(page-1))}}" class="btn"><i class="fa fa-chevron-left" aria-hidden="true"></i> prev</a>
{% endif %}
{% if posts|length == 25 %}
<a href="{{url_for(sort_type, page=(page+1))}}" class="btn">next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
{% endif %}

{% endblock %}
{%block pagefoot%}
<!-- create sub form -->
<form id="csub-form" data-redir="true" action="{{url_for('do.create_sub')}}" class="ajaxform mfp-hide white-popup-block">
  {{ csubform.csrf_token }}
  <h1>Create sub</h1>
  <p>Create a sub. For you, for your friends or your favorite community</p>
  <p>{{csubform.subname(placeholder=csubform.subname.label.text, required=True, autofocus=True, pattern="[a-zA-Z0-9_-]+", title="Alphanumeric characters plus '-' and '_'")}}</p>
  <p>{{csubform.title(placeholder=csubform.title.label.text, required=True)}}</p>
  <div class="alert div-error"></div>
  <p><button type="submit" id="csub-btnsubmit" class="btn btn-blue" data-prog="Creating...">Create sub</button></p>
</form>
{% if current_user.is_authenticated %}
<form id="post-form" class="mfp-hide white-popup-block">
  {{txtpostform.csrf_token}}
  <h1>Submit a text post</h1>
  <p class="sub">/s/{{txtpostform.sub(placeholder="Enter sub name.", required=True)}}</p>
  <p class="title">{{txtpostform.title(placeholder=txtpostform.title.label.text, required=True, autofocus=True)}}</p>
  <p class="content">{{txtpostform.content(placeholder="Write your post content here. Styling with Markdown format is supported.", rows="10", **{'data-provide' :"markdown"})}}</p>
  <div class="alert div-error">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p></p>
  </div>
  <p><button type="submit" class="btn btn-blue" id="txpost-btnsubmit">Submit post</button></p>
</form>
<form id="link-post-form" class="mfp-hide white-popup-block">
  {{lnkpostform.csrf_token}}
  <h1>Submit a link post</h1>
  <p class="sub">/s/{{lnkpostform.sub(placeholder="Enter sub name.", required=True)}}</p>
  <p class="title">{{lnkpostform.title(placeholder=lnkpostform.title.label.text, required=True, autofocus=True)}}</p>
  <p class="content">{{lnkpostform.link(placeholder="Paste your link here.")}}</p>
  <div class="alert div-error">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p></p>
  </div>
  <p><button type="submit" class="btn btn-blue" id="lnkpost-btnsubmit">Submit link</button></p>
</form>
{% endif %}
{%endblock%}
