{% extends "layout.html" %}

{% block sidebar %}

<div id="sortbuttons">
  <span>Sort:
    {% if sort_type.startswith('all') %}
      {% if request.endpoint == 'all_hot' %}<b>Hot</b>{%else%}<a href="{{url_for('all_hot')}}">Hot</a>{%endif%}
      {% if request.endpoint == 'all_top' %}<b>Top</b>{%else%}<a href="{{url_for('all_top')}}">Top</a>{%endif%}
      {% if request.endpoint == 'all_new' %}<b>New</b>{%else%}<a href="{{url_for('all_new')}}">New</a>{%endif%}
    {% else %}
      {% if request.endpoint in ('home_hot', 'index') %}<b>Hot</b>{%else%}<a href="{{url_for('home_hot')}}">Hot</a>{%endif%}
      {% if request.endpoint == 'home_top' %}<b>Top</b>{%else%}<a href="{{url_for('home_top')}}">Top</a>{%endif%}
      {% if request.endpoint == 'home_new' %}<b>New</b>{%else%}<a href="{{url_for('home_new')}}">New</a>{%endif%}
    {%endif%}
  </span>
</div>

<form class="pure-g search" action="{{ url_for('do.title_search') }}" method="post">
  <div class="icon" data-icon="search"> </div>
  <input name="term" placeholder="Title search..." type="search" class="pure-u-1">
</form>

{% if current_user.is_authenticated %}
<a href="{{url_for('submit_text', sub='')}}" class="sbm-post pure-button">Submit a text post</a>
<a href="{{url_for('submit_link', sub='')}}" class="sbm-post pure-button">Submit a link post</a>
<hr>
<a href="#" class="sbm-post pure-button pure-button-primary">Create a sub</a>
{% endif %}
{% cache 300, 'toppost' %}
{% set tp = func.getTodaysTopPosts()%}
{% if tp %}
  <hr>
  <div class="sidebarlists">
    <h4 class="center">Top posts in the last 24 hours</h4>
    <ul class="top5">
      {% for post in tp %}
        <li><a class="title" href="{{url_for('view_post', sub=post.sub, pid=post.pid)}}">{{post.title}}</a>
          <div class="sidelocale">
            <time-ago datetime="{{post.posted.isoformat()}}Z"></time-ago> in <a href="{{url_for('view_sub', sub=post.sub)}}">/s/{{post.sub}}</a>
          </div></li>
      {% endfor %}
    </ul>
  </div>
{%endif%}
{% endcache %}

{% cache 21600, 'suboftheday' %}
{% set rs = func.getRandomSub()%}
{% if rs %}
  <hr>
  <div class="sidebarlists">
    <h4 class="center">Sub of the day</h4>
    <ul>
      <li><a href="{{url_for('view_sub', sub=rs.name)}}">/s/{{rs.name}}</a>
        <div class="sidelocale">{{rs.title}}</div></li>
    </ul>
  </div>
{%endif%}
{% endcache %}
{% cache 300, 'changelog' %}
{% set cl = func.getChangelog() %}
{% if cl %}
  <hr>
  <div class="sidebarlists">
    <ul>
      <li><a class="title" href="{{url_for('view_post', sub=cl.sub, pid=cl.pid)}}">{{cl.title}}</a><br>
      <span class="sidelocale">
        <time-ago datetime="{{cl.posted.isoformat()}}Z"></time-ago> in <a href="{{url_for('view_sub', sub=cl.sub)}}">/s/{{cl.sub}}</a></li>
      </span>
    </ul>
  </div>
{% endif %}
{% endcache %}
{% if func.enableBTCmod() %}
<hr>
<a href="{{url_for('donate')}}" class="sbm-post pure-button">Gib phuks</a>
{% endif %}
{% if current_user.is_authenticated %}
<hr>
<a href="{{url_for('view_sitelog')}}" class="sbm-post pure-button">Site logs</a>
{% endif %}
{% endblock %}

{% block content %}
{{ super() }}
{% cache 120, 'announcement' %}
  {% set ann = func.getAnnouncement() %}
  {% if ann %}
  <article id="{{ann.pid}}" class="post" data-pid="{{ann.pid}}">
    {# vote arrow div #}
    <div class="pull left vote">
      <form class="uvform">
        <div class="upvote{%if func.getVoteStatus(current_user.get_id(), ann.pid) == 1%} upvoted{%endif%}"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
        {% set uv = form.VoteForm() %}
        {{uv.csrf_token}}{{uv.post(value=ann.pid)}}
      </form>
      <p class="count">{{ann['score']}}</p>
      <form class="dvform">
        <div class="downvote{%if func.getVoteStatus(current_user.get_id(), ann.pid) == 0%} downvoted{%endif%}"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
        {% set dv = form.VoteForm() %}
        {{uv.csrf_token}}{{uv.post(value=ann.pid)}}
      </form>
    </div>
      <div class="image">
          <a href="{{url_for('view_post_inbox', pid=ann.pid)}}">
            <span class="fa-stack fa-3x" style="color: #616161;">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
            </span>
          </a>
      </div>
      <div class="main">
        <a class="title" {% if current_user.has_exlinks() %}target="_blank" {% endif %} href="{{url_for('view_post_inbox', pid=ann.pid)}}"><div class="announcementPost">Announcement</div>{{ann.title}}</a>
        <p class="author">(+{{func.get_post_upcount(ann.pid)}}|-{{func.get_post_downcount(ann.pid)}}) <relative-time datetime="{{ann.posted.isoformat()}}Z"></relative-time></p>
        <p class="container">
            <span id="opentextpost" data-pid="{{ann.pid}}" class="closedtextpost">
              <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-comments" aria-hidden="true"></i></a></span>
            </span>
          <a href="{{url_for('view_sub', sub=func.getSub(ann.sid).name)}}" class="btn small"><i class="fa fa-users" aria-hidden="true"></i> /s/{{func.getSub(ann.sid).name}}</a>
          <a href="{{url_for('view_user', user=func.getUser(ann.uid).name)}}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> {{func.getUser(ann.uid).name}}</a>
          <a href="{{url_for('view_post_inbox', pid=ann.pid)}}#comments" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> <span class="ccount">{{db.get_post_comment_count(ann.pid)}}</span></a>
          </p>
      </div>
  </article>
  <hr/>
  {%endif%}
{% endcache %}

{% if not posts %}<h1 class="noshit">There are no posts here, yet.</h1>{% endif %}
<div class="alldaposts">
{% include "indexpost.html" %}
</div>
{% if page > 1 %}
<a href="{{url_for(sort_type, page=(page-1))}}" class="btn"><i class="fa fa-chevron-left" aria-hidden="true"></i> prev</a>
{% endif %}
{% if posts|length == 20 %}
<a href="{{url_for(sort_type, page=(page+1))}}" class="btn">next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
{% endif %}

{% endblock %}
{%block pagefoot%}
<!-- create sub form -->
{% if current_user.is_labrat() %}
  <script type="text/javascript" charset="utf-8">
      socket.on('connect', function() {
        window.sio = true;
        {% if sort_type == 'all_new' %}
          socket.emit('subscribe', {target: '/all/new'});
        {% endif %}
        $('article.post').each(function(i){
          socket.emit('subscribe', {target: $(this).data('pid')});
        })
      });
      {% if sort_type == 'all_new' and page == 1 %}
      socket.on('thread', function(data){
        socket.emit('subscribe', {target: data.pid})
        $('.alldaposts').prepend(data.html)
      })
      {% endif %}
      socket.on('threadscore', function(data){
        console.log('article#' + data.pid + ' .count')
        $('article#' + data.pid + ' .count').html(data.score)
      })

      socket.on('threadcomments', function(data){
        console.log('article#' + data.pid + ' .ccount')
        $('article#' + data.pid + ' .ccount').html(data.comments)
      })
  </script>
{%endif%}
{% if sort_type.endswith('new') and current_user.likes_scroll()%}
<script>
$(document).ready(function () {
    window.loading = false;
        $(window).scroll(function () {
            if(window.loading){
              return
            }
            {% if not request.endpoint.startswith('home') %}
              if($(window).scrollTop() + $(window).height() >= ($(document).height()/100)*75) {
                  // $('article').last().data('pid')
                  var lastpid = $('article').last().data('pid')
                  window.loading = true;
                  $.ajax({
                    type: "get",
                    url: '{{url_for(request.endpoint + '_more')}}/' + lastpid,
                    success: function(data) {
                      $('.alldaposts').append(data);
                      window.loading = false;
                    }
                  });
              }
              {% endif %}
        });
    })
</script>

{%endif%}
{%endblock%}
