<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="keywords" content="forum, vote, comment, submit, throat, internet">
    <meta name="description" content="Throat: Open discussion">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- mobile stuff -->
    <meta name="theme-color" content="white">
    <meta name="msapplication-navbutton-color" content="white">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent">

    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='img/favicon.png') }}">

    <title>{% block title %}{% endblock %}</title>

    <!-- css stuff -->
    {% assets "css_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    {% endblock %}
  </head>
  <body {%if request.cookies.get("dayNight") == "dark" and not current_user.is_anonymous %}class="dark"{%endif%}>
    <div class="row">
      <header class="col-12">
        <nav id="navbar">
          <ul>
            <li><a href='/'><img id="logo" src="{{ url_for('static', filename='img/logo.v2.png') }}" alt="Throat" width="100"></a></li>
            <li><a href="#">Hot</a></li>
            <li><a href="#">New</a></li>
            <li><a href="#">Active</a></li>
            {% block navbar %}{% endblock %}
          </ul>
        </nav>
      </header>
    </div>
    <div class="row content">
      <div class="col-3 side right">
        {% block sidebar %}
        <div style="text-align: left; margin: 0.5em;">
          {% block search %}
          <div class="search">
            <span class="fa fa-search"></span>
            <input type="search" name="search" placeholder="Search...">
          </div>

          {% endblock %}
        </div>
        <div class="row buttons">
        {% if current_user.is_anonymous %}
          <div class="col-6">
            <a href="#login-form" class="btn login">Login</a>
          </div>
          <div class="col-6">
            <a href="#register-form" class="btn register">Register</a>
          </div>
        {% else %}
         <form method="POST" action="{{ url_for('do.logout') }}">
           {{ logoutform.csrf_token }}
           <div class="col-6"><button type="submit" class="btn">Log out</button></div>
           <div class="col-2"><button type="button" id="toggledark" class="lightbtn"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></button></div>
           <div class="col-2">
             <button type="button" class="lightbtn" id="mail"><a href="{{ url_for('view_messages') }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></button>
           </div>
           <div class="col-2 right">
             <button type="button" class="lightbtn" id="config"><a href="{{ url_for('edit_user', user=current_user.user.name) }}"><i class="fa fa-cog" aria-hidden="true"></i></a></button>
           </div>
         </form>
        {% endif %}
        </div>
        {% endblock %}
      </div>
      {% block main %}<main class="col-8 right center">{% block content %}{% endblock %}</main>{% endblock %}
    </div>
    <footer>
        {% block footer %}
        Copyright &copy;2016 Throat. All Rights Reserved. | <a href="{{url_for('tos')}}">Terms of service</a> | <a href="{{url_for('privacy')}}">Privacy</a>
        {% endblock %}
    </footer>
    {% if current_user.is_anonymous %}
    <!-- login form -->
    <form id="login-form" class="mfp-hide white-popup-block">
    	<h1>Login</h1>
        {{ loginform.csrf_token }}
    	<p id="login-intro">Do you have an account?</p>
    	<p>{{loginform.username(placeholder=loginform.username.label.text, required=True, autofocus=True, pattern="[a-zA-Z0-9_-]+", title="Alphanumeric characters plus '-' and '_'")}}</p>
    	<p>{{loginform.password(placeholder=loginform.password.label.text, required=True)}}</p>
      <p>
          {{loginform.remember(style="width: auto")}}
          <label for="remember">{{loginform.remember.label.text}}</label>
      </p>
        <div class="alert div-error">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <p></p>
        </div>
        <p><button type="submit" id="login-btnsubmit">Log in</button></p>
    </form>
    <!-- register form -->
    <form id="register-form" class="mfp-hide white-popup-block">
        <div id="the-register-form-itself">
            {{ regform.csrf_token }}
            <h1>Register</h1>
            <p>Registering is free. All you need is a username and password.</p>
            <p>{{regform.username(placeholder=regform.username.label.text, required=True, autofocus=True, pattern="[a-zA-Z0-9_-]+", title="Alphanumeric characters plus '-' and '_'")}}</p>
            <p>{{regform.password(placeholder=regform.password.label.text, required=True, autocomplete="off")}}</p>
            <p>{{regform.confirm(placeholder=regform.confirm.label.text, required=True, autocomplete="off")}}</p>
            <p>{{regform.email(placeholder=regform.email.label.text)}}</p>
            <p>
                {{regform.accept_tos(style="width: auto", required=True)}}
                <a href="{{url_for('tos')}}"><label for="tos">{{regform.accept_tos.label.text}}</label></a>
            </p>
            {{regform.recaptcha}}
            <div class="alert div-error">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              <p></p>
            </div>
            <p><button type="submit" id="reg-btnsubmit">Register</button></p>
        </div>
    </form>
    {% endif %}

    <!-- Scripts -->
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {%block pagefoot%}{%endblock%}
  </body>
</html>
