<!DOCTYPE html>
<html lang="{{func.get_locale()}}">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="keywords" content="forum, diskusie, komentare, reddit, cekni, cekni.to, www.cekni.to">
    <meta name="referrer" content="always">

    <meta name="description" content="{{config.site.lema}}">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- mobile stuff -->
    <meta name="theme-color" content="white">
    <meta name="msapplication-navbutton-color" content="white">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent">

    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}?v9">

    <title>
      {% block title %}{{config.site.lema}}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ asset_url_for('main.css') }}">

    {% endblock %}
  </head>

<body class="{%if config.site.enable_totp and current_user.admin%}body_admin {%endif%}{%if request.cookies.get( "dayNight")=="dark" %}dark{%elif request.cookies.get( "dayNight")=="dank" %}dark dank{%endif%}">
  {%if config.site.enable_totp and current_user.admin %}
  <div class="admin_alert">Admin mode is currently enabled.
    <form method="POST" action="/admin/logout" id="adminlogout">
      {{ logoutform.csrf_token }}
      <button type="submit" class="btn_link">Disable</button>
    </form></div>
  {%endif%}

  <div class="th-subbar pure-u-1">
    <ul id="topbar">
      <li><a href="/all">všetky</a></li>
      <li><a href="/all/new">nové</a></li>
      {% if current_user.can_admin %}
        <li><a href="{{url_for('admin.index')}}">admin</a></li>
      {% endif %}
      <li>|</li>
      {% if not current_user.is_anonymous %}
      <li class="editbar"><a href="/settings/subs" title="Customize this bar" class="tx-icon" data-icon="edit"></a></li>
      {% endif %}
      {% for sub in current_user.get_top_bar() %}
        <li class="subinthebar"><a href="{{url_for('sub.view_sub', sub=sub['name'])}}">{{sub['name']}}</a></li>
      {% endfor %}
    </ul>
    <div id="subsdropdown">
      <div class="dropdown-toggle moremenu">
        Ďalšie
      </div>
      <ul id="hiddensubs"></ul>
    </div>
  </div>

  <div id="menu" class="th-navbar pure-g">
    <a class="banner-link" href="@{url_for('sub.view_sub', sub=sub['name'])}"></a>
    <div class="cw-brand pure-u-1 pure-u-md-3-24"> <!-- logo -->
      <div class="pure-menu">
        <a class="logocont" href="{{url_for('home.index')}}">
          {{ THROAT_LOGO|safe }}
        </a>
        <span class="motto">{{func.get_motto()}}</span>
        <a id="toggle" href="#" class="th-toggle">
          <s class="bar"></s>
          <s class="bar"></s>
        </a>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-6-24" style="display:none;">
      <div class="cw-items pure-menu pure-menu-horizontal">
        <!-- Menu -->
        <ul id="th-menu" class="pure-menu-list">
          {% block navbar %}{% endblock %}
        </ul>
      </div>
    </div>

    <div id="th-uinfo" class="pure-u-1 pure-u-md-12-24"> <!-- class="pure-u-1 pure-u-md-8-24" -->
      <div class="cw-items">
        {% if current_user.is_anonymous %}
        <div id="toggledark" class="glyphbutton">
          <span class="p-icon" data-icon="{%if request.cookies.get( "dayNight")=="dark" %}sun{%else%}moon{%endif%}"></span>
        </div>
        <a href="{{url_for('auth.login', next=request.path)}}" class="pure-button pure-button-primary">Prihlásiť</a>
        <a href="{{url_for('auth.register')}}" class="pure-button button-secondary">Registrácia</a>
        {%else%}
        <a href="{{ url_for('user.view', user=current_user.name) }}" class="smallcaps">{{current_user.name}}</a>
        <span class="separator"></span>
        <abbr title="Phuks taken" class="bold" id="postscore">{{current_user.score}}</abbr>
        <span class="separator"></span>
        <div class="glyphbutton">
          <a href="{{ url_for('user.edit_user', user=current_user.name) }}"><span class="p-icon" data-icon="cog"></span></a>
        </div>
        <div class="glyphbutton sep ">
          <a href="{{ url_for('messages.inbox_sort') }}">
            <span class="hasmail">
              <span class="p-icon{% if current_user.notifications != 0 %} hasmail{%endif%}" data-icon="mail"></span>
              <span id="mailcount" class="mailcount" {% if current_user.notifications == 0 %}style="display:none;"{%endif%}>{{current_user.notifications}}</span>
            </span>
          </a>
        </div>
        {% if current_user.is_a_mod or current_user.can_admin %}
        <div class="glyphbutton">
          <a href="{{ url_for('mod.index') }}">
            <span class="hasmail">
              <span class="p-icon" data-icon="shield"></span>
              <span id="modcount" class="mailcount" data-mod="{{current_user.mod_notifications_json()}}" style="display:none;"></span>
          </span>
          </a>
        </div>
        {% endif %}
        <div id="toggledark" class="glyphbutton">
          <span class="p-icon" data-icon="{%if request.cookies.get( "dayNight")=="dark" %}sun{%else%}moon{%endif%}"></span>
        </div>
        <form method="POST" action="{{ url_for('do.logout') }}" id="logout">
          {{ logoutform.csrf_token }}
          <button type="submit" class="pure-button button-secondary">Odhlásiť</button>
        </form>
        {%endif%}
        {{ logoutform.csrf_token }}
      </div>
    </div>
  </div>

  <div class="pure-g new-g">
    <div class="pure-u-1 pure-u-md-18-24"> <!-- main -->
      {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
          {% for err in errors %}
            <div class="error" style="margin-top: 2em;">@{ err }</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% with messages = get_flashed_messages(category_filter=["message"]) %}
        {% if messages %}
          {% for msg in messages %}
            <div class="message" style="margin-top: 2em;">@{ msg }</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block main %}
        <div id="container">{% block content %}{% endblock %}</div>
      {% endblock %}
    </div>
    <div class="sidebar pure-u-1 pure-u-md-6-24"> <!-- sidebar -->
      {% block sidebar %}

      {%endblock%}
    </div>
  </div>

  <div class="footer">
    {% block footer %}
      &copy;{{config.site.copyright}}
      <br>
      {% for text,link in config.site.footer.links.items() %}
        <a href="{{link}}">{{text}}</a> |
      {% endfor %}
      <a target="_blank" href="https://discord.gg/8HFrGrzEx2">Discord</a>
      <br>
      Served by {{hostname}}
      {%if config.app.debug%} | Page generated in __EXECUTION_TIME__ms with __DB_QUERIES__ queries{%endif%}
    {% endblock %}
  </div>
  <script src="{{ asset_url_for('main.js') }}"></script>
  <style>{{current_user.get_global_stylesheet()|safe}}</style>
  {%block pagefoot%}{%endblock%}
</body>
</html>
