<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="keywords" content="forum, vote, comment, submit, throat, internet">
  <meta name="description" content="{{config.LEMA}}">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- mobile stuff -->
  <meta name="theme-color" content="white">
  <meta name="msapplication-navbutton-color" content="white">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent">

  <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}?v9">

  <title>
    {% if not current_user.is_anonymous %}
      {% if current_user.has_mail() %}
        ({{current_user.new_count()}})
      {% endif %}
    {% endif %}
    {% block title %}{{config.LEMA}}{% endblock %}</title>

  <!-- css stuff -->
  {% assets "css_all" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"> {% endassets %} {% endblock %}
</head>

<body {%if request.cookies.get( "dayNight")=="dark" and not current_user.is_anonymous %}class="dark" {%endif%}>
  <div class="row subscriptionbar">
    <div id="subslist" class="col-11">
      <ul>
        {% if not current_user.is_anonymous %}
        <li class="subinthebar"><a href="{{url_for('all_hot')}}">all</a></li>
        <li class="subinthebar"><a href="{{url_for('view_my_subs')}}">mysubs</a></li>
        <li class="subinthebar"><a href="{{url_for('view_my_multis')}}">mymultis</a></li>
        <li class="subinthebar"><a href="{{url_for('view_modmulti_new')}}">modmulti</a></li>
        <li class="subinthebar"> | </li>
        {% endif %}
        {% for sub in func.getSubscriptions(current_user.get_id()) %}
          <li class="subinthebar"><a href="{{url_for('view_sub', sub=db.get_sub_from_sid(sub.sid).name)}}">{{db.get_sub_from_sid(sub.sid).name}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-1 dropdown" id="subsdropdown">
      <div class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        More
        <span class="fa fa-caret-down"></span>
      </div>
      <ul id="hiddensubs" class="dropdown-menu dropdown-menu-right columns"></ul>
    </div>
  </div>


  <div class="row">
    <header class="col-12">
      <nav id="navbar">
        <ul>
          <li>
            <a id="logo" href='/'><img id="logo" src="{{ url_for('static', filename='img/logo.v4.png') }}" alt="Throat" ></a>
          </li>
          {% block navbar %}{% endblock %}
        </ul>
      </nav>
    </header>
  </div>
  <div class="row content">
    <div class="side">
      {% block sidebar %}
      {% if current_user.is_anonymous %}
      <div class="row buttons">
        <div class="col-6">
          <a href="#login-form" class="btn login">Login</a>
        </div>
        <div class="col-6">
          <a href="{{url_for('register')}}" class="btn register">Register</a>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-12">
          <a class="btn small" href="{{ url_for('view_user', user=current_user.name) }}"><i class="fa fa-user" aria-hidden="true"></i> {{current_user.get_username()}}</a>
          <span class="btn small" title="Phuks taken"><i class="fa fa-list" aria-hidden="true"></i> <span id="postscore">{{current_user.get_post_score()}}</span></span>
          <!--<span class="btn small" title="Comment Score"><i class="fa fa-comments" aria-hidden="true"></i> xx</span>-->
          <span class="btn small" title="Phuks given"><i class="fa fa-expand" aria-hidden="true"></i> {{current_user.get_post_voting()}}</span>
        </div>
      </div>
      <div class="row buttons">
        <form method="POST" action="{{ url_for('do.logout') }}">
          {{ logoutform.csrf_token }}
          <div class="col-6"><button type="submit" class="btn logout">Log out</button></div>
          <div class="col-6">
            <button type="button" id="toggledark" class="lightbtn"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></button>
            <a href="{{ url_for('inbox_sort') }}">
              <button type="button" class="lightbtn" id="mail">
              {% if current_user.has_mail() %}
                <span id="newmailcount">{{current_user.new_count()}}</span>
                <i class="fa fa-envelope hasmail" aria-hidden="true"></i>
              {% else %}
                <span id="newmailcount"></span>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              {% endif %}
              </button>
            </a>
            <a href="{{ url_for('edit_user', user=current_user.name) }}"><button type="button" class="lightbtn" id="config"><i class="fa fa-cog" aria-hidden="true"></i></button></a>
          </div>

        </form>
      </div>
      {% endif %} {% endblock %}
    </div>
    {% block main %}
    <main class="center">{% block content %}{% endblock %}</main>{% endblock %}
  </div>
  <footer>
    {% block footer %}
    &copy;{{config.COPY}}
    <br>
    <a href="{{url_for('welcome')}}">Welcome</a> |
    <a href="{{url_for('tos')}}">Terms of service</a> |
    <a href="{{url_for('privacy')}}">Privacy</a> |
    <a href="{{url_for('view_sub', sub='changelog')}}">Changelog</a> |
    <a href="{{url_for('view_api')}}">API</a> |
    <a href="{{url_for('canary')}}">Canary</a> |
    <a href="{{url_for('donate')}}">Donate</a>
    <br>
    Served by {{hostname()}}{%if config.DEBUG or current_user.is_admin()%} | Page generated in __EXECUTION_TIME__ms with
    __DB_QUERIES__ queries{%endif%} {% endblock %}
  </footer>
  {% if current_user.is_anonymous %}
  <!-- login form -->
  <form  method="POST" action="{{url_for('do.login')}}" data-reload="true" id="login-form" class="ajaxform mfp-hide white-popup-block">
    <h1>Login</h1> {{ loginform.csrf_token }}
    <p id="login-intro">Do you have an account?</p>
    <p>{{loginform.username(placeholder=loginform.username.label.text, required=True, pattern="[a-zA-Z0-9_-]+", title="Alphanumeric characters plus '-' and '_'")}}</p>
    <p>{{loginform.password(placeholder=loginform.password.label.text, required=True)}}</p>
    <p>
      {{loginform.remember(style="width: auto")}}
      <label for="remember">{{loginform.remember.label.text}}</label>
    </p>
    <div class="alert div-error"></div>
    <p><button type="submit" class="btn btn-blue" data-prog="Logging in..." id="login-btnsubmit">Log in</button></p>
    <p style="text-align:right;"><a href="{{url_for('password_recovery')}}">Forgot your password?</a>
  </form>
  {% endif %}

  <!-- Scripts -->
  {% assets "js_all" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('//' + document.domain + ':' + location.port + '/snt');
        socket.on('notification', function(d){
          // bahhh
          title = $('title').html().split('\n')
          title = title[title.length-1]
          if(d.count == 0){
            document.title = '\n' + title;
            $('#newmailcount').html('');
            $('.fa-envelope').removeClass('hasmail').addClass('fa-envelope-o').removeClass('fa-envelope');
          }else{
            document.title = '(' + d.count + ')\n ' + title;
            $('#newmailcount').html(d.count);
            $('.fa-envelope-o').addClass('hasmail').addClass('fa-envelope').removeClass('fa-envelope-o');
          }
        })
        socket.on('uscore', function(d){$('#postscore').html(d.score);})

        //replaces default broken thumb img with local thumb
        fixBrokenImages = function( url ){
          var img = document.getElementsByTagName('img');
          var i=0, l=img.length;
          for(;i<l;i++){
            var t = img[i];
            if(t.naturalWidth === 0){
                t.src = url;
            }
          }
        }

        $(window).on("load", function() {
        fixBrokenImages('{{ url_for('static', filename='img/borkedthumb.png') }}');
        });
        </script>
  {%block pagefoot%}{%endblock%}
  <a href="#kx" id="xk" style="display:none"></a>
</body>

</html>
