{% extends "layout.html" %}
{% block title %}My messages | {{config.LEMA}}{% endblock %}
{% block navbar %}

{% endblock %}

{% block sidebar %}
{{ super() }}
<div class="row buttons inbox">
  <div class="col-3"><a class="btn{% if current_user.new_pm_count() > 0 %} btn-orange{% endif %}" href="{{ url_for('view_messages') }}">
    <i class="fa fa-user" aria-hidden="true"></i>{% if current_user.new_pm_count() > 0 %} <i class="fa fa-envelope" aria-hidden="true"></i> {{current_user.new_pm_count()}}{% endif %}</a>
  </div>
  <div class="col-3"><a class="btn{% if current_user.new_postreply_count() > 0 %} btn-orange{% endif %}" href="{{ url_for('view_messages_postreplies') }}">
    <i class="fa fa-list" aria-hidden="true"></i>{% if current_user.new_postreply_count() > 0 %} <i class="fa fa-envelope" aria-hidden="true"></i> {{current_user.new_postreply_count()}}{% endif %}</a>
  </div>
  <div class="col-3"><a class="btn{% if current_user.new_comreply_count() > 0 %} btn-orange{% endif %}" href="{{ url_for('view_messages_comreplies') }}">
    <i class="fa fa-comments" aria-hidden="true"></i>{% if current_user.new_comreply_count() > 0 %} <i class="fa fa-envelope" aria-hidden="true"></i> {{current_user.new_comreply_count()}}{% endif %}</a>
  </div>
  <div class="col-3"><a class="btn"  href="{{ url_for('view_messages_sent') }}">
    <i class="fa fa-send-o" aria-hidden="true"></i></a>
  </div>
  <div class="col-12"><a class="btn{% if current_user.new_modmail_count() > 0 %} btn-orange{% endif %}"  href="{{ url_for('view_messages_modmail') }}">
    <i class="fa fa-user-plus" aria-hidden="true"></i> Modmail {% if current_user.new_modmail_count() > 0 %} <i class="fa fa-envelope" aria-hidden="true"></i> {{current_user.new_modmail_count()}}{% endif %}</a>
  </div>
</div>
{% endblock %}

{% block content %}
{{ super() }}
<div class="user-activity col-12">
    <h3>
      {{messages|length}} {{box_name}} <a data-boxid="{{boxID}}" data-name="{{current_user.name}}" class="readall btn small right">
      <i class="fa fa-folder-open" aria-hidden="true"></i> Mark all as read</a>
    </h3>
{% for message in messages %}
    <article class="pmessage post" data-replyto='{{message.sentby}}'
    {% if box_name == 'Replies' %}data-sub='{{func.getCommentSub(message.mlink).name}}' data-post='{{func.getComment(message.mlink).pid}}' data-parent='{{message.mlink}}'{%endif%}
    data-replytitle='Re: {{message.subject}}'>
      <div class="main">
        {% if box_name == 'Replies' %}
          <div class="pull left votecomment" style="margin-right: 10px;">
            {# vote arrow div #}
              <form class="cuvform" id="cuvform-{{func.getComment(message.mlink).cid}}">
                <div class="cupvote{%if func.hasVotedComment(current_user.get_id(), func.getComment(message.mlink))%} upvoted{%endif%}"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
                {% set uv = form.VoteForm() %}
                {{uv.csrf_token}}{{uv.post(value=func.getComment(message.mlink).cid)}}
              </form>
              <p class="count">{{func.getComment(message.mlink).getScore()}}</p>
              <form class="cdvform" id="cdvform-{{func.getComment(message.mlink).cid}}">
                <div class="cdownvote{%if func.hasVotedComment(current_user.get_id(), func.getComment(message.mlink), False)%} downvoted{%endif%}"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                {% set dv = form.VoteForm() %}
                {{uv.csrf_token}}{{uv.post(value=func.getComment(message.mlink).cid)}}
              </form>
          </div>
          <div>
            <p class="title"><a href="{{url_for('view_comment_inbox', cid=message.mlink)}}">{{message.subject}}</a></p>
            <p class="container">{{markdown(func.getComment(message.mlink).content)|safe}}</p>
          </div>
        {% else %}
          <p class="title">{{message.subject}}</p>
          <p class="container">{{markdown(message.content)|safe}}</p>
        {% endif %}
        {% if message.mtype == 2 %}
          <p>Please visit: <a href="{{url_for('edit_sub_mods', sub=message.mlink)}}"> /s/{{message.mlink}}/mods</a><p>
        {% endif %}
        {% if message.mtype == 7 %}
          <p>Please visit: <a href="{{url_for('view_sub_bans', sub=message.mlink)}}"> /s/{{message.mlink}}/bannedusers</a><p>
        {% endif %}
        <p class="author"><time-ago datetime="{{message.posted.isoformat()}}Z"></time-ago></p>
        <p class="container">
          {% if box_name != 'Sent' %}
            <a href="{{url_for('view_user', user=message.getMsgSentBy)}}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i>/u/{{message.getMsgSentBy}}</a>
            {% if not message.read %}
              <a class="unread btn btn-orange edit small" data-mid="{{message.mid}}"><i class="fa fa-circle-o" aria-hidden="true"></i> mark as read</a>
            {% else %}
              <a class="read btn small"><i class="fa fa-folder-open" aria-hidden="true"></i> read {{message.read}}</a>
            {% endif %}
            {% if message.mtype != 8 %}
              {% if box_name == 'Replies' %}
                <a href="#comment-form" class="btn small replycomment popup"><i class="fa fa-mail-reply" aria-hidden="true"></i> reply</a>
              {%else%}
                <a href="#msg-form" class="btn small replymsg popup"><i class="fa fa-mail-reply" aria-hidden="true"></i> reply</a>
              {%endif%}
              <a class="btn small"><i class="fa fa-mail-forward" aria-hidden="true"></i> forward</a>
            {%endif%}
            <a class="delete btn small btn-red" data-mid="{{message.mid}}"><i class="fa fa-trash" aria-hidden="true"></i> delete</a>
          {% else %}
            <a href="{{url_for('view_user', user=message.getMsgRecBy)}}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i>/u/{{message.getMsgRecBy}}</a>
          {% endif %}
        </p>
      </div>
    </article>
{% endfor %}
</div>

<form id="msg-form" action="{{url_for('do.create_sendmsg')}}" data-redir="{{url_for('inbox_sort')}}" class="ajaxform mfp-hide white-popup-block">
  {% set msgform = form.CreateUserMessageForm()%}
  {{msgform.csrf_token}}
  {{msgform.to()}}
  <h1>Submit a user message</h1>
  <p class="subject">{{msgform.subject(placeholder=msgform.subject.label.text, required=True, autofocus=True)}}</p>
  <p class="content">{{msgform.content(placeholder="Write your post content here. Styling with Markdown format is supported.", rows="10", **{'data-provide' :"markdown"})}}</p>
  <div class="alert div-error">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p></p>
  </div>
  <p><button type="submit" id="msg-btnsubmit" class="btn btn-blue" data-prog="Sending...">Send Message</button></p>
</form>

<form class="comment-form mfp-hide white-popup-block" id="comment-form">
  <h2>Reply to comment</h2>
  {{commentform.csrf_token}}
  {{commentform.sub()}}
  {{commentform.post()}}
  {{commentform.parent(value='0')}}
  <div class="CommentContent">{{commentform.comment(id="comment2", placeholder="Write your comment here. Styling with Markdown format is supported.", rows="10", **{'data-provide' :"markdown"})}}</div>
  <button type="submit" class="btn btn-orange">Submit comment</button>
</form>

{% endblock %}
{%block pagefoot%}

{%endblock%}
