{% extends "layout.html" %}
{% block title %}My messages | Throat: Open discussion{% endblock %}
{% block navbar %}
<ul class="right">
  <li><a href="{# url_for('view_user', user=user.name) #}">{{user.name}}</a></li>
</ul>
{% endblock %}

{% block sidebar %}
{{ super() }}<hr/>
<p><a href="/messages">inbox</a><p>
<p><a href="{{ url_for('view_messages_sent') }}">sent</a><p>
<p><a href="{{ url_for('view_messages_posts') }}">post replies</a><p>
<p><a href="{{ url_for('view_messages_comments') }}">comment replies</a><p>

{% endblock %}

{% block content %}
{{ super() }}
<div class="user-activity col-10">
    <h3>{{box_name}}</h3>
{% for message in messages %}
    <article class="post">
      <div class="main">
        {% if box_name == 'Post Replies' %}
        <p class="title"><a href="{{url_for('view_post_inbox', pid=message.mtype)}}">{{message.subject}}</a></p>
        {% else %}
        <p class="title">{{message.subject}}</p>
        {% endif %}
        <p class="container">{{message.content}}</p>
        <p class="author"><time-ago datetime="{{message.posted.isoformat()}}"></time-ago></p>
        <p class="container">
          {% if box_name != 'Sent' %}
          <a href="{{url_for('view_user', user=message.getMsgSentBy)}}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i>/u/{{message.getMsgSentBy}}</a>
          {% if not message.read %}
          <a class="unread btn btn-orange edit small" data-mid="{{message.mid}}"><i class="fa fa-circle-o" aria-hidden="true"></i> mark as read</a>
          {% else %}
          <a class="read btn small"><i class="fa fa-folder-open" aria-hidden="true"></i> read</a>
          {% endif %}
          <a class="btn small"><i class="fa fa-mail-reply" aria-hidden="true"></i> reply</a>
          <a class="btn small"><i class="fa fa-mail-forward" aria-hidden="true"></i> forward</a>
          <a class="btn small"><i class="fa fa-close" aria-hidden="true"></i> delete</a>
          {% else %}
          <a href="{{url_for('view_user', user=message.getMsgRecBy)}}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i>/u/{{message.getMsgRecBy}}</a>
          {% endif %}
        </p>
      </div>
    </article>
{% endfor %}
</div>
{% endblock %}
{%block pagefoot%}

{%endblock%}
