{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}

{% block head %}
{{ super() }}
{% if config.COIN_HIVE_SECRET %}
<script src="https://coin-hive.com/lib/coinhive.min.js"></script>
{% endif %}

<style>
/* Base -------------------------------------------------------------------- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
}

body {
	margin-bottom: 0 0 3em 0;
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}

img {
	border: 0;
}


/* Grid --------------------------------------------------------------------- */

.container {
	position: relative;
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	padding: 0 20px;
}

.container:after, .row:after {
	content: "";
	display: table;
	clear: both;
}

.column, .columns {
	width: 100%;
	float: left;
}

@media (min-width: 400px) {
	.container {
		width: 85%;
		padding: 0;
	}
}

@media (min-width: 550px) {
	.container {
		width: 80%;
	}
	.column, .columns {
		margin-left: 4%;
	}
	.column:first-child,
	.columns:first-child {
		margin-left: 0;
	}

	.one.column, .one.columns { width: 4.66666666667%; }
	.two.columns { width: 13.3333333333%; }
	.three.columns { width: 22%; }
	.four.columns  { width: 30.6666666667%; }
	.five.columns  { width: 39.3333333333%; }
	.six.columns { width: 48%; }
	.seven.columns { width: 56.6666666667%; }
	.eight.columns { width: 65.3333333333%; }
	.nine.columns  { width: 74.0%; }
	.ten.columns { width: 82.6666666667%; }
	.eleven.columns  { width: 91.3333333333%; }
	.twelve.columns  { width: 100%; margin-left: 0; }

	.one-third.column  { width: 30.6666666667%; }
	.two-thirds.column { width: 65.3333333333%; }

	.one-half.column { width: 48%; }
}

.full-width {
	width: 100%;
}
.max-full-width {
	max-width: 100%;
}


/* Typo & Margins ----------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
}

h1 { font-size: 4.0rem; line-height: 1.20; letter-spacing: -0.10rem; }
h2 { font-size: 3.0rem; line-height: 1.25; letter-spacing: -0.10rem; }
h3 { font-size: 2.4rem; line-height: 1.30; letter-spacing: -0.10rem; }
h4 { font-size: 1.5rem; line-height: 1.35; letter-spacing: -0.05rem; text-transform: uppercase; }
h5 { font-size: 1.5rem; line-height: 1.50; letter-spacing: -0.05rem; text-transform: uppercase; }
h6 { font-size: 1.5rem; line-height: 1.60; letter-spacing: 0; }

p {
	margin-top: 0;
}

button, .button {
	margin-bottom: 1rem;
}
input, textarea,
select, fieldset {
	margin-bottom: 1.5rem;
}

pre, blockquote, dl, figure,
table, p, ul, ol, form {
	margin-bottom: 2.5rem;
}


/* Tables ------------------------------------------------------------------- */

div.overflow-container {
	overflow: auto;
	width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

td, th {
	text-align: left;
	border-bottom: 1px solid #f1f1f1;
	padding: 0.5em 1em;
	margin: 0;
}

th:first-child, td:first-child {
	padding-left: 0;
}
th:last-child, td:last-child {
	padding-right: 0;
}

th.number, td.number {
	text-align: right;
	width: 4em;
}

td input {
	margin-bottom: 0;
}

tr.inactive {
	background-color: #eee;
	opacity: 0.3;
}

tr:hover {
	background-color: #fbfbfb;
}

tr.inactive:hover {
	background-color: #ddd;
}

p.fine-print {
	font-size: 80%;
	color: #aaa;
	text-align: right;
}

table.reference td {
	vertical-align: top;
}

table.reference td:first-child {
	width: 25%;
	text-align: right;
	font-family: monospace, monospace;
	font-size: 0.9em;
}

/* Notices ------------------------------------------------------------------ */

.notice {
	background-color: #eee;
	padding: 0.25em 0 0.25em 0.5em;
}

.notice.ok { background-color: #afffb2; }
.notice.warn { background-color: #ffdd9d; }
.notice.danger { background-color: #e7295f; color: #fff; }

@keyframes opacity-fade { 85% {opacity: 1;} 100% {opacity: 0;}}
.notice.temporary {
	animation: opacity-fade 3s ease-in 1;
	animation-fill-mode: forwards;
}

.hint {
	font-style: italic;
	color: #555;
}


a {
	color: #1e9ee0;
	text-decoration: none;
	background-color: transparent;
}

.action {
	cursor: pointer;
	color: #1e9ee0;
	text-decoration: none;
}

a:hover, .action:hover,
a.active, .action.active {
	color: #555;
}

span.link-disabled {
	color: #ccc;
}

span.punct {
	color: #eee;
}

.pagination {
	text-align: right;
}

.action.action-delete {
	color: #f30;
	font-size: 160%;
}

h1.landing {
	font-size: 6rem;
}

img.head-icon {
	vertical-align: bottom;
	width: 37px;
	height: 37px;
	margin-right: 4px;
}

div.use-cases {
	margin: 6em 0 4em 0;
}

div.use-cases div.row {
	margin: 1em 0;
}

.call-to-action {
	margin: 4em 0;
	text-align: center;
}

h4.number-label {
	margin: 16px 0 0 0;
}


/* Landing Page Miner ------------------------------------------------------- */
div#miner {
  width: 90%;
  display: block;
}
#miner h4.number-label,
#miner h2 {
	color: #aaa;
}

#miner.running h4.number-label,
#miner.running h2 {
	color: #555;
}

#mining-stats-container {
	position: relative;
	text-align: center;
	height: 96px;
	border-bottom: 1px solid #f0f0f0;
}

#mining-stats-canvas {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#mining-controls {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 32px 0;
}

#mining-start {
	text-transform: uppercase;
	font-size: 120%;
	display: inline-block;
}

#miner.running #mining-start {
	position: relative;
	z-index: 2;
	display: none;
}

#mining-stop {
	display: none;
}

#miner.running #mining-controls:hover #mining-stop {
	position: relative;
	z-index: 2;
	display: inline-block;
}

.mining-icon {
	width: 32px;
	height: 32px;
	vertical-align: -37%;
	margin-right: 4px;
}

.mining-icon .mining-stroke { stroke: #1e9ee0; }
.mining-icon .mining-fill { fill: #1e9ee0; }
.mining-button:hover .mining-icon .mining-stroke { stroke: #555; }
.mining-button:hover .mining-icon .mining-fill { fill: #555; }

#miner.stopped .action { color: #aaa; }
.mining-divide { font-size: 80%; color: #eee; }



/* Charts ------------------------------------------------------------------- */

.ct-label {
	fill: rgba(0, 0, 0, 0.4);
	color: rgba(0, 0, 0, 0.4);
	font-size: 12px;
	line-height: 1;
	white-space: nowrap;
}
.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
	display: block;
	display: flex;
}
.ct-label.ct-horizontal.ct-start {
	align-items: flex-end;
	justify-content: flex-start;
	text-align: left;
	text-anchor: start;
}
.ct-label.ct-horizontal.ct-end {
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	text-anchor: start;
}
.ct-label.ct-vertical.ct-start {
	align-items: flex-end;
	justify-content: flex-end;
	text-align: right;
	text-anchor: end;
}
.ct-label.ct-vertical.ct-end {
	align-items: flex-end;
	justify-content: flex-start;
	text-align: left;
	text-anchor: start;
}
.ct-grid {
	stroke: rgba(0,0,0, 0.05);
	stroke-width: 1px;
	stroke-dasharray: 4px;
}

.ct-line {
	fill: none; stroke-width: 1px;
}
.ct-series-a .ct-line { stroke: #4cc667; }
.ct-series-b .ct-line { stroke: #f05b4f; }
.ct-series-c .ct-line { stroke: #f4c63d; }
.ct-series-d .ct-line { stroke: #d17905; }
.ct-series-e .ct-line { stroke: #453d3f; }
.ct-series-f .ct-line { stroke: #59922b; }
.ct-series-g .ct-line { stroke: #0544d3; }
.ct-series-h .ct-line { stroke: #6b0392; }
.ct-series-i .ct-line { stroke: #f05b4f; }
.ct-series-j .ct-line { stroke: #dda458; }
.ct-series-k .ct-line { stroke: #eacf7d; }
.ct-series-l .ct-line { stroke: #86797d; }
.ct-series-m .ct-line { stroke: #b2c326; }
.ct-series-n .ct-line { stroke: #6188e2; }
.ct-series-o .ct-line { stroke: #a748ca; }

.ct-legend { color: #555; margin: 0 8px; display: inline-block;}
.ct-legend-a {border-bottom: 1px solid #4cc667;}
.ct-legend-b {border-bottom: 1px solid #f05b4f;}
.ct-legend-c {border-bottom: 1px solid #f4c63d;}
.ct-legend-d {border-bottom: 1px solid #d17905;}
.ct-legend-e {border-bottom: 1px solid #453d3f;}
.ct-legend-f {border-bottom: 1px solid #59922b;}
.ct-legend-g {border-bottom: 1px solid #0544d3;}
.ct-legend-h {border-bottom: 1px solid #6b0392;}
.ct-legend-i {border-bottom: 1px solid #f05b4f;}
.ct-legend-j {border-bottom: 1px solid #dda458;}
.ct-legend-k {border-bottom: 1px solid #eacf7d;}
.ct-legend-l {border-bottom: 1px solid #86797d;}
.ct-legend-m {border-bottom: 1px solid #b2c326;}
.ct-legend-n {border-bottom: 1px solid #6188e2;}
.ct-legend-o {border-bottom: 1px solid #a748ca;}

</style>
{% endblock %}


{% block sidebar %}
{{ super() }}
{% cache 300, 'minerstats' %}

	<div>
	  <h2>Stats</h2>
	  <div>
	    {% set hashrate = func.getCurrentHashrate() %}
	    <div id="miningstats">
	      <ul>
	        <li>Current site hashrate: <b>{{hashrate['hashesPerSecond']}}</b>H/s.</li>
	        <li>Total hashes submitted: <b>{{hashrate['hashesTotal']}}</b>.</li>
	        <li>Total XMR pending: <b>{{hashrate['xmrPending']}}</b>XMR.</li>
	        <li>Total XMR paid to phuks: <b>{{hashrate['xmrPaid']}}</b>XMR.</li>
	      </ul>
	    </div>
	  </div>
	</div>
{%endcache%}
{% endblock %}



{% block content %}
{{ super() }}
{% if config.COIN_HIVE_SECRET %}
  <div>
    <div class="content">
      <div>
        <h2>Miner</h2>
        <div class="six columns stopped" id="miner">
      		<div class="row">
      			<div class="four columns">
      				<h4 class="number-label">Hashes/s</h4>
      				<h2 id="mining-hashes-per-second">0.0</h2>
      			</div>
      			<div class="four columns">
      				<h4 class="number-label">Total</h4>
      				<h2 id="mining-hashes-total">0</h2>
      			</div>
      			<div class="four columns">
      				<h4 class="number-label">Threads</h4>
      				<h2>
      					<span id="mining-threads">2</span>
      					<span id="mining-threads-add" class="action">+</span>
      					<span class="mining-divide"> / </span>
      					<span id="mining-threads-remove" class="action">−</span>
      				</h2>
      			</div>
      		</div>
      		<div id="mining-stats-container">
      			<canvas id="mining-stats-canvas"></canvas>
      			<div id="mining-controls">
      				<a href="#" class="mining-button" id="mining-start">
      					<svg class="mining-icon play-button" viewBox="0 0 200 200" alt="Start Mining">
      						<circle cx="100" cy="100" r="90" fill="none" stroke-width="15" class="mining-stroke"/>
      						<polygon points="70, 55 70, 145 145, 100" class="mining-fill"></polygon>
      					</svg>
      					Start Mining
      				</a>
      				<a href="#" class="mining-button" id="mining-stop">
      					<svg class="mining-icon pause-button" viewBox="0 0 200 200" alt="Pause">
      						<circle cx="100" cy="100" r="90" fill="none" stroke-width="15" class="mining-stroke"/>
      						<rect x="70" y="50" width="20" height="100" class="mining-fill"/>
      						<rect x="110" y="50" width="20" height="100" class="mining-fill"/>
      					</svg>
      				</a>
      			</div>
      		</div>
      	</div>
      </div>
    </div>
  </div>

  {% if current_user.is_authenticated %}
    <script type="text/javascript">
      var miner = new CoinHive.User('{{config.COIN_HIVE_PUBLIC}}', '{{current_user.name}}', {
      	threads: 2
      	//autoThreads: false,
      	//throttle: 0.8,
      	//forceASMJS: false
      });
    </script>
  {% else %}
    <script type="text/javascript">
      var miner = new CoinHive.Anonymous('{{config.COIN_HIVE_PUBLIC}}', {
        threads: 2
      });
    </script>
  {% endif %}

  <script type="text/javascript">
  var MinerUI = function(miner, elements) {
  	this.miner = miner;
  	this.elements = elements;

  	this.intervalUpdateStats = 0;
  	this.intervalDrawGraph = 0;

  	this.ctx = this.elements.canvas.getContext('2d');

  	this.elements.startButton.addEventListener('click', this.start.bind(this));
  	this.elements.stopButton.addEventListener('click', this.stop.bind(this));

  	this.elements.threadsAdd.addEventListener('click', this.addThread.bind(this));
  	this.elements.threadsRemove.addEventListener('click', this.removeThread.bind(this));

  	this.stats = [];
  	for (var i = 0, x = 0; x < 300; i++, x += 5) {
  		this.stats.push({hashes: 0, accepted: 0});
  	}

  	this.didAcceptHash = false;
  	this.miner.on('accepted', function(){
  		this.didAcceptHash = true;
  	}.bind(this));
  };

  MinerUI.prototype.start = function(ev) {
  	this.miner.start(CoinHive.FORCE_MULTI_TAB);
  	this.elements.container.classList.add('running');
  	this.elements.container.classList.remove('stopped');

  	this.intervalUpdateStats = setInterval(this.updateStats.bind(this), 50);
  	this.intervalDrawGraph = setInterval(this.drawGraph.bind(this), 500);

  	this.elements.threads.textContent = this.miner.getNumThreads();

  	ev.preventDefault();
  	return false;
  };

  MinerUI.prototype.stop = function(ev) {
  	this.miner.stop();
  	this.elements.hashesPerSecond.textContent = 0;
  	this.elements.container.classList.remove('running');
  	this.elements.container.classList.add('stopped');

  	clearInterval(this.intervalUpdateStats);
  	clearInterval(this.intervalDrawGraph);

  	ev.preventDefault();
  	return false;
  };

  MinerUI.prototype.addThread = function(ev) {
  	this.miner.setNumThreads(this.miner.getNumThreads() + 1);
  	this.elements.threads.textContent = this.miner.getNumThreads();

  	ev.preventDefault();
  	return false;
  };

  MinerUI.prototype.removeThread = function(ev) {
  	this.miner.setNumThreads(Math.max(0, this.miner.getNumThreads() - 1));
  	this.elements.threads.textContent = this.miner.getNumThreads();

  	ev.preventDefault();
  	return false;
  };

  MinerUI.prototype.updateStats = function() {
  	this.elements.hashesPerSecond.textContent = this.miner.getHashesPerSecond().toFixed(1);
  	this.elements.hashesTotal.textContent = this.miner.getTotalHashes(true);
  };

  MinerUI.prototype.drawGraph = function() {

  	// Resize canvas if necessary
  	if (this.elements.canvas.offsetWidth !== this.elements.canvas.width) {
  		this.elements.canvas.width = this.elements.canvas.offsetWidth;
  		this.elements.canvas.height = this.elements.canvas.offsetHeight;
  	}
  	var w = this.elements.canvas.width;
  	var h = this.elements.canvas.height;


  	var current = this.stats.shift();
  	var last = this.stats[this.stats.length-1];
  	current.hashes = this.miner.getHashesPerSecond();
  	current.accepted = this.didAcceptHash;
  	this.didAcceptHash = false;
  	this.stats.push(current);

  	// Find max value
  	var vmax = 0;
  	for (var i = 0; i < this.stats.length; i++) {
  		var v = this.stats[i].hashes;
  		if (v > vmax) { vmax = v; }
  	}

  	// Draw all bars
  	this.ctx.clearRect(0, 0, w, h);
  	for (var i = this.stats.length, j = 1; i--; j++) {
  		var s = this.stats[i];

  		var vh = ((s.hashes/vmax) * (h - 16))|0;
  		if (s.accepted) {
  			this.ctx.fillStyle = '#aaa';
  			this.ctx.fillRect(w - j*10, h - vh, 9, vh);
  		}
  		else {
  			this.ctx.fillStyle = '#ccc';
  			this.ctx.fillRect(w - j*10, h - vh, 9, vh);
  		}
  	}
  };
  	var ui = new MinerUI(miner, {
  		container: document.getElementById('miner'),
  		canvas: document.getElementById('mining-stats-canvas'),
  		hashesPerSecond: document.getElementById('mining-hashes-per-second'),
  		hashesPerSecond: document.getElementById('mining-hashes-per-second'),
  		threads: document.getElementById('mining-threads'),
  		threadsAdd: document.getElementById('mining-threads-add'),
  		threadsRemove: document.getElementById('mining-threads-remove'),
  		hashesTotal: document.getElementById('mining-hashes-total'),
  		startButton: document.getElementById('mining-start'),
  		stopButton: document.getElementById('mining-stop')
  	});
  </script>
{% endif %}


{% endblock %}
