{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ asset_url_for('miner.css') }}">
{% endblock %}


{% block sidebar %}
{{ super() }}

	<div id="minerstats">
		<div>
	  	<h2>Stats</h2>
	    {% set hashrate = func.getCurrentHashrate() %}
	    <div id="miningstats">
	      <ul>
					{% if current_user.is_authenticated %}
					  {% set userstats = func.getCurrentUserStats(current_user.name) %}
						<li>Current user: <b id="nm">{{current_user.name}}</b></li>
						<li>User score: <b id="bal">{{userstats['balance']}}</b></li>
					{% else %}
						<li>Mining anonymously</li>
					{% endif %}
	        <li>Current site hashrate: <b id="hps">{{hashrate['hash']}}</b> H/s</li>
	        <li>Current site total hashes: <b id="ht">{{hashrate['totalHashes']}}</b></li>
	        <li>Total XMR pending: <b id="xpe">{{hashrate['amtDue']}}</b> XMR</li>
	        <li>Total XMR paid to phuks: <b id="xpa">{{hashrate['amtPaid']}}</b> XMR</li>
	      </ul>
	    </div>
		</div>
	</div>
{% endblock %}



{% block content %}
{{ super() }}
  <div>
    <div class="content">
			<div>
				<hr>
				<h2 style="margin-top: 1em;">Leaderboards</h2>
				<div class="">
					<div style="display: inline-block; padding-right: 1.2em;">
						<h3>Total contributed</h3>
						{% cache 60, 'minerleaderboard' %}
							{% set leaderboard = func.getMiningLeaderboard() %}
							<div id="miningleaderboard">
								<table>
									{% for user in leaderboard %}
										<tr>
											<td class="center">{{loop.index}}</td>
											<td><span id="top{{loop.index}}name">{{user['username']}}</span></td>
											<td><b><span id="top{{loop.index}}score">{{"{:,}".format(user['score'])}}</span></b></td>
										</tr>
									{% endfor %}
								</table>
							</div>
						{%endcache%}
					</div>
					<div style="display: inline-block;">
						{% cache 60, 'hashleaderboard' %}
							<h3>Hashing power</h3>
							{% set leaderboard = func.getHPLeaderboard() %}
							<div id="speedleaderboard">
								<table>
									{% for user in leaderboard %}
										<tr>
											<td class="center">{{loop.index}}</td>
											<td><span id="top{{loop.index}}name">{{user['username']}}</span></td>
											<td><b><span id="top{{loop.index}}score">{{"{:,}".format(user['hashes'])}}</span></b> H/s</td>
										</tr>
									{% endfor %}
								</table>
							</div>
						{%endcache%}
					</div>
				</div>
			</div>
			<hr>
			<div class="minercontent">
				<h4>What's going on here</h4>
				<p>This is a new way to donate to Phuks without needing cash, paypal, or a credit card.</p>
				<h4>How</h4>
				<p>Your computer is basically being given a math problem to figure out, and part of the problem includes a random number. Every time it runs, you get a different result. Your results, along with billions of other results from other users are grouped together and submitted to a service that pays us for them. They pay us using a cryptocoin, Monero (XMR), which we can use to pay for domains, hosting, and other costs associated with keeping the site up and running.</p>
				<h4>What is Monero</h4>
				<p>Monero (XMR) is an open-source cryptocurrency created in April 2014 that focuses on privacy and decentralization that runs on Windows, macOS, Linux, Android, iOS, and FreeBSD. Monero uses a public ledger to record transactions while new units are created through a process called mining. Monero aims to improve on existing cryptocurrency design by obscuring sender, recipient and amount of every transaction made as well as making the mining process more egalitarian. <a href="https://en.wikipedia.org/wiki/Monero_(cryptocurrency)">wiki</a></p>
				<h4>How it affects you</h4>
				<p>If your computer has 4 cores and you set the thread count setting to 2, you are basically donating half of your computer's processing power. While mining, your computer will draw more power and run hotter. Depending on your machine, if you run it full time, you may see 50-100 watts of extra power draw resulting in your power bill going up a few dollars a month. Your computer can only do so much at once, so if you experience slowdowns while trying to do other stuff, you can adjust the thread count or throttle to free up some resources. This isn't recommended for small laptops or mobile devices. Most batteries are not made to keep up a higher power draw for long periods of time.</p>
				<h4>The next step</h4>
				<p>You need to download a Monero miner for you current OS. The two most commonly used here so far are <a href="https://github.com/xmrig/xmrig">xmrig</a> and <a href="https://github.com/fireice-uk/xmr-stak">xmr-stak</a></p>
				<p>The "-o" setting for pool location is: stratum+tcp://bas.phuks.co:8888<br>
					The "-u" and "-p" settings are to be set to your phuks username or set to Anonomous if you wish to donate anonomously.
				</p>
				<p>More information coming soon or in the meantime cheack out <a href="https://phuks.co/s/mineaphuk">MineAPhuk</a>.</p>
			</div>
    </div>
  </div>


	{%block pagefoot%}
		<script src="{{ asset_url_for('miner.js') }}"></script>
	{%endblock%}

{% endblock %}
