{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}
{% block content %}
{{ super() }}

{% if not current_user.is_admin() %}
<center><h3>Editing as Admin</h3></center>
{% endif %}

<h1>My Multis</h1>
<div class="col-12">
  <table class="col-12">
    <tr>
      <td>Link<td>
      <td>Subs<td>
    </tr>
    {% for multi in multilist %}
    <tr>
      <td><a href="{{url_for('view_usermultisub_new', subs=multi.mid)}}">{{url_for('view_usermultisub_new', subs=multi.mid)}}</a><td>
      <td>{{multi.subs}}<td>
    </tr>
    {% endfor %}
  </table>
</div>
<div class="col-12"><hr></div>
<div class="col-12 admin-page-form">
  <form  method="POST" class="ajaxform nice-form" action="{{url_for('do.create_multi')}}" data-reload="true">
    <h4>Create new multi</h4>
    {{createmulti.csrf_token}}
    <div class="col-2">
      {{createmulti.name(placeholder="Nickname")}}
    </div>
    <div class="col-8">
      {{createmulti.subs(placeholder="sub1+sub2+sub3+sub4")}}
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-blue" id="editsub-btnsubmit" data-prog="Saving..." data-success="Saved!">Add multi</button>
    </div>
    <div class="alert div-error col-10">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <p></p>
    </div>
  </form>
</div>

{% if multis %}
  <div class="col-12">
    {% for multi in multis %}
      <form  method="POST" action="{{url_for('do.edit_multi')}}" class="nice-form ajaxform">
        {{multi.csrf_token}}
        {{multi.multi}}
        <div class="col-2">
          {{multi.name()}}
        </div>
        <div class="col-8">
          {{multi.subs()}}
        </div>
        <div class="col-1">
          <button type="submit" class="btn btn-blue" id="editmulti-btnsubmit" data-prog="Saving..." data-success="Saved!">Save</button>
        </div>

        <div class="alert div-error col-10">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <p></p>
        </div>
      </form>
      <form  method="POST" data-reload="true" action="{{url_for('do.delete_multi')}}" class="nice-form ajaxform">
        {{multi.csrf_token}}{{multi.multi}}
        <div class="col-1">
          <button type="submit" class="btn btn-orange" id="editmulti-btnsubmit" data-prog="Deleting..." data-success="Deleted!">Delete</button>
        </div>
        <div class="alert div-error col-10">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <p></p>
        </div>
      </form>
    {% endfor %}
  </div>
{% endif %}
{% endblock %}
