{% extends "layout.html" %}
{% block content %}
{{ super() }}
<script>
var recaptchaCallback = function(){
    grecaptcha.render($('.g-recaptcha')[0], {sitekey: $('.g-recaptcha').data().sitekey});
}
</script>
<form  method="POST" action="{{url_for('do.recovery')}}" class="ajaxform white-popup-block">
  {% set lostpw = form.PasswordRecoveryForm() %}
  <h1>Password recovery</h1> {{ lostpw.csrf_token }}
  <p>{{lostpw.email(placeholder=lostpw.email.label.text, required=True)}}</p>
  <p>{{lostpw.recaptcha}}</p>
  <div class="alert div-error"></div>
  <p><button type="submit" style="margin-top: 4%" class="btn btn-blue" data-success="Email sent!" data-prog="Processing...">Send recovery email</button></p>
</form>
{%endblock%}
