{% extends "layout.html" %}
{% block content %}
{{ super() }}
<form action="{{url_for('do.reset')}}" data-redir='/' class="ajaxform white-popup-block">
  <h1>Password reset</h1> {{ resetpw.csrf_token }}
  {{resetpw.key}}{{resetpw.user}}
  <p>{{resetpw.password(placeholder=resetpw.password.label.text, required=True, autocomplete="off")}}</p>
  <p>{{resetpw.confirm(placeholder=resetpw.confirm.label.text, required=True, autocomplete="off")}}</p>

  <div class="alert div-error"></div>
  <p><button type="submit" style="margin-top: 4%" class="btn btn-blue" data-prog="Processing...">Change password</button></p>
</form>
{%endblock%}
