{% for comment in comments recursive %}
  {%if comment.cid != 0 %}
    <article id="{{comment.cid}}" data-cid="{{comment.cid}}" class="{% if comment.hl %}active{%endif%} text-post no-padding comment sub-{{loop.depth0}}">
      <div class="commentrow {%if comment.cid == highlight %}highlight{%endif%}" id="comment-{{comment.cid}}">
        <div class="pull left votecomment" {% if comment.status == 1 %}style="display:none;"{%endif%}>
          {# vote arrow div #}
          {% if comment.userstatus != 10 %}
            <div title="Upvote" class="c-upvote{%if comment.positive == True %} upvoted{%endif%}" data-pid="{{post.pid}}" data-icon="upvote"></div>
            <div title="Downvote" class="c-downvote{%if comment.positive == False %} downvoted{%endif%}" data-pid="{{post.pid}}" data-icon="downvote"></div>
          {%endif%}
        </div>
        <div class="commblock">
          <div class="commenthead">
              <a class="togglecomment {% if comment.status == 1 %}expand{%else%}collapse{%endif%}" data-cid="{{comment.cid}}">
                {% if comment.status == 1 %}[+]{%else%}[–]{%endif%}
              </a>
              {% if not comment.status == 1 %}
                {% if comment.userstatus != 0 %}
                <a class="poster deleted">[Deleted]</a>
                {%else%}
                <a href="{{ url_for('view_user', user=comment.username) }}" class="poster">{{ comment.username }}</a>
                {%endif%}
              {%else%}
                <a class="poster deleted">[Deleted]</a>
              {%endif%}
              <b><span class="cscore">{{comment.score}}</span> points</b> (+<b>{{func.get_comment_voting(comment.cid)[0]}}</b>|-<b>{{func.get_comment_voting(comment.cid)[1]}}</b>)
              <span class="time ">
                 <time-ago datetime="{{comment.time.isoformat()}}Z"></time-ago>
              </span>
            {% if comment.lastedit and not comment.status == 1 %}
              <span class="time edited">
                Edited <time-ago datetime="{{comment.lastedit.isoformat()}}Z"></time-ago>
              </span>
            {% endif %}
          </div>
          <div class="content" id="content-{{comment.cid}}" {% if comment.status == 1 %}style="display:none;"{%endif%}>
            {% if comment.status == 1 %}[Deleted]{%else%}
              {{markdown(comment.content)|safe}}
            {%endif%}
          </div>
          {%if not comment.status == 1 %}
            <div hidden id="sauce-{{comment.cid}}">{{comment.content}}</div>
          {%endif%}
          <ul class="bottombar links" {% if comment.status == 1 %}style="display:none;"{%endif%}>
            <li><a href="{{url_for('sub.view_perm', sub=sub.name, cid=comment.cid, pid=post.pid)}}">permalink</a></li>
            {%if current_user.is_authenticated and not post.deleted %}
              <li><a class="reply-comment" data-pid="{{comment.pid}}" data-to="{{comment.cid}}">reply</a></li>
              {% if comment.uid == current_user.uid and not comment.status == 1 %}
                <li><a class="edit-comment" data-cid="{{comment.cid}}">edit</a></li>
              {% endif %}
              {% if (comment.uid == current_user.uid or current_user.is_admin() or current_user.is_mod(sub.sid)) and not comment.status == 1 %}
                <li><a {% if comment.uid == current_user.uid %}selfdel="true"{%endif%} class="delete-comment" data-cid="{{comment.cid}}">delete</a></li>
              {% endif %}
            {%endif%}
            {%if comment.status != 1 %}<li><a class="comment-source" data-cid="{{comment.cid}}">source</a></li>{%endif%}
          </ul>
        </div>
      </div>
      <div id="child-{{comment.cid}}" class="pchild{% if comment['morechildren'] %}-e{% endif %}" {% if comment.status == 1 %}style="display:none;"{%endif%}>
        {% if comment['morechildren'] %}
        <a href="#" class="loadchildren" data-pid="{{post.pid}}" data-cid="{{comment.cid}}">Load more ({{comment.morechildren}} comments)</a>
        {% elif comment['children'] %}
          {{loop(comment['children'])}}
        {% endif %}
      </div>
    </article>
  {%endif%}
  {% if comment['cid'] == 0 %}
    <a href="#" class="loadsibling" data-pid="{{post.pid}}" data-page="{{siblingpage}}" data-cid="{% if not comment.parent %}1{%else%}{{comment.parent}}{%endif%}">Load more ({{comment.moresbling}} comments)</a>
  {% endif %}

{%endfor%}
