{% extends "layout.html" %}
{% block title %}{{post.title}} | {{config.LEMA}}{% endblock %}

{% block navbar %}
<li><a href="{{url_for('view_sub_hot', sub=post.sub.name)}}">Hot</a></li>
<li><a href="{{url_for('view_sub_top', sub=post.sub.name)}}">Top</a></li>
<li><a href="{{url_for('view_sub_new', sub=post.sub.name)}}">New</a></li>
<ul class="right">
  <li class="large"><a href="{{url_for('view_sub', sub=post.sub.name)}}" class="btn btn-white" style="width:100%;hight:50%;">/s/{{post.sub.name}}</a></li>
</ul>
{% endblock %}
{% block sidebar %}
{{ super() }}<hr/>

{# temp #}
<p>{% if post.sub.isNSFW %}<span class="bgred" alt="Not safe for work">NSFW</span>{% endif %} /s/{{post.sub.name}}</p>
<p>{{post.sub.title}}</p>
<span class="col-12"><hr><span>

<div class="row buttons">
  <div class="sidebar col-12">
    {% if current_user.has_subscribed(post.sub) %}
    <span id="subscribe" class="subscribed" data-sid="{{post.sub.sid}}"><a class="btn small"><i class="fa fa-check" aria-hidden="true"></i> Subscribed</a></span>
    {% else %}
    <span id="subscribe" class="unsubscribed" data-sid="{{post.sub.sid}}"><a class="btn small"><i class="fa fa-plus" aria-hidden="true"></i> Subscribe</a></span>
    {% endif %}
    {% if current_user.has_blocked(post.sub) %}
    <span id="block" class="blocked" data-sid="{{post.sub.sid}}"><a class="btn small"><i class="fa fa-check" aria-hidden="true"></i> Blocked</a></span>
    {% else %}
    <span id="block" class="unblocked" data-sid="{{post.sub.sid}}"><a class="btn small"><i class="fa fa-remove" aria-hidden="true"></i> Block</a></span>
    {% endif %}
  </div>
  <div class="subscribercount col-12">
    <i class="fa fa-users" aria-hidden="true"></i> {{getSuscriberCount(post.sub)}} Subscribers
  </div>
  <span class="col-12"><hr><span>
    {% if isRestricted(post.sub) %}
    <div class="col-12">
      Only mods can post.
    </div>
    {% if current_user.is_mod(post.sub) and isRestricted(post.sub) %}
    <div class="col-12">
      <a href="#post-form" class="btn btn-orange create-post" style="width:100%;">Submit a text post</a>
    </div>
    <div class="col-12">
      <a href="#link-post-form" class="btn btn-orange create-post" style="width:100%;">Submit a link post</a>
    </div>
    {% endif %}
    {% else %}
    {% if current_user.is_authenticated and not current_user.is_subban(post.sub) %}
    <div class="col-12">
      <a href="#post-form" class="btn btn-orange create-post" style="width:100%;">Submit a text post</a>
    </div>
    <div class="col-12">
      <a href="#link-post-form" class="btn btn-orange create-post" style="width:100%;">Submit a link post</a>
    </div>
    {% endif %}
    {% endif %}
  {% if current_user.is_subban(post.sub) %}
  <div class="col-12">
    You are currently banned from posting.
  </div>
  {% endif %}
  <div class="col-12">
    <a href="{{url_for('view_sub_postmodlog', sub=post.sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">View modlog</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('view_sub_bans', sub=post.sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Banned Users</a>
  </div>
</div>
<span class="col-12"><hr><span>
<p class="createdby">Created by {{getSubUsers(post.sub, 'mod')}} <time-ago datetime="{{getSubCreation(post.sub)}}"></time-ago></p>
<div class="moderators col-12">
  Moderators
  <ul>
  <li><i class="fa fa-star" title="Owner"></i> <a href="{{url_for('view_user', user=getSubUsers(post.sub, 'mod1'))}}">{{getSubUsers(post.sub, 'mod1')}}</a></li>
  {% for mod in mods %}
  <li><a href="{{url_for('view_user', user=mod.getUsername)}}">{{mod.getUsername}}</a></li>
  {% endfor %}
  </ul>
</div>
{% if current_user.is_mod(post.sub) or current_user.is_admin() %}
<div class="row buttons">
  <div class="col-12">
    <a href="{{url_for('edit_sub', sub=post.sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Edit Sub Info</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('edit_sub_mods', sub=post.sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Moderators</a>
  </div>
</div>
{% endif %}

{% endblock %}

{% block main %}
    <main class="col-8 right">
        <article class="text-post center no-padding">
          <div class="head" data-pid="{{post.pid}}">
            <div class="pull left vote">
              <div class="upvote{%if hasVoted(current_user.get_id(), post)%} upvoted{%endif%}"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
              <p class="count">{{post.voteCount}}</p>
              <div class="downvote{%if hasVoted(current_user.get_id(), post, False)%} downvoted{%endif%}"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
            </div>
            {% if post.isPostNSFW() %}<span class="bgred" alt="Not safe for work">NSFW</span>{% endif %}
            <h1 class="title">{{post.title}}</h1>
            <div class="info">
            {# if post.ptype == 1 %}
              <p class="modpost"><i class="fa fa-user fa-2x" aria-hidden="true"></i> Mod post</p>
            {% endif #}
              {% if not getMetadata(post, 'deleted') and not getMetadata(post, 'moddeleted') %}
              <a href="{{url_for('view_user', user=post.user.name)}}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> {{post.user.name}}</a>
              {% else %}
              [Deleted]
              {% endif %}
              <span class="time btn small">
                <i class="fa fa-clock-o" aria-hidden="true"></i> Posted <time-ago datetime="{{post.posted.isoformat()}}"></time-ago>
              </span>
            {% if post.edited == true %}
              <span class="time btn small">
                <i class="fa fa-clock-o" aria-hidden="true"></i> Last edited <time-ago datetime="{{post.posted.isoformat()}}"></time-ago>
              </span>
            {% endif %}
            {% if post.user.uid == session['user_id'] or current_user.is_mod(post.sub) or current_user.is_admin() %}
              {% if post.ptype == 0 %}
              <a href="#edit-txtpost-form" class="btn btn-orange edit small edit-txtpost-form"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit </a>
              {% else %}
              <a href="#edit-linkpost-form" class="btn btn-orange edit small edit-linkpost-form"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit </a>
              {% endif %}
              {% if not getMetadata(post, 'deleted') and not getMetadata(post, 'moddeleted') %}
              <a href="#delete-post-form" data-post="{{post.pid}}" class="btn btn-orange edit small btn-red delete-post-form"><i class="fa fa-trash" aria-hidden="true"></i> Delete </a>
              {% else %}
              [Deleted]
              {% endif %}
              {% set ann = getAnnouncement() %}
              {% if current_user.is_mod(post.sub) %}
                {% if post.is_sticky() %}
                  <a href="#make_sticky-form" class="pull right btn btn-orange small make_announcement-form"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Unstick</a>
                {% else %}
                  <a href="#make_sticky-form" class="pull right btn btn-orange small make_announcement-form"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Make sticky</a>
                {% endif %}
              {%endif%}
              {% if post.sub.name == "announcements" and current_user.is_admin() and ann.pid != post.pid %}
                <a href="#make_announcement-form" class="pull right btn btn-orange small make_announcement-form"><i class="fa fa-cube" aria-hidden="true"></i> Make announcement</a>
              {%endif %}
              {% if ann.pid == post.pid %}
                <div class="pull right btn btn-purple small disabled">Announcement</div>
              {% endif %}
            {% endif %}
            </div>
          </div>
          {% if post.ptype == 0 %}
          <div class="content">{{markdown(post.content)|safe}}</div>
          {% else %}
          {% if post.link.startswith('http:') %}<span><i title="not https" class="fa fa-exclamation-circle orange"></i></span>{% endif %}
          <div class="content"><a href="{{post.link}}" target="_blank" {% if current_user.has_exlinks() %}target="_blank" {% endif %}rel="noreferrer noopener">{{post.link}}</a>
          {% if post.getDomain() == "youtube.com" %}
            <span id="youtubevid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvid">
              <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></span>
            </span>
          {% endif %}
          {% if post.getDomain() == "vimeo.com" %}
            <span id="vimeovid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvid">
              <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-vimeo" aria-hidden="true"></i></a></span>
            </span>
          {% endif %}
          {% if post.getDomain() == "vine.co" %}
            <span id="vinevid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvine">
              <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-vine" aria-hidden="true"></i></a></span>
            </span>
          {% endif %}
          {% if post.isImage() %}
            <span id="openimg" data-img="{{post.link}}" data-pid="{{post.pid}}" class="closedimg">
              <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-image" aria-hidden="true"></i></a></span>
            </span>
          {% endif %}
          </div>
          {% endif %}
        </article>
        {%if current_user.is_authenticated %}
        <section id="postcomment">
          <form class="comment-form static">
            {{commentform.csrf_token}}
            {{commentform.sub(value=post.sub.name)}}
            {{commentform.post(value=post.pid)}}
            {{commentform.parent(value='0')}}
            <div class="CommentContent">{{commentform.comment(id="comment2", placeholder="Write your comment here. Styling with Markdown format is supported.")}}</div>
            <button type="submit" class="btn btn-orange">Submit comment</button>
          </form>
          <form class="comment-form moving" style="display:none">
            <div class="close">×</div>
            {{commentform.csrf_token}}
            {{commentform.sub(value=post.sub.name)}}
            {{commentform.post(value=post.pid)}}
            {{commentform.parent(value='0')}}
            <div class="CommentContent">{{commentform.comment(class="commenttxtbox",placeholder="Write your comment here. Styling with Markdown format is supported.")}}</div>
            <button type="submit" class="btn btn-orange">Submit comment</button>
          </form>
        </section>
        {%endif%}
        <section id="comments">
          <h1>Comments</h1>
          {% if post.comments.count() < 1 %}
          <p>
            Be the first to comment this post
          </p>
          {% endif %}
          {% for comment in post.comments recursive %}
            {% if (loop.depth == 1 and not comment.parentcid) or loop.depth >1 %}
            <article data-cid="{{comment.cid}}" class="text-post center no-padding comment sub-{{loop.depth0}}">
              <div class="head">
                <div class="info">
                {# if post.ptype == 1 %}
                  <p class="modpost"><i class="fa fa-user fa-2x" aria-hidden="true"></i> Mod post</p>
                {% endif #}
                  <a href="{{url_for('view_user', user=comment.user.name)}}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> {{comment.user.name}}</a>
                  <span class="time btn small">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Posted <time-ago datetime="{{comment.time.isoformat()}}"></time-ago>
                  </span>
                {# if post.edited == true
                  <span class="time btn small">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Last edited <time-ago datetime="{{comment.time.isoformat()}}"></time-ago>
                  </span>
                {% endif #}
                {% if comment.uid == session['user_id'] or current_user.is_mod(post.sub) or current_user.is_admin() %}
                  <a href="#edit-comment-form" class="btn btn-orange edit small edit-comment-form"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit </a>
                  <a href="#delete-comment-form" class="btn btn-orange edit small delete-comment-form"><i class="fa fa-times-circle" aria-hidden="true"></i> Delete </a>
                {% endif %}
                </div>
              </div>
              <div class="content">{{markdown(comment.content)|safe}}</div>
              {%if current_user.is_authenticated%}
              <span class="bottombar btn small">
                <a href="#reply" class="lnkreply" data-to="{{comment.cid}}">
                  <i class="fa fa-reply" aria-hidden="true"></i> reply
                </a>
              </span>
              {%endif%}
            </article>
            {% if comment.children %}
              {{loop(comment.children)}}
            {%endif%}
            {%endif%}
          {%endfor%}
        </section>
    </main>

  {% if post.ptype == 1 and post.user.uid == session['user_id'] or current_user.is_mod(post.sub) or current_user.is_admin() %}
  <form id="edit-linkpost-form" data-sub="{{post.sub.name}}" data-pid="{{post.pid}}" class="mfp-hide white-popup-block">
    {{editlinkpostform.csrf_token}}
    <h1>Edit your link post</h1>
    <p><label>{{editlinkpostform.nsfw.label.text}} {{editlinkpostform.nsfw(checked=post.isPostNSFW())}}</label></p>
    <div class="alert div-error">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <p></p>
    </div>
    <p><button type="submit" id="edit-linkpost-btnsubmit">Edit post</button></p>
  </form>
  {% endif %}
  {% if post.ptype == 0 and post.user.uid == session['user_id'] or current_user.is_mod(post.sub) or current_user.is_admin() %}
  <form id="edit-txtpost-form" data-sub="{{post.sub.name}}" data-pid="{{post.pid}}" class="mfp-hide white-popup-block">
    {{edittxtpostform.csrf_token}}
    <h1>Edit your text post</h1>
    <p><label>{{edittxtpostform.nsfw.label.text}} {{edittxtpostform.nsfw(checked=post.isPostNSFW())}}</label></p>
    <p class="content" style="text-align: left;">{{edittxtpostform.content()}}</p>
    <div class="alert div-error">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <p></p>
    </div>
    <p><button type="submit" id="edit-txpost-btnsubmit">Edit post</button></p>
  </form>
  {% endif %}
  {% if current_user.is_authenticated and not current_user.is_subban(post.sub) %}
  <form id="post-form" data-sub="{{post.sub.name}}" class="mfp-hide white-popup-block">
    {{txtpostform.csrf_token}}
    <h1>Submit a text post</h1>
    <p class="sub">/s/{{txtpostform.sub(placeholder=txtpostform.sub.label.text, required=True)}}</p>
    <p class="title">{{txtpostform.title(placeholder=txtpostform.title.label.text, required=True, autofocus=True)}}</p>
    <p class="content">{{txtpostform.content(id="content2", placeholder="Write your post content here. Styling with Markdown format is supported.")}}</p>
    <div class="alert div-error">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <p></p>
    </div>
    <p><button type="submit" id="txpost-btnsubmit">Submit post</button></p>
  </form>
  <form id="link-post-form" data-sub="{{post.sub.name}}" class="mfp-hide white-popup-block">
    {{lnkpostform.csrf_token}}
    <h1>Submit a link post</h1>
    <p class="sub">/s/{{txtpostform.sub(placeholder=txtpostform.sub.label.text, required=True)}}</p>
    <p class="title">{{lnkpostform.title(placeholder=lnkpostform.title.label.text, required=True, autofocus=True)}}</p>
    <p class="content">{{lnkpostform.link(placeholder="Paste your link here.")}}</p>
    <div class="alert div-error">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <p></p>
    </div>
    <p><button type="submit" id="lnkpost-btnsubmit">Submit link</button></p>
  </form>
  {% endif %}
  {% if post.user.uid == session['user_id'] or current_user.is_mod(post.sub) or current_user.is_admin() %}
  <form id="delete-post-form" class="mfp-hide white-popup-block">
    {{delpostform.csrf_token}}
    {{delpostform.post(value=post.pid)}}
    <h3>Are you sure you want to delete this post?</h3>
    <div class="alert div-error">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <p></p>
    </div>
    <p><button type="submit" id="delpost-btnsubmit">Delete!</button></p>
  </form>
  {% endif %}
  {% if post.sub.name == "announcements" and current_user.is_admin() and ann.pid != post.pid %}
  <form id="make_announcement-form" class="mfp-hide white-popup-block" action="{{url_for('do.make_announcement')}}" method="POST">
    {{delpostform.csrf_token}}
    {{delpostform.post(value=post.pid)}}
    <h3>Are you sure you want to announce this??</h3>
    <div class="alert div-error">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <p></p>
    </div>
    <p><button type="submit" id="make_announcement-btnsubmit">Yup!</button></p>
  </form>
  {%endif%}
  {% if current_user.is_mod(post.sub) %}
  <form id="make_sticky-form" class="mfp-hide white-popup-block" action="{{url_for('do.toggle_sticky', post=post.pid)}}" method="POST">
    {{delpostform.csrf_token}}
    {{delpostform.post(value=post.pid)}}
    <h3>Are you sure you want to {% if post.is_sticky() %}un{%endif%}stick this?</h3>
    <div class="alert div-error">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <p></p>
    </div>
    <p><button type="submit" id="make_announcement-btnsubmit">Yup!</button></p>
  </form>
  {%endif%}

{% endblock %}
{%block pagefoot%}
{% if not current_user.block_styles() %}
  <style>{{post.sub.stylesheet.first().content}}</style>
{% endif %}
{%if current_user.is_authenticated%}
<script type="text/javascript" src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
<script>
  var simplemde = new SimpleMDE({autoDownloadFontAwesome: false, spellChecker: false, autosave: {enabled: true, unique_id: "createcomment",}, element: $('textarea#comment2')[0]});
  var simplemde2 = new SimpleMDE({autoDownloadFontAwesome: false, spellChecker: false, autosave: {enabled: false}, element: $('textarea#content2')[0]});
  {% if post.ptype == 0 and post.user.uid == session['user_id'] %}
  var simplemde3 = new SimpleMDE({autoDownloadFontAwesome: false, spellChecker: false, autosave: {enabled: true, unique_id: "createpost"}, element: $('textarea#content')[0]});
  {%endif%}

</script>
{%endif%}
{%endblock%}
