<div class="poll-space" data-pid="{{post.pid}}" data-votes={{votes}}>
    {% if not poll_open %}
        <p>This poll is now <b>closed</b>.</p>
    {% elif not has_voted %}
        {% if ('hide_results' in postmeta and not poll_open) or ('hide_results' not in postmeta) %}
            <p><button type="button" class="poll-show-results pure-button">Show results.</button></p>
        {%endif%}
    {%endif%}
    {%if 'hide_results' in postmeta and poll_open %}
        <p><i>Results will be hidden until the poll closes</i></p>
    {%endif%}
    <div style="display: none;" class="error">Error</div>
    {%for opt in poll_options %}
        <div class="poll-option" data-oid="{{opt.id}}" data-votes="{{opt.votecount}}">
            <span class="poll-option-text">{%if opt.id == voted_for %}<b>{{opt.text}} (voted)</b>{%else%}{{opt.text}}{%endif%}</span>
            <div class="poll-bar">
                <div class="poll-vote">
                    <button style="{%if has_voted or not current_user.is_authenticated or not poll_open%}display:none;{%endif%}" type="button" class="poll-vote-btn pure-button button-xsmall button-secondary" data-oid="{{opt.id}}">Vote</button>
                </div>
                {% if ('hide_results' in postmeta and not poll_open) or ('hide_results' not in postmeta) %}
                    <div class="poll-hid poll-pbar {%if opt.id == voted_for %}poll-voted{%endif%}" style="{% if not has_voted and poll_open %}display:none;{%endif%}">
                        <div style="width:{% if votes != 0 %}{{(opt.votecount/votes*100)|round|int}}{%else%}0{%endif%}%"></div>
                    </div>
                    <div class="poll-hid poll-votes"  style="{% if not has_voted and poll_open %}display:none;{%endif%}">
                        <span class="percentage-number">{% if votes != 0 %}{{(opt.votecount/votes*100)|round|int}}{%else%}0{%endif%}</span>% (<span class="poll-opt-votecount">{{opt.votecount}}</span> votes)
                    </div>
                {%endif%}
            </div>
        </div>
    {% endfor %}
    
    <div class='poll-withdraw-form' style="{% if not(has_voted and current_user.is_authenticated and poll_open) %}display:none;{%endif%}">
        <button type="button" class="poll-withdraw-btn pure-button button-secondary">Withdraw vote</button>
    </div>
</div>
