{% for comment in comments recursive %}
  <article id="{{comment.cid}}" data-cid="{{comment.cid}}" class="{% if comment.hl %}active{%endif%} text-post center no-padding comment sub-{{loop.depth0}}">
    <div class="head">
      <div class="info">
        <a class="btn small {% if comment.status == 1 %}expand{%else%}collapse{%endif%}" data-cid="{{comment.cid}}"><i class="fa fa-{% if comment.status == 1 %}plus{%else%}minus{%endif%}" aria-hidden="true"></i></a>
      {# if post.ptype == 1 %}
        <p class="modpost"><i class="fa fa-user fa-2x" aria-hidden="true"></i> Mod post</p>
      {% endif #}
        {% if not comment.status == 1 %}
          <a href="{{ url_for('view_user', user=db.get_user_from_uid(comment.uid).name) }}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> {{ db.get_user_from_uid(comment.uid).name }}</a>
        {%else%}
          <a class="btn small"><i class="fa fa-user" aria-hidden="true"></i>[Deleted]</a>
        {%endif%}
        <span class="time btn small">
          <i class="fa fa-clock-o" aria-hidden="true"></i> Posted <time-ago datetime="{{comment.time.isoformat()}}Z"></time-ago>
        </span>
      {% if comment.lastedit and not comment.status == 1 %}
        <span class="time btn small">
          <i class="fa fa-clock-o" aria-hidden="true"></i> Edited <time-ago datetime="{{comment.lastedit.isoformat()}}Z"></time-ago>
        </span>
      {% endif %}
      {% if (comment.uid == session['user_id'] or current_user.is_admin()) and not comment.status == 1 %}
        <a href="#edit-comment-form" class="btn btn-orange edit small edit-comment-form" data-cid="{{comment.cid}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit </a>
        <a href="#delete-comment-form" class="btn btn-orange edit small delete-comment-form" data-cid="{{comment.cid}}"><i class="fa fa-times-circle" aria-hidden="true"></i> Delete </a>
      {% endif %}
      </div>
    </div>
    <div class="row" id="comment-{{comment.cid}}" {% if comment.status == 1 %}hidden{%endif%}>
      <div class="pull left votecomment" style="margin-left: 10px;">
        {# vote arrow div #}
          <form class="cuvform" id="cuvform-{{comment.cid}}">
            <div class="cupvote{%if func.hasVotedComment(current_user.get_id(), comment)%} upvoted{%endif%}"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
            {% set uv = form.VoteForm() %}
            {{uv.csrf_token}}{{uv.post(value=comment.cid)}}
          </form>
          <p class="count">{{func.get_comment_score(comment)}}</p>
          <form class="cdvform" id="cdvform-{{comment.cid}}">
            <div class="cdownvote{%if func.hasVotedComment(current_user.get_id(), comment, False)%} downvoted{%endif%}"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
            {% set dv = form.VoteForm() %}
            {{uv.csrf_token}}{{uv.post(value=comment.cid)}}
          </form>
      </div>
      <div class="col-11">
        <div class="content" id="content-{{comment.cid}}">
          {% if comment.status == 1 %}[Deleted]{%else%}
            {{markdown(comment.content)|safe}}
          {%endif%}</div>
        {%if not comment.status == 1 %}
          <div hidden id="sauce-{{comment.cid}}">{{comment.content}}</div>
        {%endif%}
        <div class="bottombar">
          <span id="bott-{{comment.cid}}">
            <a href="{{url_for('view_perm', sub=db.get_sub_from_pid(comment.pid).name, pid=comment.pid, cid=comment.cid)}}">
              <i class="fa fa-link" aria-hidden="true"></i> permalink
            </a>
            {%if current_user.is_authenticated%}
              <a href="#reply" class="lnkreply" data-to="{{comment.cid}}">
                <i class="fa fa-reply" aria-hidden="true"></i> reply
              </a>
            {%endif%}
          </span>
        </div>
      </div>
    </div>
    <div id="child-{{comment.cid}}" class="pchild" {% if comment.status == 1 %}hidden{%endif%}>
      {% if comment['children'] %}
        {{loop(comment['children'])}}
      {% elif comment['more'] %}
      <a href="#" class="loadmore" data-cid="{{comment.cid}}">Load more ({{comment.amt}} comments)</a>
      {% endif %}
    </div>
  </article>

{%endfor%}
