{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}

{% block content %}
{{ super() }}
  <div class="content">
    <div class="privacy content">
      <h1>Privacy Policy</h1>
      <p>
        Users will be notified of all privacy policy changes via an
        announcement post.
      </p>
      <p>
        This privacy policy has been compiled to better serve those who are
        concerned with how their 'Personally identifiable information' (PII)
        is being used online. PII, as used in US privacy law and information
        security, is information that can be used on its own or with other
        information to identify, contact, or locate a single person, or to
        identify an individual in context. Please read our privacy policy
        carefully to get a clear understanding of how we collect, use, protect
        or otherwise handle your Personally Identifiable Information in
        accordance with our website.
      </p>

      <h2>Information we collect, and how it is used</h2>
      <p>We may use the information we collect from you when you register or
        use certain other site features in the following ways:
        <ul>
          <li>Optional email addresses provided to Phuks will be used for
            password recovery. Any user data collected from your use of the
            site may be used to improve or create site features.
          </li>
        </ul>
      </p>

      <h2>Information security</h2>
      <p>All personal or private information is encrypted using SSL/TLS during
        transit. Your personal information is contained behind secured networks
        and is only accessible by a limited number of persons who have special
        access rights to such systems, and are required to keep the information
        confidential.
      </p>
      <p>As mentioned in our Terms of Service, users are responsible for the
        information they willingly post about themselves.
      </p>

      <h2>Do we use cookies?</h2>
      <p>Yes. Cookies are small files that a site or its service provider
        transfers to your computer's hard drive through your Web browser (if
        you allow) that enables the site's or service provider's systems to
        recognize your browser and capture and remember certain information.
        Cookies on Phuks are used for things like keeping you logged in, or
        remembering if you're using the light or dark theme.
      </p>

      <h2>Third-party disclosure.</h2>
      <p>We do not sell, trade, or otherwise transfer to outside parties your
        personally identifiable information unless we provide users with advance
        notice. This does not include website hosting partners and other parties
        who assist us in operating our website, conducting our business, or
        serving our users, so long as those parties agree to keep this
        information confidential. We may also release information when it's
        release is appropriate to comply with the law, enforce our site
        policies, or protect ours or others' rights, property or safety.
      </p>


      <h1>Legal</h1>
      <h2>California Online Privacy Protection Act</h2>
      <p>CalOPPA is the first state law in the nation to require commercial
        websites and online services to post a privacy policy. According to
        CalOPPA we agree to the following:
        <ul>
          <li>Users can visit our site anonymously.</li>
          <li>Once this privacy policy is created, we will add a link to it on
            our home page or as a minimum on the first significant page after
            entering our website.</li>
          <li>Our Privacy Policy link includes the word 'Privacy' and can be
            easily be found on the page specified above.</li>
          <li>We agree to inform users about the data we collect and with whom
            it is being shared.</li>
        </ul>
      </p>

      <h2>COPPA (Children Online Privacy Protection Act)</h2>
      <p>When it comes to the collection of personal information from children
        under 13, the Children's Online Privacy Protection Act (COPPA) puts
        parents in control. The Federal Trade Commission, the nation's consumer
        protection agency, enforces the COPPA Rule, which spells out what
        operators of websites and online services must do to protect children's
        privacy and safety online. We do not specifically market to children
        under 13.
      </p>

      <h2>Fair Information Practices</h2>
      <p>In order to be in line with Fair Information Practices, in the event of
        a data breach, users will be informed within 7 business days via an
        announcement post and in-site notification (personal message).
      </p>

      <h2>CAN SPAM Act</h2>
      <p>The CAN-SPAM Act is a law that sets the rules for commercial email,
        establishes requirements for commercial messages, gives recipients the
        right to have emails stopped from being sent to them, and spells out
        tough penalties for violations.
      </p>
      <p>We collect your email address in order to:
        <ul><li>Email a reset password option</li></ul>
      </p>
      <p>To be in accordance with CANSPAM we agree to the following:
        <ul><li>If at any time you would like to unsubscribe from receiving
          future emails, you can email us at admin@phuks.co and we will
          promptly remove you from ALL correspondence.</li></ul>
      </p>

      <p>Last Edited on 2018-04-29</p>
    </div>
  </div>
{% endblock %}
