{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script src="https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&render=explicit" type="text/javascript"></script>
<script>
var recaptchaCallback = function(){
  grecaptcha.render(document.getElementById('g-recaptcha'), {sitekey: "{{config.RECAPTCHA_PUBLIC_KEY}}"});
}
</script>
{% endblock %}
{% block content %}
<div id="center-container">
  <div class="content">
    <form method="POST" class="pure-form pure-form-aligned">
      {{ regform.csrf_token }}
      <h1>Register</h1>
      <fieldset>
        <div class="pure-control-group">
          <label for="username">{{regform.username.label.text}}</label>
          {{regform.username(required=True, pattern="[a-zA-Z0-9_-]+", title="Alphanumeric characters plus '-' and '_'")}}
        </div>
        {% if func.enableInviteCode() %}
        <div class="pure-control-group">
          <label for="invitecode">{{regform.invitecode.label.text}}</label>
          {{regform.invitecode(autocomplete="off", title="A code is required for new registrations")}}
        </div>
        {%endif%}
        <div class="pure-control-group">
          <label for="password">{{regform.password.label.text}}</label>
          {{regform.password(autocomplete="off", required=True)}}
        </div>

        <div class="pure-control-group">
          <label for="confirm">{{regform.confirm.label.text}}</label>
          {{regform.confirm(autocomplete="off", required=True)}}
        </div>

        <div class="pure-control-group">
          <label for="email">{{regform.email.label.text}}</label>
          {{regform.email()}}
        </div>
        {% if config.ENABLE_SECURITY_QUESTIONS %}
          <div class="pure-control-group">
            <label for="email">{{regform.securityanswer.label.text}}</label>
            <div style="display: inline-block;"><b>{{func.pick_random_security_question()}}</b> <br/>
            {{regform.securityanswer()}}</div>
          </div>
        {% endif %}

        <div class="pure-controls">
          <label for="accept_tos" class="pure-checkbox">
            {{regform.accept_tos(required=True)}} {{regform.accept_tos.label.text}}
          </label>

          <div id="g-recaptcha"></div>
          {% if error %}
            <div class="error" style="margin-top: 2em;">{{error}}</div>
          {%endif%}
          <button type="submit" class="pure-button pure-button-primary">Register</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{%endblock%}
