{% extends "layout.html" %}
{% block content %}
<div id="center-container">
  <div class="content">
    <form method="POST" class="pure-form pure-form-aligned">
      {{ regform.csrf_token }}
      <h1>Register</h1>
      <fieldset>
        {% if error %}
          <div class="error" style="margin-top: 2em;">{{error}}</div>
        {%endif%}

        <div class="pure-control-group">
          <label for="username">{{regform.username.label.text}}</label>
          {{regform.username(required=True, pattern="[a-zA-Z0-9_-]+", title="Alphanumeric characters plus '-' and '_'")}}
        </div>
        {% if func.enableInviteCode() %}
        <div class="pure-control-group">
          <label for="invitecode">{{regform.invitecode.label.text}}</label>
          {{regform.invitecode(autocomplete="off", title="A code is required for new registrations")}}
        </div>
        {%endif%}
        <div class="pure-control-group">
          <label for="password">{{regform.password.label.text}}</label>
          {{regform.password(autocomplete="off", required=True)}}
        </div>

        <div class="pure-control-group">
          <label for="confirm">{{regform.confirm.label.text}}</label>
          {{regform.confirm(autocomplete="off", required=True)}}
        </div>

        <div class="pure-control-group">
          <label for="email">{{regform.email.label.text}}</label>
          {{regform.email()}}
        </div>
        {% if config.site.enable_security_questions %}
          <div class="pure-control-group">
            <label for="email">{{regform.securityanswer.label.text}}</label>
            <div style="display: inline-block;"><b>{{func.pick_random_security_question()}}</b> <br/>
            {{regform.securityanswer()}}</div>
          </div>
        {% endif %}
        <input type="hidden" name="ctok" value="{{rform.cap_key}}" />
        <div class="pure-controls">
          <img src="data:image/png;base64,{{rform.cap_b64}}" />
        </div>
        <div class="pure-control-group">
          <label for="captcha">{{regform.captcha.label.text}}</label>
          <input autocomplete="off" id="captcha" name="captcha" required="" type="text" value="">
        </div>
        <div class="pure-controls">
          <label for="accept_tos" class="pure-checkbox">
            {{regform.accept_tos(required=True)}} {{regform.accept_tos.label.text}}
          </label>
          <button type="submit" class="pure-button pure-button-primary">Register</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{%endblock%}
