{% extends "layout.html" %}
{% block title %}{{sub_title}} | Throat: Open discussion{% endblock %}
{% block navbar %}
<ul class="right">
  <li class="large"><a href="{{url_for('view_sub', sub=sub)}}">/s/{{sub}}</a></li>
</ul>
{% endblock %}

{% block sidebar %}
{{ super() }}<hr/>

{# temp #}
<p>
    /s/{{sub}}
  <br>
    {{sub_title}}
</p>

<div class="row buttons">
  <div class="col-12">
    <a href="#post-form" class="btn btn-blue create-post" style="width:100%;">Submit a text post</a>
  </div>
  <div class="col-12">
    <a href="#link-post-form" class="btn btn-blue create-post" style="width:100%;">Submit a link post</a>
  </div>
  {# if user is sub.mod #}
  <div class="col-12">
    <a href="#edit-sub-form" class="btn btn-blue edit-sub" style="width:100%;">Edit Sub Info</a>
  </div>
  {# endif #}
</div>
{% endblock %}

{% block content %}
{{ super() }}
{% if not posts %}<h1 class="noshit">There are no posts here, yet.</h1>{% endif %}
{% for post in posts %}
    <article class="post" data-pid="{{post.pid}}">
      {# vote div #}
      <div class="pull left vote">
        <div class="upvote{%if hasVoted(current_user.get_id(), post)%} upvoted{%endif%}"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
        <p class="count">{{getVoteCount(post)}}</p>
        <div class="downvote{%if hasVoted(current_user.get_id(), post, False)%} downvoted{%endif%}"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
      </div>
      <div class="image">
        {% if not post.link %}
        <button type="button" class="lightbtn" id="text-post-icon"><a href="{{url_for('view_post', sub=post.sub.name, pid=post.pid)}}"><i class="fa fa-comments fa-3x" aria-hidden="true"></i></a></button>
        {% else %}
        <button type="button" class="lightbtn" id="link-post-icon"><a href="{{post.link}}" rel="noreferrer noopener"><i class="fa fa-link fa-3x" aria-hidden="true"></i></a></button>
        {% endif %}
      </div>
      <div class="main">
        {% if not post.link %}
        <a class="title" href="{{url_for('view_post', sub=sub, pid=post.pid)}}">{{post.title}}</a>
        {% else %}
        <a class="title" href="{{post.link}}" rel="noreferrer noopener">{{post.title}}</a>
        {% endif %}
        <p class="author"><time-ago datetime="{{post.posted.isoformat()}}"></time-ago></p>
        <p class="container">
          <a href="{{url_for('view_user', user=post.user.name)}}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> {{post.user.name}}</a>
          <a href="{{url_for('view_post', sub=sub, pid=post.pid)}}#comments" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> Comments ({{post.comments.count()}})</a>
        </p>
      </div>
    </article>
{% endfor %}
<form id="post-form" data-sub="{{sub}}" class="mfp-hide white-popup-block">
  {{txtpostform.csrf_token}}
  <h1>Submit a text post</h1>
  <p class="title">{{txtpostform.title(placeholder=txtpostform.title.label.text, required=True, autofocus=True)}}</p>
  <p class="content">{{txtpostform.content(placeholder="Write your post content here. Styling with Markdown format is supported.")}}</p>
  <div class="alert div-error">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p></p>
  </div>
  <p><button type="submit" id="txpost-btnsubmit">Submit post</button></p>

</form>
<form id="link-post-form" data-sub="{{sub}}" class="mfp-hide white-popup-block">
  {{lnkpostform.csrf_token}}
  <h1>Submit a link post</h1>
  <p class="title">{{lnkpostform.title(placeholder=lnkpostform.title.label.text, required=True, autofocus=True)}}</p>
  <p class="content">{{lnkpostform.link(placeholder="Paste your link here.")}}</p>
  <div class="alert div-error">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p></p>
  </div>
  <p><button type="submit" id="lnkpost-btnsubmit">Submit link</button></p>

</form>
<form id="edit-sub-form" data-sub="{{sub}}" class="mfp-hide white-popup-block">
  {{editsubform.csrf_token}}
  <h1>Edit /s/{{sub}}</h1>
  <p>{{editsubform.title(placeholder=editsubform.title.label.text, required=True)}}</p>
  <p>
      {{editsubform.nsfw(style="width: auto")}}
      <label for="nsfw">{{editsubform.nsfw.label.text}}</label>
  </p>
  <div class="alert div-error">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p></p>
  </div>
  <p><button type="submit" id="editsub-btnsubmit">Edit sub</button></p>

</form>
{% endblock %}
{%block pagefoot%}
<script type="text/javascript" src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
<script>
  var simplemde = new SimpleMDE({autoDownloadFontAwesome: false, spellChecker: false, autosave: {enabled: true, unique_id: "createpost",}});
</script>
{%endblock%}
