{% extends "layout.html" %}
{% block title %}{{sub.title}} | {{config.LEMA}}{% endblock %}

{% block navbar %}
{{ super() }}
<li>
  <a href="{{url_for('view_sub', sub=sub.name)}}" class="1">{{sub.name}}</a>
</li>
{% endblock %}

{% block sidebar %}
<div id="sortbuttons" role="group" class="pure-button-group">
  <div class="pure-g">
    <a href="{{url_for('view_sub_hot', sub=sub.name)}}" class="sbm-post pure-button button-xsmall {% if request.endpoint == 'view_sub_hot' %}pure-button-primary{%endif%} pure-u-md-7-24">Hot</a>
    <a href="{{url_for('view_sub_top', sub=sub.name)}}" class="sbm-post pure-button button-xsmall {% if request.endpoint == 'view_sub_top' %}pure-button-primary{%endif%} pure-u-md-7-24">Top</a>
    <a href="{{url_for('view_sub_new', sub=sub.name)}}" class="sbm-post pure-button button-xsmall {% if request.endpoint == 'view_sub_new' %}pure-button-primary{%endif%} pure-u-md-7-24">New</a>
  </div>
</div>
<form class="pure-g search" action="{{ url_for('do.title_search') }}" method="post">
  <div class="icon" data-icon="search"> </div>
  <input name="term" placeholder="Title search..." type="search" class="pure-u-1">
</form>

{% if func.enableVideoMode(sub) %}
  <div class="musicmodediv">
    {% include 'videomodeplayer.html' %}
  </div>
<hr>
{% endif %}
{% if current_user.is_authenticated %}
  {% if func.isRestricted(sub) and not current_user.is_mod(sub.sid) %}
    <div>Only mods can post.</div>
  {%else%}
    {%if current_user.is_subban(sub) %}
      <div>You are currently banned from posting.</div>
    {%else%}
      <a href="{{url_for('submit', ptype='text', sub=sub.name)}}" class="sbm-post pure-button">Submit a text post</a>
      <a href="{{url_for('submit', ptype='link', sub=sub.name)}}" class="sbm-post pure-button">Submit a link post</a>
    {%endif%}
  {%endif%}
{%endif%}

<div class="subinfo">
  <h3><a href="{{url_for('view_sub', sub=sub.name)}}">/s/{{sub.name}}</a> {% if sub.nsfw %}<div class="nsfw" alt="Not safe for work">NSFW</div>{%endif%}</h3>
</div>
<div class="subs">{{getSuscriberCount(sub)}} subscribers</div>

<div role="group" class="pure-button-group" data-sid="{{sub.sid}}">
  {% if current_user.has_subscribed(sub.name) %}
    <button data-ac="unsubscribe" class="sub button-secondary pure-button button-xsmall pure-button-active"><span class="sbm-icon" data-icon="check"></span>Subscribed</button>
  {%else%}
    <button data-ac="subscribe" class="unsub button-secondary pure-button button-xsmall"><span class="sbm-icon" data-icon="add"></span>Subscribe</button>
  {%endif%}
  {% if current_user.has_blocked(sub.sid) %}
    <button data-ac="unblock" class="blk button-warning pure-button button-xsmall pure-button-active"><span class="sbm-icon" data-icon="check"></span>Blocked</button>
  {%else%}
    <button data-ac="block" class="unblk button-warning pure-button button-xsmall"><span class="sbm-icon" data-icon="close"></span>Block</button>
  {%endif%}
</div>
<hr>
{%if sub.sidebar != ''%}
  {{markdown(sub.sidebar)|safe}}
  <hr>
{%endif%}

<div class="moderators">
  Moderators
  <ul>
  <li><span title="Owner" class="i-icon" data-icon="owner"></span> <a href="{{url_for('view_user', user=func.getSubUsers(sub, 'mod1'))}}">{{func.getSubUsers(sub, 'mod1')}}</a></li>
  {% for mod in mods %}
  <li><a href="{{url_for('view_user', user=db.get_user_from_uid(mod.value).name)}}">{{db.get_user_from_uid(mod.value).name}}</a></li>
  {% endfor %}
  </ul>
</div>
<div class="createdby">
  Created by {{func.getSubUsers(func.getSub(sub.sid), 'mod')}}
  <time-ago datetime="{{func.getSubCreation(sub)}}Z"></time-ago>
</div>

{% if current_user.is_mod(sub.sid) or current_user.is_admin() %}
  <a href="{{url_for('edit_sub', sub=sub.name)}}" class="sbm-post pure-button">Edit Sub Info</a>
  <a href="{{url_for('edit_sub_flairs', sub=sub.name)}}" class="sbm-post pure-button">Edit Sub Flairs</a>
  <a href="{{url_for('edit_sub_css', sub=sub.name)}}" class="sbm-post pure-button">Edit Sub Stylesheet</a>
  <a href="{{url_for('edit_sub_mods', sub=sub.name)}}" class="sbm-post pure-button">Moderators</a>
{% endif %}
<hr>

<a href="{{url_for('view_sublog', sub=sub.name)}}" class="sbm-post pure-button">Sub Log</a>
<a href="{{url_for('view_sub_bans', sub=sub.name)}}" class="sbm-post pure-button">Banned Users</a>
{% endblock %}

{% block content %}
{{ super() }}
{% if func.getStickyPid %}
<div class="stickyposts">
  {% cache 300, 'sticky', sub.sid %}
    {% set sticks = func.getStickies(sub.sid) %}
    {% for post in sticks %}
      {% include "indexpost.html" %}
    {%endfor%}
  {% endcache %}
</div>
{% endif %}
{% if not posts %}<h1 class="noshit">There are no posts here, yet.</h1>{% endif %}
  {% for post in posts if not post.pid in func.getStickyPid(sub.sid)%}
    {% include "indexpost.html" %}
  {% endfor %}

{% if page > 1 %}
<a href="{{url_for(sort_type, sub=sub.name, page=(page-1))}}" class="pure-button">prev</a>
{% endif %}
{% if posts|length == 25 %}
<a href="{{url_for(sort_type, sub=sub.name, page=(page+1))}}" class="pure-button">next</a>
{% endif %}

{% endblock %}
{%block pagefoot%}
{% if not current_user.block_styles() %}
  <style>{{db.get_sub_stylesheet(sub.sid)|safe}}</style>
{% endif %}
{%endblock%}
