{% extends "layout.html" %}
{% block title %}{{sub.title}} | {{config.LEMA}}{% endblock %}
{% block navbar %}
<li><a href="{{url_for('view_sub_hot', sub=sub.name)}}">Hot</a></li>
<li><a href="{{url_for('view_sub_top', sub=sub.name)}}">Top</a></li>
<li><a href="{{url_for('view_sub_new', sub=sub.name)}}">New</a></li>
<li class="large right"><a href="{{url_for('view_sub', sub=sub.name)}}" class="btn">/s/{{sub.name}}</a></li>
{% endblock %}

{% block sidebar %}
{{ super() }}
<p></p>
<hr/>

{# temp #}
<p>{% if sub.isNSFW %}<span class="bgred" alt="Not safe for work">NSFW</span>{% endif %} /s/{{sub.name}}</p>
<p>{{sub.title}}</p>
<span class="col-12"><hr><span>

<div class="row buttons">
  <div class="sidebar col-12">
    {% if current_user.has_subscribed(sub) %}
    <span id="subscribe" class="subscribed" data-sid="{{sub.sid}}"><a class="btn small"><i class="fa fa-check" aria-hidden="true"></i> Subscribed</a></span>
    {% else %}
    <span id="subscribe" class="unsubscribed" data-sid="{{sub.sid}}"><a class="btn small"><i class="fa fa-plus" aria-hidden="true"></i> Subscribe</a></span>
    {% endif %}
    {% if current_user.has_blocked(sub) %}
    <span id="block" class="blocked" data-sid="{{sub.sid}}"><a class="btn small"><i class="fa fa-check" aria-hidden="true"></i> Blocked</a></span>
    {% else %}
    <span id="block" class="unblocked" data-sid="{{sub.sid}}"><a class="btn small"><i class="fa fa-remove" aria-hidden="true"></i> Block</a></span>
    {% endif %}
  </div>
  <div class="subscribercount col-12">
    <i class="fa fa-users" aria-hidden="true"></i> {{getSuscriberCount(sub)}} Subscribers
  </div>
  <span class="col-12"><hr><span>
  {% if isRestricted(sub) %}
  <div class="col-12">
    Only mods can post.
  </div>
  {% if current_user.is_mod(sub) and isRestricted(sub) %}
  <div class="col-12">
    <a href="#post-form" class="btn btn-orange create-post" style="width:100%;">Submit a text post</a>
  </div>
  <div class="col-12">
    <a href="#link-post-form" class="btn btn-orange create-post" style="width:100%;">Submit a link post</a>
  </div>
  {% endif %}
  {% else %}
  {% if current_user.is_authenticated and not current_user.is_subban(sub) %}
  <div class="col-12">
    <a href="#post-form" class="btn btn-orange create-post" style="width:100%;">Submit a text post</a>
  </div>
  <div class="col-12">
    <a href="#link-post-form" class="btn btn-orange create-post" style="width:100%;">Submit a link post</a>
  </div>
  {% endif %}
  {% endif %}
  {% if current_user.is_subban(sub) %}
  <div class="col-12">
    You are currently banned from posting.
  </div>
  {% endif %}
  <div class="col-12">
    <a href="{{url_for('view_sub_postmodlog', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">View modlog</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('view_sub_bans', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Banned Users</a>
  </div>
</div>
<span class="col-12"><hr><span>
<p class="createdby">Created by {{getSubUsers(sub, 'mod')}} <time-ago datetime="{{getSubCreation(sub)}}"></time-ago></p>
<div class="moderators col-12">
  Moderators
  <ul>
  <li><i class="fa fa-star" title="Owner"></i> <a href="{{url_for('view_user', user=getSubUsers(sub, 'mod1'))}}">{{getSubUsers(sub, 'mod1')}}</a></li>
  {% for mod in mods %}
  <li><a href="{{url_for('view_user', user=mod.getUsername)}}">{{mod.getUsername}}</a></li>
  {% endfor %}
  </ul>
</div>
{% if current_user.is_mod(sub) or current_user.is_admin() %}
<div class="row buttons">
  <div class="col-12">
    <a href="{{url_for('edit_sub', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Edit Sub Info</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('edit_sub_mods', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Moderators</a>
  </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
{{ super() }}
{% cache 1200, 'sticky', sub.sid %}
  {% set sticks = funcs.getStickies(sub.sid) %}
  {% for ann in sticks %}
  <article class="post" data-pid="{{ann.pid}}">
    {# vote arrow div #}
    <div class="pull left vote">
      <div class="upvote{%if hasVoted(current_user.get_id(), ann)%} upvoted{%endif%}"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
      <p class="count">{{ann.voteCount}}</p>
      <div class="downvote{%if hasVoted(current_user.get_id(), ann, False)%} downvoted{%endif%}"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
    </div>
    <div class="image">
      {% if not ann.link %}
      <button type="button" class="lightbtn" id="text-post-icon">
        <a href="{{url_for('view_post', sub=ann.sub.name, pid=ann.pid)}}">
          <span class="fa-stack fa-3x" style="color: #616161;">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </button>
      {% else %}
      <button type="button" class="lightbtn" id="link-post-icon">
        <a href="{{ann.link}}" rel="noreferrer noopener">
          <span class="fa-stack fa-3x" style="color: #616161;">
            <i class="fa fa-square fa-stack-2x"></i>
            {% if ann.isImage() %}
            <i class="fa fa-image fa-stack-1x fa-inverse"></i>
            {% elif ann.getDomain() == "youtube.com" %}
            <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            {% elif ann.getDomain() == "vimeo.com" %}
            <i class="fa fa-vimeo fa-stack-1x fa-inverse"></i>
            {% elif ann.getDomain() == "vine.co" %}
            <i class="fa fa-vine fa-stack-1x fa-inverse"></i>
            {% else %}
            <i class="fa fa-link fa-stack-1x fa-inverse"></i>
            {% endif %}
          </span>
        </a>
      </button>
      {% endif %}
    </div>
    <div class="main">
      {% if ann.isPostNSFW() %}<span class="bgred" alt="Not safe for work">NSFW</span>{% endif %}
      {% if not ann.link %}
      <a class="title" href="{{url_for('view_post', sub=sub.name, pid=ann.pid)}}"><div class="announcementPost">Sticky</div>{{ann.title}}</a>
      {% else %}
      {% if ann.link.startswith('http:') %}<span><i title="not https" class="fa fa-exclamation-circle orange"></i></span>{% endif %}
      <a class="title" href="{{ann.link}}" {% if current_user.has_exlinks() %}target="_blank" {% endif %}rel="noreferrer noopener"><div class="announcementPost">Sticky</div>{{ann.title}}</a> <span class="postdomain">(<a href="{{url_for('all_domain_new', domain=ann.getDomain())}}">{{ann.getDomain()}}</a>)</span>
      {% endif %}
      <p class="author"><time-ago datetime="{{ann.posted.isoformat()}}"></time-ago></p>
      <p class="container">
      {% if ann.link %}
        {% if ann.getDomain() == "youtube.com" %}
          <span id="youtubevid" data-vid="{{post.link}}" data-pid="{{ann.pid}}" class="closedvid">
            <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></span>
          </span>
        {% endif %}
        {% if ann.getDomain() == "vimeo.com" %}
          <span id="vimeovid" data-vid="{{ann.link}}" data-pid="{{ann.pid}}" class="closedvid">
            <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-vimeo" aria-hidden="true"></i></a></span>
          </span>
        {% endif %}
        {% if ann.getDomain() == "vine.co" %}
          <span id="vinevid" data-vid="{{ann.link}}" data-pid="{{ann.pid}}" class="closedvine">
            <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-vine" aria-hidden="true"></i></a></span>
          </span>
        {% endif %}
        {% if ann.isImage() %}
          <span id="openimg" data-img="{{ann.link}}" data-pid="{{ann.pid}}" class="closedimg">
            <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-image" aria-hidden="true"></i></a></span>
          </span>
        {% endif %}
      {% else %}
        <span id="opentextpost" data-pid="{{ann.pid}}" class="closedtextpost">
          <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-comments" aria-hidden="true"></i></a></span>
        </span>
      {% endif %}
        <a href="{{url_for('view_user', user=ann.user.name)}}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> {{ann.user.name}}</a>
        <a href="{{url_for('view_post', sub=sub.name, pid=ann.pid)}}#comments" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> Comments ({{ann.comments.count()}})</a>
        {% if current_user.is_mod(sub) or current_user.is_admin() %}
        <a href="#delete-post-form" class="btn small btn-red delpost" data-post="{{ann.pid}}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
        {% endif %}
      </p>
    </div>
  </article>
  {%endfor%}
{% endcache %}
{% if not posts %}<h1 class="noshit">There are no posts here, yet.</h1>{% endif %}
{% for post in posts if not getMetadata(post, 'deleted') and not getMetadata(post, 'moddeleted') and not post.is_sticky()%}
    <article class="post" data-pid="{{post.pid}}">
      {# vote div #}
      <div class="pull left vote">
        <div class="upvote{%if hasVoted(current_user.get_id(), post)%} upvoted{%endif%}"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
        <p class="count">{{post.voteCount}}</p>
        <div class="downvote{%if hasVoted(current_user.get_id(), post, False)%} downvoted{%endif%}"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
      </div>
      {% cache 300, post.pid, 'subpost' %}
        <div class="image">
          {% if not post.link %}
          <button type="button" class="lightbtn" id="text-post-icon">
            <a href="{{url_for('view_post', sub=post.sub.name, pid=post.pid)}}">
              <span class="fa-stack fa-3x" style="color: #616161;">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </button>
          {% else %}
          <button type="button" class="lightbtn" id="link-post-icon">
            <a href="{{post.link}}" rel="noreferrer noopener">
              <span class="fa-stack fa-3x" style="color: #616161;">
                <i class="fa fa-square fa-stack-2x"></i>
                {% if post.isImage() %}
                <i class="fa fa-image fa-stack-1x fa-inverse"></i>
                {% elif post.getDomain() == "youtube.com" %}
                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                {% elif post.getDomain() == "vimeo.com" %}
                <i class="fa fa-vimeo fa-stack-1x fa-inverse"></i>
                {% elif post.getDomain() == "vine.co" %}
                <i class="fa fa-vine fa-stack-1x fa-inverse"></i>
                {% else %}
                <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                {% endif %}
              </span>
            </a>
          </button>
          {% endif %}
        </div>
        <div class="main">
          {% if hasPostFlair(post) %}<span class="btn small">{{hasPostFlair(post)}}</span>{% endif %}
          {% if post.isPostNSFW() %}<span class="bgred" alt="Not safe for work">NSFW</span>{% endif %}
          {% if not post.link %}
          <a class="title" href="{{url_for('view_post', sub=sub.name, pid=post.pid)}}">{{post.title}}</a>
          {% else %}
          {% if post.link.startswith('http:') %}<span><i title="not https" class="fa fa-exclamation-circle orange"></i></span>{% endif %}
          <a class="title" href="{{post.link}}" {% if current_user.has_exlinks() %}target="_blank" {% endif %}rel="noreferrer noopener">{{post.title}}</a> <span class="postdomain">(<a href="{{url_for('all_domain_new', domain=post.getDomain())}}">{{post.getDomain()}}</a>)</span>
          {% endif %}
          <p class="author"><time-ago datetime="{{post.posted.isoformat()}}"></time-ago></p>
          <p class="container">
          {% if post.link %}
            {% if post.getDomain() == "youtube.com" %}
              <span id="youtubevid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvid">
                <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></span>
              </span>
            {% endif %}
            {% if post.getDomain() == "vimeo.com" %}
              <span id="vimeovid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvid">
                <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-vimeo" aria-hidden="true"></i></a></span>
              </span>
            {% endif %}
            {% if post.getDomain() == "vine.co" %}
              <span id="vinevid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvine">
                <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-vine" aria-hidden="true"></i></a></span>
              </span>
            {% endif %}
            {% if post.isImage() %}
              <span id="openimg" data-img="{{post.link}}" data-pid="{{post.pid}}" class="closedimg">
                <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-image" aria-hidden="true"></i></a></span>
              </span>
            {% endif %}
          {% else %}
            <span id="opentextpost" data-pid="{{post.pid}}" class="closedtextpost">
              <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-comments" aria-hidden="true"></i></a></span>
            </span>
          {% endif %}
            <a href="{{url_for('view_user', user=post.user.name)}}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> {{post.user.name}}</a>
            <a href="{{url_for('view_post', sub=sub.name, pid=post.pid)}}#comments" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> Comments ({{post.comments.count()}})</a>
            {% if current_user.is_mod(sub) or current_user.is_admin() %}
            <a href="#delete-post-form" class="btn small btn-red delpost" data-post="{{post.pid}}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
            {% endif %}
          </p>
        </div>
      {%endcache%}
    </article>
{% endfor %}
{% if current_user.is_authenticated and not current_user.is_subban(sub) %}
<form id="post-form" data-sub="{{sub.name}}" class="mfp-hide white-popup-block">
  {{txtpostform.csrf_token}}
  <h1>Submit a text post</h1>
  <p class="sub">/s/{{txtpostform.sub(placeholder=txtpostform.sub.label.text, required=True)}}</p>
  <p class="title">{{txtpostform.title(placeholder=txtpostform.title.label.text, required=True, autofocus=True)}}</p>
  <p class="content">{{txtpostform.content(placeholder="Write your post content here. Styling with Markdown format is supported.")}}</p>
  <div class="alert div-error">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p></p>
  </div>
  <p><button type="submit" id="txpost-btnsubmit">Submit post</button></p>

</form>
<form id="link-post-form" data-sub="{{sub.name}}" class="mfp-hide white-popup-block">
  {{lnkpostform.csrf_token}}
  <h1>Submit a link post</h1>
  <p class="sub">/s/{{txtpostform.sub(placeholder=txtpostform.sub.label.text, required=True)}}</p>
  <p class="title">{{lnkpostform.title(placeholder=lnkpostform.title.label.text, required=True, autofocus=True)}}</p>
  <p class="content">{{lnkpostform.link(placeholder="Paste your link here.")}}</p>
  <div class="alert div-error">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p></p>
  </div>
  <p><button type="submit" id="lnkpost-btnsubmit">Submit link</button></p>
</form>
{% endif %}
{% if current_user.is_mod(sub) or current_user.is_admin() %}
<form id="delete-post-form" class="mfp-hide white-popup-block">
  {{delpostform.csrf_token}}
  {{delpostform.post}}
  <h3>Are you sure you want to delete this post?</h3>
  <div class="alert div-error">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p></p>
  </div>
  <p><button type="submit" id="delpost-btnsubmit">Delete!</button></p>
</form>
{% endif %}

{% endblock %}
{%block pagefoot%}
{% if not current_user.block_styles() %}
  <style>{{sub.stylesheet.first().content}}</style>
{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
<script>
  var simplemde = new SimpleMDE({autoDownloadFontAwesome: false, spellChecker: false, autosave: {enabled: false, unique_id: "createpost",}});
</script>
{%endblock%}
