{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}
{% block navbar %}
<ul class="right">
  <li class="large"><a href="{{url_for('view_sub', sub=sub.name)}}">/s/{{sub.name}}</a></li>
</ul>
{% endblock %}
{% block content %}
{{ super() }}

{% if not current_user.is_mod(sub) and current_user.is_admin() %}
<center><h3>Editing as Admin</h3></center>
{% endif %}

<h3>Banned users for /s/{{sub.name}}</h3>
<div class="col-12">
  <p>Banned users: {% if banned|length < 1 %}none{% endif %}</p>
  <ul>
  {% for ban in banned if banned|length > 0 %}
  <span class="editbanbtn col-4">
    <li><i class="fa fa-remove"></i> <a href="{{url_for('view_user', user=db.get_user_from_uid(ban.value).name)}}">{{db.get_user_from_uid(ban.value).name}}</a>
      {% if current_user.is_admin() or current_user.is_topmod(sub) or current_user.is_mod(sub) %}
      <span id="revoke-ban" data-sub="{{sub.name}}" data-user="{{db.get_user_from_uid(ban.value).name}}" class="btn revoke">unban</span>
      {% endif %}
    </li>
    </span>
    {% endfor %}
  </ul>

  {% if current_user.is_admin() or current_user.is_topmod(sub) or current_user.is_mod(sub) %}
  <div class="editmoderators col-12">
    <form id="ban-user-form" data-sub="{{sub.name}}" class="">
      {{banuserform.csrf_token}}
      <p>
        <label>Ban user from posting: {{banuserform.user(placeholder=banuserform.user.label.text, required=True)}}</label>
        <button type="submit" class="btn btn-orange" id="banuser-btnsubmit">Banhammer</button>
      </p>
      <div class="alert div-error">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p></p>
      </div>
    </form>
  </div>
  {% endif %}
</div>
<div class="col-12"><hr></div>
<div class="col-12">
  <p>Past bans: {% if xbans|length < 1 %}none{% endif %}</p>
  <ul>
  {% for xban in xbans if xbans|length > 0 %}
  <span class="col-4">
    <li><i class="fa fa-user"></i> <a href="{{url_for('view_user', user=db.get_user_from_uid(ban.value).name)}}">{{db.get_user_from_uid(ban.value).name}}</a></li>
  </span>
  {% endfor %}
  </ul>
</div>
{% endblock %}
