{% extends "layout.html" %}
{% block title %}{{sub.title}} | {{config.LEMA}}{% endblock %}
{% block navbar %}
<li>
  <a href="{{url_for('view_sub', sub=sub.name)}}">
    Deleted from {{sub.name}}
  </a>
</li>
{% endblock %}

{% block sidebar %}
{{ super() }}
<hr/>
<div class="row buttons">
  <div class="sidebar col-12">
    {% if current_user.has_subscribed(sub.sid) %}
    <span id="subscribe" class="subscribed" data-sid="{{sub.sid}}"><a class="btn small"><i class="fa fa-check" aria-hidden="true"></i> Subscribed</a></span>
    {% else %}
    <span id="subscribe" class="unsubscribed" data-sid="{{sub.sid}}"><a class="btn small"><i class="fa fa-plus" aria-hidden="true"></i> Subscribe</a></span>
    {% endif %}
    {% if current_user.has_blocked(sub.sid) %}
    <span id="block" class="blocked" data-sid="{{sub.sid}}"><a class="btn small"><i class="fa fa-check" aria-hidden="true"></i> Blocked</a></span>
    {% else %}
    <span id="block" class="unblocked" data-sid="{{sub.sid}}"><a class="btn small"><i class="fa fa-remove" aria-hidden="true"></i> Block</a></span>
    {% endif %}
  </div>

  <div class="subscribercount col-12">
    <i class="fa fa-users" aria-hidden="true"></i> {{getSuscriberCount(sub)}} Subscribers
  </div>

{% if current_user.is_authenticated %}
  <span class="col-12"><hr><span>
  {% if func.isRestricted(sub) %}
  <div class="col-12">Only mods can post.</div>
  {%endif%}
  {% if not func.isRestricted(sub) or (current_user.is_mod(sub.sid) and func.isRestricted(sub)) %}
  <div class="col-12">
    <a href="{{url_for('submit_text', sub=sub.name)}}" class="btn btn-orange create-post" style="width:100%;">Submit a text post</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('submit_link', sub=sub.name)}}" class="btn btn-orange create-post" style="width:100%;">Submit a link post</a>
  </div>
  {% endif %}

  {% if current_user.is_subban(sub) %}
  <div class="col-12">
    You are currently banned from posting.
  </div>
  {% endif %}
{% endif %}
</div>

{{markdown(sub.sidebar)|safe}}

<span class="col-12"><hr><span>

<p class="createdby">Created by {% if func.getSubUsers(func.getSub(sub.sid), 'mod') == '[Deleted]' %} Pkuks {% else %} {{func.getSubUsers(func.getSub(sub.sid), 'mod')}} {% endif %}
  <time-ago datetime="{{func.getSubCreation(sub)}}Z"></time-ago>
</p>
<div class="moderators col-12">
  Moderators
  <ul>
  <li><i class="fa fa-star" title="Owner"></i> <a href="{{url_for('view_user', user=func.getSubUsers(sub, 'mod1'))}}">{{func.getSubUsers(sub, 'mod1')}}</a></li>
  {% for mod in mods %}
  <li><a href="{{url_for('view_user', user=db.get_user_from_uid(mod.value).name)}}">{{db.get_user_from_uid(mod.value).name}}</a></li>
  {% endfor %}
  </ul>
</div>
{% if current_user.is_mod(sub.sid) or current_user.is_admin() %}
<div class="row buttons">
  <div class="col-12">
    <a href="{{url_for('edit_sub', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Edit Sub Info</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('edit_sub_flairs', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Edit Sub Flairs</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('edit_sub_css', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Edit Sub Stylesheet</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('edit_sub_mods', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Moderators</a>
  </div>
</div>
{% endif %}
<span class="col-12"><hr><span>
<div class="row buttons">
  <div class="col-12">
    <a href="{{url_for('view_sublog', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Sub Log</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('view_sub_bans', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Banned Users</a>
  </div>
</div>
{% endblock %}

{% block content %}
{{ super() }}
{% if not posts %}<h1 class="noshit">There are no posts here, yet.</h1>{% endif %}
{# cache 120, 'deletedsubposts', sub.sid, sort_type, page|string #}
  {% for post in posts if db.is_post_deleted(post) and not post in func.getStickies(sub.sid) %}
      <article class="post" data-pid="{{post.pid}}">
        {% cache 300, post.pid, 'subpost' %}
          <div class="image">
            {% if post.link %}
              <a {% if current_user.has_exlinks() %}target="_blank" {% endif %} href="{{url_for('view_post', sub=func.getSub(post.sid).name, pid=post.pid)}}">
                <span class="fa-stack fa-3x" style="color: #616161;">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            {% else %}
              <a {% if current_user.has_exlinks() %}target="_blank" {% endif %} href="{{url_for('view_post', sub=func.getSub(post.sid).name, pid=post.pid)}}">
                <span class="fa-stack fa-3x" style="color: #616161;">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            {% endif %}
          </div>
          <div class="main">
            {% if func.getPostFlair(post) %}<span class="btn small postfl">{{func.getPostFlair(post)}}</span>{% endif %}
            {% if db.is_post_nsfw(post) %}<span class="bgred" alt="Not safe for work">NSFW</span>{% endif %}
            {% if not post.link %}
            <a class="title" href="{{url_for('view_post', sub=sub.name, pid=post.pid)}}">{{post.title}}</a>
            {% else %}
            {% if post.link.startswith('http:') %}<span><i title="not https" class="fa fa-exclamation-circle orange"></i></span>{% endif %}
            <a {% if current_user.has_exlinks() %}target="_blank" {% endif %} class="title" href="{{post.link}}" {% if current_user.has_exlinks() %}target="_blank" {% endif %}rel="noreferrer noopener">{{post.title}}</a> <span class="postdomain">(<a href="{{url_for('all_domain_new', domain=func.getDomain(post.link))}}">{{func.getDomain(post.link)}}</a>)</span>
            {% endif %}
            <p class="author"><time-ago datetime="{{post.posted.isoformat()}}Z"></time-ago></p>
            <p class="container">
            {% if post.link %}
              {% if func.getDomain(post.link) == "youtube.com" or func.getDomain(post.link) == "www.youtube.com" or func.getDomain(post.link) == "youtu.be" %}
                <span id="youtubevid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvid">
                  <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></span>
                </span>
              {% elif func.getDomain(post.link) == "vimeo.com" %}
                <span id="vimeovid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvid">
                  <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-vimeo" aria-hidden="true"></i></a></span>
                </span>
              {% elif func.getDomain(post.link) == "vine.co" %}
                <span id="vinevid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvine">
                  <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-vine" aria-hidden="true"></i></a></span>
                </span>
              {% elif func.getDomain(post.link) == "gfycat.com" %}
                <span id="gfycat" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedgfycat">
                  <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-video-camera" aria-hidden="true"></i></a></span>
                </span>
              {% elif func.isImage(post.link) %}
                <span id="openimg" data-img="{{post.link}}" data-pid="{{post.pid}}" class="closedimg">
                  <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-image" aria-hidden="true"></i></a></span>
                </span>
              {% elif func.isVideo(post.link) %}
                <span id="openvideo" data-vid="{{post.link}}" data-pid="{{post.pid}}" data-domain="{{func.getDomain(post.link)}}" class="closedvid">
                  <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-play" aria-hidden="true"></i></a></span>
                </span>
              {% elif func.isGifv(post.link) %}
                <span id="gifv" data-vid="{{post.link}}" data-pid="{{post.pid}}" data-domain="{{func.getDomain(post.link)}}" class="closedgifv">
                  <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-play" aria-hidden="true"></i></a></span>
                </span>
              {% elif func.getDomain(post.link) == "twitter.com" %}
                <span id="tweet" data-url="{{post.link}}" data-pid="{{post.pid}}" class="closedtweet">
                  <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
                </span>
              {% endif %}
            {% elif post.content != '' %}
              <span id="opentextpost" data-pid="{{post.pid}}" class="closedtextpost">
                <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-comments" aria-hidden="true"></i></a></span>
              </span>
            {% endif %}
              <span> [Deleted] </span>

              <a href="{{url_for('view_post', sub=sub.name, pid=post.pid)}}#comments" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> {{db.get_post_comment_count(post.pid)}}</a>
            </p>
          </div>
        {%endcache%}
      </article>
  {% endfor %}
{# endcache #}
{% if page > 1 %}
<a href="{{url_for(sort_type, sub=sub.name, page=(page-1))}}" class="btn"><i class="fa fa-chevron-left" aria-hidden="true"></i> prev</a>
{% endif %}
{% if posts|length == 20 %}
<a href="{{url_for(sort_type, sub=sub.name, page=(page+1))}}" class="btn">next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
{% endif %}

{% endblock %}
{%block pagefoot%}
{% if not current_user.block_styles() %}
  <style>{{db.get_sub_stylesheet(sub.sid)|safe}}</style>
{% endif %}
{%endblock%}
