{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}
{% block navbar %}
<ul class="right">
  <li class="large"><a href="{{url_for('view_sub', sub=sub.name)}}">/s/{{sub.name}}</a></li>
</ul>
{% endblock %}
{% block content %}
{{ super() }}

<h1> Sub log </h1>
<table class="pure-table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Action</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
      <tr>
        <td><time-ago datetime="{{log.time}}Z">{{log.time}}</time-ago></td>
        <td>{{log.desc}}</td>
        <td>{%if log.link%}<a href="{{log.link}}">Link</a>{%endif%}</td>
      </tr>
    {%endfor%}
  </tbody>
</table>
{% if page > 1 %}
<a href="{{url_for('view_sublog', sub=sub.name, page=(page-1))}}" class="btn"><i class="fa fa-chevron-left" aria-hidden="true"></i> prev</a>
{% endif %}
{% if logs|length == 50 %}
<a href="{{url_for('view_sublog', sub=sub.name, page=(page+1))}}" class="btn">next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
{% endif %}
{% endblock %}
