{% extends "layout.html" %}
{# set sub = db.get_sub_from_name('live') #}
{% block title %}phuks live | {{config.LEMA}}{% endblock %}
{% block navbar %}
<li>
  <a href="{{url_for('view_sub', sub=sub.name)}}">
    {% if sub.nsfw %}
      <span class="bgred" alt="Not safe for work">NSFW</span>
    {% endif %}
    {{sub.name}}
  </a>
</li>
{% endblock %}

{% block sidebar %}
{% if func.enableVideoMode(sub) %}
  <div class="musicmodediv">
  <div>Video mode enabled</div>
  {% include 'videomodeplayer.html' %}
</div>
<span class="col-12"><hr><span>
{% endif %}
{{ super() }}
<p></p>
<hr/>
<div class="row buttons">
  <div class="sidebar col-12">
    {% if current_user.has_subscribed(sub.sid) %}
    <span id="subscribe" class="subscribed" data-sid="{{sub.sid}}"><a class="btn small"><i class="fa fa-check" aria-hidden="true"></i> Subscribed</a></span>
    {% else %}
    <span id="subscribe" class="unsubscribed" data-sid="{{sub.sid}}"><a class="btn small"><i class="fa fa-plus" aria-hidden="true"></i> Subscribe</a></span>
    {% endif %}
    {% if current_user.has_blocked(sub.sid) %}
    <span id="block" class="blocked" data-sid="{{sub.sid}}"><a class="btn small"><i class="fa fa-check" aria-hidden="true"></i> Blocked</a></span>
    {% else %}
    <span id="block" class="unblocked" data-sid="{{sub.sid}}"><a class="btn small"><i class="fa fa-remove" aria-hidden="true"></i> Block</a></span>
    {% endif %}
  </div>

  <div class="subscribercount col-12">
    <i class="fa fa-users" aria-hidden="true"></i> {{getSuscriberCount(sub)}} Subscribers
  </div>

{% if current_user.is_authenticated %}
  <span class="col-12"><hr><span>
  {% if func.isRestricted(sub) %}
  <div class="col-12">Only mods can post.</div>
  {%endif%}
  {% if not func.isRestricted(sub) or (current_user.is_mod(sub) and func.isRestricted(sub)) %}
  <div class="col-12">
    <a href="{{url_for('submit_text', sub=sub.name)}}" class="btn btn-orange create-post" style="width:100%;">Submit a text post</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('submit_link', sub=sub.name)}}" class="btn btn-orange create-post" style="width:100%;">Submit a link post</a>
  </div>
  {% endif %}

  {% if current_user.is_subban(sub) %}
  <div class="col-12">
    You are currently banned from posting.
  </div>
  {% endif %}
{% endif %}
</div>

{{markdown(sub.sidebar)|safe}}

<span class="col-12"><hr><span>

<p class="createdby">Created by {% if func.getSubUsers(func.getSub(sub.sid), 'mod') == '[Deleted]' %} Pkuks {% else %} {{func.getSubUsers(func.getSub(sub.sid), 'mod')}} {% endif %}
  <time-ago datetime="{{func.getSubCreation(sub)}}Z"></time-ago>
</p>
<div class="moderators col-12">
  Moderators
  <ul>
  <li><i class="fa fa-star" title="Owner"></i> <a href="{{url_for('view_user', user=func.getSubUsers(sub, 'mod1'))}}">{{func.getSubUsers(sub, 'mod1')}}</a></li>
  {% for mod in mods %}
  <li><a href="{{url_for('view_user', user=db.get_user_from_uid(mod.value).name)}}">{{db.get_user_from_uid(mod.value).name}}</a></li>
  {% endfor %}
  </ul>
</div>
{% if current_user.is_mod(sub) or current_user.is_admin() %}
<div class="row buttons">
  <div class="col-12">
    <a href="{{url_for('edit_sub', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Edit Sub Info</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('edit_sub_flairs', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Edit Sub Flairs</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('edit_sub_css', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Edit Sub Stylesheet</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('edit_sub_mods', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Moderators</a>
  </div>
</div>
{% endif %}
<span class="col-12"><hr><span>

<div class="row buttons">
  <div class="col-12">
    <a href="{{url_for('view_sublog', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Sub Log</a>
  </div>
  <div class="col-12">
    <a href="{{url_for('view_sub_bans', sub=sub.name)}}" class="btn btn-orange edit-sub" style="width:100%;">Banned Users</a>
  </div>
</div>
{% endblock %}

{% block content %}
{{ super() }}
<div class="col-5 chat">
  <div>
    <form  method="POST" class="ajaxform nice-form" action="{{url_for('do.create_livechat')}}" >
      {{livechat.csrf_token}}
      <div class="col-10">
        {{livechat.chatmsg()}}
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-blue" id="postlivechat-btnsubmit" data-prog="Sending.." data-success="talk">talk</button>
      </div>
      <div class="alert div-error col-12">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p></p>
      </div>
    </form>
  </div>
  <div class="alldachats">
  {% include "sublivechats.html" %}
  </div>
</div>
<div class="col-7" style="border-left: 1px solid #999;">
{% cache 300, 'sticky', sub.sid %}
  {% set sticks = func.getStickies(sub.sid) %}
  {% for ann in sticks %}
  <article class="post" data-pid="{{ann.pid}}">
    {# vote arrow div #}
    <div class="pull left vote">
      <form class="uvform">
        <div class="upvote{%if func.getVoteStatus(current_user.get_id(), ann.pid) == 1%} upvoted{%endif%}"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
        {% set uv = form.VoteForm() %}
        {{uv.csrf_token}}{{uv.post(value=ann.pid)}}
      </form>
      <p class="count">{{ann.score}}</p>
      <form class="dvform">
        <div class="downvote{%if func.getVoteStatus(current_user.get_id(), ann.pid) == 0%} downvoted{%endif%}"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
        {% set dv = form.VoteForm() %}
        {{uv.csrf_token}}{{uv.post(value=ann.pid)}}
      </form>
    </div>
    <div class="image">
      {% if not ann.link %}
        <a href="{{url_for('view_post', sub=db.get_sub_from_sid(ann.sid).name, pid=ann.pid)}}">
          <span class="fa-stack fa-2x" style="color: #616161;">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      {% else %}
        <a href="{{ann.link}}" rel="noreferrer noopener">
          <span class="fa-stack fa-2x" style="color: #616161;">
            <i class="fa fa-square fa-stack-2x"></i>
            {% if func.isImage(ann.link) %}
            <i class="fa fa-image fa-stack-1x fa-inverse"></i>
            {% elif func.getDomain(ann.link) == "youtube.com" or func.getDomain(ann.link) == "www.youtube.com" or func.getDomain(ann.link) == "youtu.be" %}
            <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            {% elif func.getDomain(ann.link) == "vimeo.com" %}
            <i class="fa fa-vimeo fa-stack-1x fa-inverse"></i>
            {% elif func.getDomain(ann.link) == "vine.co" %}
            <i class="fa fa-vine fa-stack-1x fa-inverse"></i>
            {% else %}
            <i class="fa fa-link fa-stack-1x fa-inverse"></i>
            {% endif %}
          </span>
        </a>
      {% endif %}
    </div>
    <div class="main">
      {% if db.is_post_nsfw(ann) %}<span class="bgred" alt="Not safe for work">NSFW</span>{% endif %}
      {% if not ann.link %}
      <a {% if current_user.has_exlinks() %}target="_blank" {% endif %} class="title" href="{{url_for('view_post', sub=sub.name, pid=ann.pid)}}"><div class="announcementPost">Sticky</div>{{ann.title}}</a>
      {% else %}
      {% if ann.link.startswith('http:') %}<span><i title="not https" class="fa fa-exclamation-circle orange"></i></span>{% endif %}
      <a class="title" href="{{ann.link}}" {% if current_user.has_exlinks() %}target="_blank" {% endif %}rel="noreferrer noopener"><div class="announcementPost">Sticky</div>{{ann.title}}</a> <span class="postdomain">(<a href="{{url_for('all_domain_new', domain=func.getDomain(ann.link))}}">{{func.getDomain(ann.link)}}</a>)</span>
      {% endif %}
      <p class="author"><time-ago datetime="{{ann.posted.isoformat()}}Z"></time-ago></p>
      <p class="container">
      {% if ann.link %}
        {% if func.getDomain(ann.link) == "youtube.com" or func.getDomain(ann.link) == "www.youtube.com" or func.getDomain(ann.link) == "youtu.be" %}
          <span id="youtubevid" data-vid="{{ann.link}}" data-pid="{{ann.pid}}" class="closedvid">
            <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></span>
          </span>
        {% elif func.getDomain(ann.link) == "vimeo.com" %}
          <span id="vimeovid" data-vid="{{ann.link}}" data-pid="{{ann.pid}}" class="closedvid">
            <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-vimeo" aria-hidden="true"></i></a></span>
          </span>
        {% elif func.getDomain(ann.link) == "vine.co" %}
          <span id="vinevid" data-vid="{{ann.link}}" data-pid="{{ann.pid}}" class="closedvine">
            <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-vine" aria-hidden="true"></i></a></span>
          </span>
        {% elif func.isImage(ann.link) %}
          <span id="openimg" data-img="{{ann.link}}" data-pid="{{ann.pid}}" class="closedimg">
            <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-image" aria-hidden="true"></i></a></span>
          </span>
        {% elif func.isVideo(ann.link) %}
          <span id="openvideo" data-vid="{{ann.link}}" data-pid="{{ann.pid}}" data-domain="{{func.getDomain(ann.link)}}" class="closedvid">
            <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-play" aria-hidden="true"></i></a></span>
          </span>
        {% elif func.isGifv(ann.link) %}
          <span id="gifv" data-vid="{{ann.link}}" data-pid="{{ann.pid}}" data-domain="{{func.getDomain(ann.link)}}" class="closedgifv">
            <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-play" aria-hidden="true"></i></a></span>
          </span>
        {% elif func.getDomain(ann.link) == "twitter.com" %}
          <span id="tweet" data-url="{{ann.link}}" data-pid="{{ann.pid}}" class="closedtweet">
            <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
          </span>
        {% endif %}
      {% elif ann.content != '' %}
        <span id="opentextpost" data-pid="{{ann.pid}}" class="closedtextpost">
          <span id="player{{ann.pid}}"><a class="btn small"><i class="fa fa-comments" aria-hidden="true"></i></a></span>
        </span>
      {% endif %}
        <a href="{{url_for('view_user', user=db.get_user_from_uid(ann.uid).name)}}" class="btn small"><i class="fa fa-user" aria-hidden="true"></i> {{db.get_user_from_uid(ann.uid).name}}</a>
        <a href="{{url_for('view_post', sub=sub.name, pid=ann.pid)}}#comments" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> {{db.get_post_comment_count(ann.pid)}}</a>
      </p>
    </div>
  </article>
  {%endfor%}
{% endcache %}
  {% if not posts %}<h1 class="noshit">There are no posts here, yet.</h1>{% endif %}
  <div class="alldaposts">
  {% include "sublivepost.html" %}
  </div>
</div>
{% if page > 1 %}
<a href="{{url_for(sort_type, page=(page-1))}}" class="btn"><i class="fa fa-chevron-left" aria-hidden="true"></i> prev</a>
{% endif %}
{% if posts|length == 20 %}
<a href="{{url_for(sort_type, page=(page+1))}}" class="btn">next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
{% endif %}
{% endblock %}
{%block pagefoot%}
{% if not current_user.block_styles() %}
  <style>{{db.get_sub_stylesheet(sub.sid)|safe}}</style>
  <style>
  /*
  main.col-8.right.center {width: 97%;}
  .col-3.side.right {display: none;}
  */
  </style>
  <script type="text/javascript" charset="utf-8">
      socket.on('connect', function() {
        window.sio = true;
        socket.emit('subscribe', {target: '/live'});
        $('article.post').each(function(i){
          socket.emit('subscribe', {target: $(this).data('pid')});
        })
        $('div.livemessage').each(function(i){
          socket.emit('subscribe', {target: $(this).data('xid')});
        })
      });
      {% if page == 1 %}
      socket.on('livethread', function(data){
        socket.emit('subscribe', {target: data.pid})
        $('.alldaposts').prepend(data.html)
      })
      {% endif %}
      socket.on('livechatthread', function(data){
        socket.emit('subscribe', {target: data.xid})
        $('.alldachats').prepend(data.html)
      })
      socket.on('threadscore', function(data){
        console.log('article#' + data.pid + ' .count')
        $('article#' + data.pid + ' .count').html(data.score)
      })
      socket.on('threadcomments', function(data){
        console.log('article#' + data.pid + ' .ccount')
        $('article#' + data.pid + ' .ccount').html(data.comments)
      })
  </script>
{% endif %}
{%endblock%}
