{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}
{% block navbar %}
<ul class="right">
  <li class="large"><a href="{{url_for('view_sub', sub=sub.name)}}">/s/{{sub.name}}</a></li>
</ul>
{% endblock %}
{% block sidebar %}
{{ super() }}
<p></p>
<hr/>
<ul>
  <li>1 deletion</li>
  <li>2 user ban</li>
  <li>3 flair</li>
  <li>4 mod edit sub</li>
  <li>5 comment related</li>
  <li>6 mod related</li>
</ul>
{% endblock %}
{% block content %}
{{ super() }}

{% if not current_user.is_mod(sub) and current_user.is_admin() %}
<center><h3>Viewing as Admin</h3></center>
{% endif %}

<h1> Sub log </h1>
<table class="col-12">
  <tr>
    <td>Time</td>
    <td>action</td>
    <td>desc</td>
    <td>link</td>
  </tr>
  {% for log in logs %}
  <tr>
    <td>{{log.time}}</td>
    <td>{{log.action}}</td>
    <td>{{log.desc}}</td>
    <td>{{log.link}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
