{% extends "layout.html" %}
{% block title %}{{config.site.lema}}{% endblock %}
{% block navbar %}
<ul class="right">
  <li class="large"><a href="{{url_for('sub.view_sub', sub=sub.name)}}">/{{config.site.sub_prefix}}/{{sub.name}}</a></li>
</ul>

{% block sidebar %}
{{ super() }}
{% include 'mod/sidebar.html' %}
{% endblock %}

{% endblock %}
{% block content %}
{{ super() }}

{% if not current_user.is_mod(sub.sid, 1) and current_user.is_admin() %}
<div class="important"><h3>Editing as Admin</h3></div>
{% endif %}

<h1>Moderators for /{{config.site.sub_prefix}}/{{sub.name}}</h1>
{% if current_user.is_modinv(sub.sid)  %}
<div class="mod2-inv" >
  You currently have an invite for this sub pending.
  <a id="accept-mod2-inv" data-sub="{{sub.name}}" data-user="{{current_user.user.name}}" class="slink">Accept</a> /
  <a id="refuse-mod2-inv" data-sub="{{sub.name}}" data-user="{{current_user.user.name}}" class="slink">No thanks</a>
</div>
<div class="col-12"><hr></div>
{% endif %}

<div class="col-12">
  {% if subMods['owners']|length == 1 %}
    <p>Owner: <i class="fa fa-star" title="Owner"></i> <a href="{{url_for('user.view', user=(subMods['owners'].values()|list)[0] )}}">{{ (subMods['owners'].values()|list)[0] }}</a></p>
  {%else%}
    Owners:
    <ul>
    {% for owner in subMods.owners %}
      <li><i class="fa fa-star" title="Owner"></i> <a href="{{url_for('user.view', user=owner.name)}}">{{owner.name}}</a></li>
    {%endfor%}
    </ul>
  {%endif%}
</div>
<div class="col-12"><hr></div>
<div class="col-12">
  <p>Active moderators: {% if subMods.mods|length < 1 %}none{% endif %}</p>
  <ul>
  {% for mod in subMods.mods %}
  <span class="editmodbtn col-4">
    <li><a href="{{url_for('user.view', user=subMods.mods[mod])}}">{{subMods.mods[mod]}}</a>
      {% if current_user.is_admin() or current_user.is_mod(sub.sid, 0) %}
      <span>(<a data-sub="{{sub.name}}" data-user="{{subMods.mods[mod]}}" class="slink revoke-mod2">remove</a>)</span>
      {%elif current_user.uid == mod %}
      <span>(<a data-sub="{{sub.name}}" data-user="{{subMods.mods[mod]}}" class="slink revoke-mod2">resign</a>)</span>
      {% endif %}
    </li>
  </span>
  {% endfor %}
  </ul>
</div>
<div class="col-12">
  {% if subMods.janitors|length > 0 %}
    <p>Janitors: </p>
    <ul>
    {% for mod in subMods.janitors %}
    <span class="editmodbtn col-4">
      <li><a href="{{url_for('user.view', user=subMods.janitors[mod])}}">{{subMods.janitors[mod]}}</a>
        {% if current_user.is_admin() or current_user.is_mod(sub.sid, 0) %}
        <span>(<a data-sub="{{sub.name}}" data-user="{{subMods.janitors[mod]}}" class="slink revoke-mod2">remove</a>)</span>
        {%elif current_user.uid == mod %}
        <span>(<a data-sub="{{sub.name}}" data-user="{{subMods.janitors[mod]}}" class="slink revoke-mod2">resign</a>)</span>
        {% endif %}
      </li>
    </span>
    {% endfor %}
    </ul>
  {%endif%}

</div>
<div class="col-12"><hr></div>
<div class="col-12">
  <p>Pending invites: {% if subModInvites.count() < 1 %}none{% endif %}</p>
  <ul>
  {% for modinv in subModInvites %}
  <span class="editmodbtn col-4">
    <li>[{%if modinv.power_level == 1%}Mod{%elif modinv.power_level == 2%}Janitor{%endif%}]
      <a href="{{url_for('user.view', user=modinv.user.name)}}">{{modinv.user.name}}</a>
      {% if current_user.is_admin() or current_user.is_mod(sub.sid, 0) %}
      (<a data-sub="{{sub.name}}" data-user="{{modinv.user.name}}" class="slink revoke-mod2inv">revoke</a>)
      {% endif %}
    </li>
    </span>
    {% endfor %}
  </ul>

  {% if current_user.is_admin() or current_user.is_mod(sub.sid, 0) %}
  <div class="editmoderators col-12">
    <form data-reload="true" action="{{url_for('do.inv_mod', sub=sub.name)}}" id="edit-mod2-form" data-sub="{{sub.name}}" class="pure-form ajaxform">
      {{editmod2form.csrf_token}}
      <p>
        <label>Invite new mod:</label>
        {{editmod2form.user(placeholder=editmod2form.user.label.text, required=True)}}
        {{editmod2form.level(placeholder=editmod2form.level.label.text, required=True)}}
        <button type="submit" class="pure-button pure-button-primary" id="editmod2-btnsubmit">Invite mod</button>
      </p>
      <div class="alert div-error">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p></p>
      </div>
    </form>
  </div>
  {% endif %}
</div>
<div class="col-12"><hr></div>
<div class="col-12">
  <p>Past mods: <b>{% if subdata.xmods|length < 1 %}none{%else%}{{subdata.xmods|length}}{% endif %}</b></p>
  <ul>
  {% for xmod in subdata.xmods if subdata.xmods|length > 0 %}
  <span class="col-4">
    <li><i class="fa fa-remove"></i> <a href="{{url_for('user.view', user=xmod.name)}}">{{xmod.name}}</a></li>
  </span>
  {% endfor %}
  </ul>
</div>
{% endblock %}
