{% extends "layout.html" %}
{% block title %}{{sub.title}} | {{config.LEMA}}{% endblock %}
{% block navbar %}
<li><a href="{{url_for('view_sub_hot', sub=sub.name)}}">Hot</a></li>
<li><a href="{{url_for('view_sub_top', sub=sub.name)}}">Top</a></li>
<li><a href="{{url_for('view_sub_new', sub=sub.name)}}">New</a></li>
<li class="large right"><a href="{{url_for('view_sub', sub=sub.name)}}" class="btn btn-white" style="width:100%;hight:50%;">/s/{{sub.name}}</a></li>
{% endblock %}

{% block sidebar %}
{{ super() }}
<p></p>
<hr/>
<h3>/s/{{sub.name}}</h3>
{% if sub.isNSFW %} <p><span class="bgred" alt="Not safe for work">NSFW</span></p>{% endif %}
{% endblock %}

{% block content %}
{{ super() }}
<h3>Modlog</h3>
{% if not posts %}<h1 class="noshit">There are no posts here, yet.</h1>{% endif %}
{% for post in posts if not db.is_post_deleted(post)%}
    <article class="post" data-pid="{{post.pid}}">
      {# vote div #}
      <div class="pull left vote"><br>
        <p class="count">{{post['score']}}</p>
      </div>
      {% cache 300, post.pid, 'subpost' %}
        <div class="image">
          {% if not post.link %}
            <a href="{{url_for('view_post', sub=func.getSub(post.sid).name, pid=post.pid)}}">
              <span class="fa-stack fa-3x" style="color: #616161;">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          {% else %}
            <a href="{{post.link}}" rel="noreferrer noopener">
              <span class="fa-stack fa-3x" style="color: #616161;">
                <i class="fa fa-square fa-stack-2x"></i>
                {% if func.isImage(post.link) %}
                <i class="fa fa-image fa-stack-1x fa-inverse"></i>
                {% elif func.getDomain(post.link) == "youtube.com" %}
                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                {% elif func.getDomain(post.link) == "vimeo.com" %}
                <i class="fa fa-vimeo fa-stack-1x fa-inverse"></i>
                {% elif func.getDomain(post.link) == "vine.co" %}
                <i class="fa fa-vine fa-stack-1x fa-inverse"></i>
                {% else %}
                <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                {% endif %}
              </span>
            </a>
          {% endif %}
        </div>
        <div class="main">
          {% if not post.link %}
          <a class="title" href="{{url_for('view_post', sub=sub.name, pid=post.pid)}}">{{post.title}}</a>
          {% else %}
          {% if post.link.startswith('http:') %}<span><i title="not https" class="fa fa-exclamation-circle orange"></i></span>{% endif %}
          <a class="title" href="{{post.link}}" rel="noreferrer noopener">{{post.title}}</a> ({{func.getDomain(post.link)}})
          {% endif %}
          <p class="author"><time-ago datetime="{{post.posted.isoformat()}}Z"></time-ago></p>
          <p class="container">
          {% if post.link %}
            {% if func.getDomain(post.link) == "youtube.com" %}
              <span id="youtubevid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvid">
                <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></span>
              </span>
            {% endif %}
            {% if func.getDomain(post.link) == "vimeo.com" %}
              <span id="vimeovid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvid">
                <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-vimeo" aria-hidden="true"></i></a></span>
              </span>
            {% endif %}
            {% if func.getDomain(post.link) == "vine.co" %}
              <span id="vinevid" data-vid="{{post.link}}" data-pid="{{post.pid}}" class="closedvine">
                <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-vine" aria-hidden="true"></i></a></span>
              </span>
            {% endif %}
            {% if func.isImage(post.link) %}
              <span id="openimg" data-img="{{post.link}}" data-pid="{{post.pid}}" class="closedimg">
                <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-image" aria-hidden="true"></i></a></span>
              </span>
            {% endif %}
          {% else %}
            <span id="opentextpost" data-pid="{{post.pid}}" class="closedtextpost">
              <span id="player{{post.pid}}"><a class="btn small"><i class="fa fa-comments" aria-hidden="true"></i></a></span>
            </span>
          {% endif %}
            <span>[Deleted]</span>
            <a href="{{url_for('view_post', sub=sub.name, pid=post.pid)}}#comments" class="btn small"><i class="fa fa-comment" aria-hidden="true"></i> Comments ({{post.comments.count()}})</a>
          </p>
        </div>
      {%endcache%}
    </article>
{% endfor %}

{% endblock %}
