{% extends "layout.html" %}
{% block title %}Subs | {{config.LEMA}}{% endblock %}
{% block navbar %}

{% if ptype == 'tagmatch' %}
  <li><a href="{{ url_for('view_multisub_new', subs=sublist) }}">View multi of these subs</a></li>
{% endif %}

<ul class="right">
  <li class="large">Subs</li>
</ul>
{% endblock %}

{% block sidebar %}
<div>
  <form class="pure-g search" action="{{ url_for('do.subs_title_search') }}" method="post">
    <div class="icon" data-icon="search"> </div>
    <input name="term" placeholder="Search sub..." type="search" class="pure-u-1">
  </form>
</div>
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
{% if not subs %}<h1 class="noshit">There are no subs here, yet.</h1>{% endif %}
<div id="center-container">
  <div class="subs content">
    <table class="sortable pure-table" >
      <thead>
        <tr>
          <th>Sub Name</th>
          <th>Created</th>
          <th>Subscribe</th>
          <th><span class="placeholder" title="Posts" data-icon="bulletlist"></span></th>
        </tr>
      </thead>
      <tbody>
        {% for sub in subs %}
        {% set subInfo = func.getSubData(sub.sid) %}
        <tr>
          <td  class="subsentry{% if current_user.has_subscribed(sub.name) %} subsubscribed{% endif %}{% if current_user.has_blocked(sub.sid) %} blocked{% endif %}" data-sid="{{sub.sid}}">
            <div class="subname" title="{{sub.title}}">
              {% if sub.nsfw  %}<span style="color:white;background:red">nsfw</span>{% endif %}
              <a href="{{url_for('view_sub', sub=sub.name)}}">{{sub.name}}</a>
            </div>
          </td>
          <td><time-ago datetime="{{subInfo['creation']}}Z"></time-ago></td>
          <td>
            <div role="group" class="pure-button-group" data-sid="{{sub.sid}}" style="display:inline-block;">

              {% if current_user.has_subscribed(sub.name) %}
                <button data-ac="unsubscribe" class="sub pure-button button-xsmall" style="display:inline-block; width: 8em;"><span class="sbm-icon" data-icon="check"></span>Subscribed</button>
              {%else%}
                <button data-ac="subscribe" class="unsub pure-button button-xsmall" style="display:inline-block; width: 8em;"><span class="sbm-icon" data-icon="add"></span>Subscribe</button>
              {%endif%}
            </div>
            <span style="margin-left: .3em;">{{subInfo.subs}}</span>

          </td>
          <td>{{func.getSubPostCount(sub)}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="col-12">
  {% if page > 1 %}
  <a href="{{url_for('view_subs', page=(page-1))}}" class="pure-button">prev</a>
  {% endif %}
  {% if subs|length == 50 %}
  <a href="{{url_for('view_subs', page=(page+1))}}" class="pure-button">next</a>
  {% endif %}
</div>
{% endblock %}
