{% extends "layout.html" %}
{% block title %}Subs | {{config.LEMA}}{% endblock %}
{% block navbar %}

{% if ptype == 'tagmatch' %}
  <li><a href="{{ url_for('view_multisub_new', subs=sublist) }}">View multi of these subs</a></li>
{% endif %}

<ul class="right">
  <li class="large">Subs</li>
</ul>
{% endblock %}

{% block sidebar %}
<div>
  <form action="{{ url_for('do.subs_title_search') }}" method="post">
    <span class="search">
        <span><i class="fa fa-search"></i></span>
        <input id="term" name="term" type="search" placeholder="Search...">
    </span>
  </form>
</div>
<span class="col-12"><hr></span>
{{ super() }}
<span class="col-12"><hr></span>
<div class="col-12">
  Current sub tags
</div>
{% set sidebartags = func.getSubTagsSidebar() %}
<div>
{% for tag in sidebartags %}
  <span class="sidetag"><a href="{{url_for('subs_tag_search', term=tag)}}">{{tag}}</a></span>
{% endfor %}
</div>
{% endblock %}

{% block content %}
{{ super() }}
{% if not subs %}<h1 class="noshit">There are no subs here, yet.</h1>{% endif %}
<div id="center-container">
  <div class="subs content">
    {% for sub in subs %}
        <article class="subsentry{% if current_user.has_subscribed(sub.sid) %} subsubscribed{% endif %}" data-sid="{{sub.sid}}">
          <div class="main">
            <a class="title" href="{{url_for('view_sub', sub=sub.name)}}">{{sub.name}}</a>
            <p class="author">{% if sub.nsfw  %}<span class="btn small" style="color:white;background:red">nsfw</span>{% endif %} {{sub.title}}</p>
            <p class="author">Created <time-ago datetime="{{func.getSubCreation(sub)}}Z"></time-ago></p>
            {% if func.getSubTagsList(sub) %}
              <p class="author">Tags:
                {% set tags = func.getSubTagsList(sub) %}
                {% for tag in tags %}
                 <a href="{{url_for('subs_tag_search', term=tag.value)}}" style="text-decoration: underline;">{{tag.value}}</a>
                {% endfor %}

              </p>
            {% endif %}
            <p class="container">
              <a class="btn small"><i class="fa fa-users" aria-hidden="true"></i> {{getSuscriberCount(sub)}}</a>
              {% if current_user.has_subscribed(sub.sid) %}
              <span id="subscribe" class="subscribed" data-sid="{{sub.sid}}"><a class="btn small">Subscribed</a></span>
              {% else %}
              <span id="subscribe" class="unsubscribed" data-sid="{{sub.sid}}"><a class="btn small">Subscribe</a></span>
              {% endif %}
              {% if current_user.has_blocked(sub.sid) %}
              <span id="block" class="blocked" data-sid="{{sub.sid}}"><a class="btn small"><i class="fa fa-check" aria-hidden="true"></i> Blocked</a></span>
              {% else %}
              <span id="block" class="unblocked" data-sid="{{sub.sid}}"><a class="btn small"><i class="fa fa-remove" aria-hidden="true"></i> Block</a></span>
              {% endif %}
            </p>
          </div>
        </article>
    {% endfor %}
 </div>
</div>
<div class="col-12">
  {% if page > 1 %}
  <a href="{{url_for('view_subs', page=(page-1))}}" class="btn"><i class="fa fa-chevron-left" aria-hidden="true"></i> prev</a>
  {% endif %}
  {% if subs|length == 30 %}
  <a href="{{url_for('view_subs', page=(page+1))}}" class="btn">next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  {% endif %}
</div>
{% endblock %}
{%block pagefoot%}
{%endblock%}
