{% extends "layout.html" %}
{% block title %}Throat: Testing shit.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript"></script>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <form method="POST" action="{{url_for('do_register')}}">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username(size=20) }} <br/>
        {{ form.email.label }} {{ form.email(size=20) }} <br/>
        {{ form.password.label }} {{ form.password(size=20) }} <br/>
        {{ form.confirm.label }} {{ form.confirm(size=20) }} <br/>
        {{ form.accept_tos.label }} {{ form.accept_tos(size=20) }} <br/>
        <input type="submit" value="Go">
    </form>
{% endblock %}
