{% extends "layout.html" %}
{% block title %}Podmienky používania - {{config.site.lema}}{% endblock %}

{% block content %}
{{ super() }}
  <div class="content">
    <h2>Podmienky používania</h2>
    <ul>
      <li>Používaním webu čekni.to používatelia súhlasia s nasledujúcimi podmienkami a budú ich dodržiavať. Váš účet môže byť pozastavený na nezverejnený čas alebo môže byť úplne odstránený, ak nebude dodržaná nasledujúca dohoda. Účty môžu byť navyše pozastavené z dôvodov neuvedených v tejto dohode.</li>
      <li>E-mailová adresa poskytnutá webu čekni.to pri vytvorení účtu sa použije iba na registráciu účtu a prípadný reset hesla, a nebude zdieľaná so žiadnou treťou stranou.</li>
      <li>Všetci používatelia musia mať najmenej 13 rokov.</li>
      <li>Porušenie autorských práv, alebo osobných či vlastníckych práv akejkoľvek osoby alebo subjektu je zakázané a obsah môže byť odstránený na základe oprávnenej žiadosti dotknutej strany. Takýto obsah nie je schválený naším webom, a ani nie sme zodpovední za akýkoľvek obsah odoslaný používateľom.</li>
      <li>Súhlasíte s tým, že nás, ako aj poskytovateľov služieb tretích strán zbavujete nároku na náhradu škôd akéhokoľvek druhu, ktoré by Vám vyplynuli z vášho používania webu čekni.to.</li>
      <li>Nie sme zodpovední za konanie alebo obsah z iných stránok, ktoré sú linkované na našom webe. Súhlasíte, že nesiete výlučnú zodpovednosť za zverejnenie takýchto odkazov.</li>
      <li>Používatelia sú výhradne zodpovední za dodržanie všetkých zákonov, ktoré môžu porušiť sledovaním obsahu na našom webe. To sa okrem iného týka: používateľov mladších ako 18 rokov, ktorí sa rozhodnú zobraziť obsah "NSFW" (nevhodné/pre dospelých) a / alebo používateľov, ktorí si prezerajú obsah, ktorý je nezákonný v ich vlastnej krajine. Ak sa rozhodnete zobrazovať náš obsah označený ako "NSFW", musíte mať 18 alebo viac rokov.</li>
      <li>Uverejňovanie obsahu akéhokoľvek druhu, ktorý podnecuje diskrimináciu, nenávisť alebo násilie voči osobe alebo skupine osôb z dôvodu ich príslušnosti k rase, náboženstvu alebo národu, je prísne zakázané.</li>
      <li>Používanie nášho webu ako miesta na diskutovanie, plánovanie alebo zapojenie sa do akejkoľvek akcie, ktorá by ohrozila bezpečnosť, neoprávnené zásahy do systémových prostriedkov alebo účtov v počítačoch na našom alebo na akomkoľvek inom webe, je prísne zakázané.</li>
      <li>Hazard je zakázaný.</li>
      <li>Používatelia súhlasia s tým, že nebudú zverejňovať citlivé informácie týkajúce sa identít iných používateľov v reálnom svete bez ich výslovného súhlasu.</li>
      <li>Používatelia sú výlučne zodpovední za svoje osobné údaje, ak sa ich rozhodnú zdieľať na našom webe.</li>
      <li>Obsah považovaný za spam bude odstránený a ďalšie zverejňovanie takéhoto obsahu môže mať za následok pozastavenie účtu.</li>
      <li>Moderátori nie sú súčasťou tímu vývojárov a administrátorov, a z akéhokoľvek dôvodu môžu byť kedykoľvek z tejto funkcie odstránení.</li>
      <li>Moderátori môžu vytvoriť vlastné pravidlá, pokiaľ neporušujú podmienky tejto dohody. Tým, že sa stanete moderátorom predvolenej skupiny, súhlasíte, že budete zastupovať najlepšie záujmy komunity, ktorú moderujete. Ak tak neurobíte, môže to viesť k odstráneniu z funkcie moderátora.</li>
    </ul>
  </div>
{% endblock %}
