{% extends "layout.html" %}
{% block title %}Terms of Service - {{config.LEMA}}{% endblock %}

{% block content %}
{{ super() }}
  <div class="content">
    <h1>Terms of service</h1>
    <ul>
      <li>By using Phuks.co, users will agree to and comply with the following conditions. Your account may be banned for an undisclosed amount of time, or removed completely if the following agreement is not adhered to. Additionally, accounts may be suspended for reasons not listed in this agreement.</li>
      <li>Optional email addresses provided to Phuks upon account creation will be used for account registration, and will not be shared with any other party.</li>
      <li>All users must be at least 13 years of age.</li>
      <li>Infringement of copyright or personal or proprietary rights of any person or entity is prohibited, and the content may be removed upon a legitimate DMCA request. Such content is not endorsed by Phuks.co, nor is Phuks.co liable for any user submitted content.</li>
      <li>You agree to release us, our affiliates, and third-party service providers from claims, demands and damages of any kind, resulting from your use of Phuks.co.</li>
      <li>We are not responsible for the actions or content of other sites that are linked on Phuks.co, and you agree to be held solely liable for the posting of such links.</li>
      <li>Users are solely responsible for any laws they may break by viewing content on Phuks.co. This includes, but is not necessarily limited to: Users under the age of 18 opting in to view NSFW (adult) content, and/or users who view content that is illegal within their own country. To opt in to NSFW content, you must be 18 or older.</li>
      <li>All images, videos or depictions of any kind that show sexually explicit or suggestive content involving children (whether virtual or real) is strictly prohibited. Additionally, any other depiction or form of media that shows sexually explicit content which is illegal in the United States (such as bestiality) is prohibited. Additionally, content or communications seeking to solicit, lure or entice minors into sexual activity or lewd behavior is also strictly prohibited.</li>
      <li>Posting content of any kind that incites discrimination, hate or violence towards one person or a group of people because of their belonging to a race, religion or nation is strictly prohibited.</li>
      <li>Using Phuks as a place to discuss, plan or engage in any action that would compromise security, tamper with system resources or accounts on computers at Phuks, or any other site, is strictly prohibited.</li>
      <li>Gambling is prohibited.</li>
      <li>Users agree not to post sensitive information relating to other user's real world identities without their express consent. (No doxxing)</li>
      <li>Users are solely responsible for their own personal information if they choose to share it on the site.</li>
      <li>Content deemed to be spam will be removed, and continuous posting of such content may result in a ban.</li>
      <li>Moderators are not a part of site staff, and may be removed at any time, for any reason.</li>
      <li>Moderators may create their own rules as long as they do not violate the terms of this agreement. By becoming a moderator of a default sub, you agree to represent the best interests of the community you moderate. Continuous failure to do so may result in your removal as a moderator.</li>
    </ul>
  </div>

<p>Last update: Mon Jan 23 00:16:18 UTC 2017</p>
{% endblock %}
