{% extends "layout.html" %}
{% block title %}Uploads | {{config.site.lema}}{% endblock %}

{% block sidebar %}
{{ super() }}
<a href="{{url_for('user.view', user=current_user.name)}}" class="sbm-post pure-button">{{current_user.name}}</a>
<a href="{{url_for('user.view_user_posts', user=current_user.name)}}" class="sbm-post pure-button">Moje príspevky</a>
<a href="{{url_for('user.view_user_comments', user=current_user.name)}}" class="sbm-post pure-button">Moje komentáre</a>
<a href="{{url_for('user.view_user_uploads')}}" class="sbm-post pure-button">Moje uploady</a>
<a href="{{url_for('user.view_user_savedposts', user=current_user.name)}}" class="sbm-post pure-button">Moje uložené príspevky</a>
{% endblock %}

{% block content %}
{{ super() }}
{% if not uploads %}<h3 class="noshit">Nenašli sa žiadne uploady.</h3>{% endif %}
<div id="center-container">
  <div class="uploads content">
      {% for item in uploads %}
        <div class="uploaditem">
          <div class="uploadthumb">
            {% if item.thumbnail == '' %}
              <span class="placeholder" data-icon="link"></span>
            {% elif item.thumbnail == 'deferred' %}
              <span class="placeholder deferred" data-icon="link"
                    data-deferred="UserUploads-{{ item.xid }}"></span>
            {% else %}
              <img class="lazy" src="{{ url_for('static', filename='img/1x1.gif') }}"
                   data-src="{{ thumbnail_url(item.thumbnail) }}"/>
            {% endif %}
          </div>
          <div class="uploadlinks">
            <div class="uploadlink"><a href="{{url_for('site.view_post_inbox', pid=item.pid_id)}}">Príspevok</a></div>
            <div class="uploadlink"><a href="{{file_url(item.fileid)}}">Link</a></div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>
<div class="col-12">
  {% if page > 1 %}
  <a href="{{url_for('user.view_user_uploads', page=(page-1))}}" class="pure-button">Staršie</a>
  {% endif %}
  {% if subs|length == 30 %}
  <a href="{{url_for('user.view_user_uploads', page=(page+1))}}" class="pure-button">Novšie</a>
  {% endif %}
</div>
{% endblock %}
