{% extends "layout.html" %}
{% block title %}Posts from /u/{{user.name}} | {{config.LEMA}}{% endblock %}

{% block sidebar %}
{{ super() }}
<a href="{{url_for('view_user', user=user.name)}}" class="sbm-post pure-button">{{user.name}}</a>
<a href="{{url_for('view_user_posts', user=user.name)}}" class="sbm-post pure-button">View posts</a>
<a href="{{url_for('view_user_comments', user=user.name)}}" class="sbm-post pure-button">View comments</a>
{% if user.uid == current_user.uid %}
  <a href="{{url_for('view_user_savedposts', user=user.name)}}" class="sbm-post pure-button">View saved posts</a>
{% endif %}
{% endblock %}

{% block content %}
{{ super() }}
{% if sort_type == 'view_user_posts' %}
  <h3>Recent posts</h3>
{% else %}
  <h3>Saved posts</h3>
{% endif %}
{% if not posts %}
  <h3>There are no posts here, yet.</h3>
{% endif %}

<div class="alldaposts">
{% for post in posts %}
  {% include "indexpost.html" %}
{%endfor%}
</div>

{% if page > 1 %}
  <a href="{{url_for(sort_type, page=(page-1), user=user.name)}}" class="pure-button">prev</a>
{% endif %}
{% if posts|length == 25 %}
  <a href="{{url_for(sort_type, page=(page+1), user=user.name)}}" class="pure-button">next</a>
{% endif %}
{% endblock %}
