{% extends "layout.html" %}
{% block title %}Comments made by /u/{{user.name}} | {{config.LEMA}}{% endblock %}


{% block sidebar %}
{{ super() }}
<a href="{{url_for('view_user', user=user.name)}}" class="sbm-post pure-button">{{user.name}}</a>
<a href="{{url_for('view_user_posts', user=user.name)}}" class="sbm-post pure-button">View posts</a>
<a href="{{url_for('view_user_comments', user=user.name)}}" class="sbm-post pure-button">View comments</a>
{% if user.uid == session['user_id'] %}
  <a href="{{url_for('view_user_savedposts', user=user.name)}}" class="sbm-post pure-button">View saved posts</a>
{% endif %}
{% endblock %}

{% block content %}
{{ super() }}
<h3>Recent comments</h3>
  <div class="user-activity col-12">
    <div class="recent">
      <ul class="rpost">
        {% if comments|length < 1 %}
        <p>
          This user has not commented on anything, yet
        </p>
        {% else %}
        {% for comment in comments if comment.status != 1 %}
        <li>
          <div class="usercomments data">
            <p><a class="title" href="{{ url_for('view_post', sub=db.get_sub_from_pid(comment.pid).name, pid=comment.pid) }}">{{db.get_post_from_pid(comment.pid).title}}</a></p>
            <p> <span class="comment"> {{markdown(comment.content)|safe}}</span></p>
            <div class="postbar">
              <a href="{{ url_for('view_perm', sub=db.get_sub_from_pid(comment.pid).name, pid=comment.pid, cid=comment.cid) }}" class="btn small">
                <i class="fa fa-link" aria-hidden="true"></i> permalink
              </a>
              (+{{func.get_comment_upcount(comment.cid)}} | -{{func.get_comment_downcount(comment.cid)}}) Posted <time-ago datetime="{{comment.time.isoformat()}}Z"></time-ago> in
              <a href="{{ url_for('view_sub', sub=db.get_sub_from_pid(comment.pid).name) }}">/s/{{db.get_sub_from_pid(comment.pid).name}}</a>
            </div>
          </div>
        </li>
      {% endfor %}
      {% endif %}
      </ul>
    </div>

    {% if page > 1 %}
    <a href="{{url_for('view_user_comments', user=user.name, page=(page-1))}}" class="btn"><i class="fa fa-chevron-left" aria-hidden="true"></i> prev</a>
    {% endif %}
    {% if comments|length == 20 %}
    <a href="{{url_for('view_user_comments', user=user.name, page=(page+1))}}" class="btn">next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    {% endif %}

  </div>



{% endblock %}
