{% extends "layout.html" %}
{% block title %}/u/{{user.name}} | {{config.LEMA}}{% endblock %}
{% block navbar %}
<ul class="left">
  <li><a href="{{url_for('view_user', user=user.name)}}">{{user.name}}</a></li>
  <li><a href="{{url_for('view_user_posts', user=user.name)}}">Posts</a></li>
  <li><a href="{{url_for('view_user_comments', user=user.name)}}">Comments</a></li>
</ul>
{% endblock %}

{% block sidebar %}
{{ super() }}
<hr/>
<div class="row buttons">
  {% if user.uid == session['user_id'] or current_user.is_admin()%}
  <div class="col-12">
    <a href="{{url_for('edit_user', user=user.name)}}" class="btn btn-orange edit-user" style="width:100%;">Edit user info</a>
  </div>
  {% endif %}
  <div class="col-12">
    <a href="#msg-form" class="btn btn-orange send-message" style="width:100%;">Send a Message to {{user.name}}</a>
  </div>
</div>
<div class="col-12">
  <div style="width:100%;hight:100%;">
    <div class="subscriptions btn btn-white" style="width:100%">Subscriptions</div><br>
    <div id="SubscriptionsList" class="btn btn-blue" style="display:none; hight:100%;width:100%" >
            <li>subverse uno</li>
            <li>subverse dos</li>
    </div>
  </div>
</div>
<p>Registered <time-ago datetime="{{ user.joindate.isoformat() }}"></time-ago></p>
{% endblock %}

{% block content %}
{{ super() }}
  <h1 class="noshit">{{user.name}}</h1>
    <div class="user-activity col-10">
      <p class="joindate">User has made {{pcount}} posts and {{ccount}} comments.</p>
      {# TODO user stats #}
      <div>
        <h3>Badges:</h3>
        <ul id="userBadges" style="color: darkcyan;">
          {% if user.name == 'v' %}<li>\o/ Cheerleader</li>{% endif %}
          {% for badge in badges if badges|length > 0 %}
          <li title="{{badge.getBadgeText}}"><i class="fa {{badge.getBadgeClass}} fa-2x"></i> {{badge.getBadgeName}}</li>
          {% else %}
          <li>none</li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h3>Owns:</h3>
        <ul style="color: darkcyan;">
          {% for own in owns if owns|length > 0 %}
          <li><a href="{{url_for('view_sub', sub=own.getSubName)}}">{{own.getSubName}}</a></li>
          {% else %}
          <li>none</li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h3>Mods:</h3>
        <ul style="color: darkcyan;">
          {% for mod in mods if mods|length > 0 %}
          <li><a href="{{url_for('view_sub', sub=mod.getSubName)}}">{{mod.getSubName}}</a></li>
          {% else %}
          <li>none</li>
          {% endfor %}
        </ul>
      </div>

    </div>
    <div class="image col-2">
      <p><a href="#"><img src="{{url_for('static', filename='img/textpost.png')}}" alt="User Img"/></a></p>
    </div>

<form id="msg-form" data-user="{{user.uid}}" class="mfp-hide white-popup-block">
  {{msgform.csrf_token}}
  <h1>Submit a user message</h1>
  <p class="subject">{{msgform.subject(placeholder=msgform.subject.label.text, required=True, autofocus=True)}}</p>
  <p class="content">{{msgform.content(placeholder="Write your message content here. Styling with Markdown format is supported.")}}</p>
  <div class="alert div-error">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p></p>
  </div>
  <p><button type="submit" id="msg-btnsubmit">Send Message</button></p>
</form>

{% endblock %}
