{% extends "layout.html" %}
{% block title %}Comments made by /u/{{user.name}} | {{config.site.lema}}{% endblock %}


{% block sidebar %}
{{ super() }}
<a href="{{url_for('user.view', user=user.name)}}" class="sbm-post pure-button">{{user.name}}</a>
<a href="{{url_for('user.view_user_posts', user=user.name)}}" class="sbm-post pure-button">Príspevky používateľa</a>
<a href="{{url_for('user.view_user_comments', user=user.name)}}" class="sbm-post pure-button">Komentáre používateľa</a>
{% if user.uid == current_user.uid %}
  {% if current_user.canupload %}
    <a href="{{url_for('user.view_user_uploads')}}" class="sbm-post pure-button">Uploady používateľa</a>
  {% endif %}
  <a href="{{url_for('user.view_user_savedposts', user=user.name)}}" class="sbm-post pure-button">Uložené príspevky</a>
{% endif %}
{% endblock %}

{% block content %}
{{ super() }}
{% if not current_user.is_authenticated and config.site.block_anon_stalking %}
    <div>Komentáre používateľa vidia iba prihlásení používatelia.</div>
{% else %}
    <div id="center-container">
      <div class="inbox content">
        <h3>Posledné komentáre</h3>
        <div class="recent">
            {% if comments|length < 1 %}
            <p>
              Používateľ nemá žiadne komentáre
            </p>
            {% else %}
            {% for comment in comments %}
            <article id="{{comment.cid}}" data-cid="{{comment.cid}}" class="text-post no-padding comment usercomments {% if comment.status %}deletedcomment{% endif %}">
              <div class="commtitle">
                <span class="title"><a href="{{ url_for('sub.view_post', sub=comment.sub, pid=comment.pid) }}">
                  {% if comment.status == 1 %}
                    {{_('[Deleted by User]')}}
                  {% elif comment.status == 2 %}
                    {{_('[Deleted by Mod or Admin]')}}
                  {% endif %}
                  <span class="{{comment.blur}}">{{comment.title}}</span>
                  {% if comment.sub_nsfw or comment.nsfw %}
                    <div class="nsfw" alt="Not safe for work">{{_('NSFW')}}</div>
                  {%endif%}
                </a></span>
                in <a href="{{ url_for('sub.view_sub', sub=comment.sub) }}">{{comment.sub}}</a>
              </div>
              <div class="commentrow {%if comment.cid == highlight %}highlight{%endif%}" id="comment-{{comment.cid}}">
                <div class="commblock">
                  <div class="commenthead">
                      <a href="{{ url_for('user.view', user=user.name) }}" class="poster">{{user.name}}</a> -
                      <b>skóre: <span class="cscore">{{comment.score}}</span></b>
                      <span class="time">
                         <time-ago datetime="{{comment.time.isoformat()}}Z"></time-ago>
                      </span>
                    {% if comment.lastedit %}
                      <span class="time edited">
                        *(upravené <time-ago datetime="{{comment.lastedit.isoformat()}}Z"></time-ago>)
                      </span>
                    {% endif %}
                  </div>
                  <div class="content {{comment.blur}}" id="content-{{comment.cid}}">
                    {{markdown(comment.content)|safe}}
                  </div>
                    <div hidden id="sauce-{{comment.cid}}">{{comment.content}}</div>
                  <ul class="bottombar links">
                    <!-- TODO needs peewee <li><a href="{# url_for('sub.view_perm', sub=sub.name, cid=comment.cid, pid=post.pid) #}">permalink</a></li>-->
                    <li><a href="{{url_for('sub.view_perm', sub=comment.sub, pid=comment.pid, cid=comment.cid)}}">permalink</a></li>
                    {%if current_user.is_authenticated%}
                      {%if not postmeta[comment.pid].get('lock-comments') and not comment.archived and comment.status not in [1, 2] and comment.post_deleted == 0%}
                        <li><a class="reply-comment" data-pid="{{comment.pid}}" data-to="{{comment.cid}}">reagovať</a></li>
                        {% if comment.uid == current_user.uid %}
                          <li><a class="edit-comment" data-cid="{{comment.cid}}">upraviť</a></li>
                        {% endif %}
                      {%endif%}
                      {% if comment.uid == current_user.uid or current_user.is_admin() and comment.status not in [1, 2] %}
                        <li><a class="delete-comment" data-cid="{{comment.cid}}">vymazať</a></li>
                      {% endif %}
                    {%endif%}
                    <li><a class="comment-source" data-cid="{{comment.cid}}">formát</a></li>
                  </ul>
                </div>
              </div>
            </article>
          {% endfor %}
          {% endif %}
        </div>

        {% if page > 1 %}
        <a href="{{url_for('user.view_user_comments', user=user.name, page=(page-1))}}" class="pure-button">Novšie</a>
        {% endif %}
        {% if comments|length == 20 %}
        <a href="{{url_for('user.view_user_comments', user=user.name, page=(page+1))}}" class="pure-button">Staršie</a>
        {% endif %}

      </div>
    </div>
{% endif %}
{% endblock %}
