{% extends "layout.html" %}
{% block title %}/u/{{user.name}} | {{config.LEMA}}{% endblock %}
{% block navbar %}
<ul class="left">
  <li><a href="{{url_for('view_user', user=user.name)}}">{{user.name}}</a></li>
  <li><a href="{{url_for('view_user_posts', user=user.name)}}">Posts</a></li>
  <li><a href="{{url_for('view_user_comments', user=user.name)}}">Comments</a></li>
</ul>
{% endblock %}

{% block sidebar %}
{{ super() }}
<hr/>
<div class="row buttons">
  {% if user.uid == session['user_id'] or current_user.is_admin()%}
  <div class="col-12">
    <a href="{{url_for('edit_user', user=user.name)}}" class="btn btn-orange edit-user" style="width:100%;">Edit user info</a>
  </div>
  {% endif %}
  <div class="col-12">
    <a href="#msg-form" class="btn btn-orange send-message" style="width:100%;">Send a Message to {{user.name}}</a>
  </div>
</div>
<div>
  <h3>Badges:</h3>
  <ul id="userBadges" style="color: darkcyan;">
    {% if user.name == 'v' %}<li>\o/ Cheerleader</li>{% endif %}
    {% for badge in badges if badges|length > 0 %}
    <li title="{{badge.getBadgeText}}"><i class="fa {{badge.getBadgeClass}}"></i> {{badge.getBadgeName}}</li>
    {% else %}
    <li>none</li>
    {% endfor %}
  </ul>
</div>
<hr>
<div>
  <h3>Owns:</h3>
  <ul style="color: darkcyan;">
    {% for own in owns if owns|length > 0 %}
    <li><a href="{{url_for('view_sub', sub=own.getSubName)}}">{{own.getSubName}}</a></li>
    {% else %}
    <li>none</li>
    {% endfor %}
  </ul>
</div>
<hr>
<div>
  <h3>Mods:</h3>
  <ul style="color: darkcyan;">
    {% for mod in mods if mods|length > 0 %}
    <li><a href="{{url_for('view_sub', sub=mod.getSubName)}}">{{mod.getSubName}}</a></li>
    {% else %}
    <li>none</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block content %}
{{ super() }}
  <h1 class="noshit"><a href="{{url_for('view_user', user=user.name)}}">{{user.name}}</a></h1>
    <div class="user-activity col-12">
      <div class="recent">
        <h3>Recent Posts</h3>
        <ul class="rpost">
          {% if pcount < 1 %}
          <p>
            This user has not posted anything, yet
          </p>
          {% else %}
          <p>
            This user has {{pcount}} posts
          </p>
          {% for post in user.posts[::-1][:20] if not getMetadata(post, 'deleted') %}
          <li>
            <div class="userposts data">
              <p>({{post.voteCount()}}) <a class="title" href="{{url_for('view_post', sub=post.sub.name, pid=post.pid)}}">{{ post.title }}</a></p>
              <div class="postbar">
                <i class="fa fa-clock-o" aria-hidden="true"></i> <time-ago datetime="{{post.posted.isoformat()}}Z"></time-ago> in
                <a href="{{url_for('view_sub', sub=post.sub.name)}}">/s/{{post.sub.name}}</a>
                with {{post.getCommentCount()}} <i class="fa fa-comments" aria-hidden="true"></i> comments
            </div>
          </li>
          {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>

    <form id="msg-form" action="{{url_for('do.create_sendmsg')}}" data-redir="{{url_for('inbox_sort')}}" class="ajaxform mfp-hide white-popup-block">
      {{msgform.csrf_token}}
      {{msgform.to(value=user.uid)}}
      <h1>Submit a user message</h1>
      <p class="subject">{{msgform.subject(placeholder=msgform.subject.label.text, required=True, autofocus=True)}}</p>
      <p class="content">{{msgform.content(placeholder="Write your post content here. Styling with Markdown format is supported.", rows="10", **{'data-provide' :"markdown"})}}</p>
      <div class="alert div-error">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p></p>
      </div>
      <p><button type="submit" id="msg-btnsubmit" class="btn btn-blue" data-prog="Sending...">Send Message</button></p>
    </form>

{% endblock %}
