{% extends "layout.html" %}
{% block title %}/u/{{user.name}} | {{config.LEMA}}{% endblock %}
{% block navbar %}
<ul class="left">
  <li><a href="{{url_for('view_user', user=user.name)}}">{{user.name}}</a></li>
  {% if not user.status == 10 %}
  <li><a href="{{url_for('view_user_posts', user=user.name)}}">Posts</a></li>
  <li><a href="{{url_for('view_user_comments', user=user.name)}}">Comments</a></li>
    {% if user.uid == session['user_id'] %}
    <li><a href="{{url_for('view_user_savedposts', user=user.name)}}">Saved</a></li>
    {% endif %}
  {% endif %}
</ul>
{% endblock %}

{% block sidebar %}
{{ super() }}
<hr>
{% if not user.status == 10 %}
<div class="pmessage">
  {% if user.uid == session['user_id'] or current_user.is_admin() %}
    <a href="{{url_for('edit_user', user=user.name)}}" class="sbm-post pure-button">Edit user info</a>
    <hr>
  {% endif %}
    <a href="#msg-form" data-replyto='{{user.name}}' data-replytitle='' class="formpopmsg sbm-post pure-button">Send a message to {{user.name}}</a>
    <a href="{{url_for('view_user_comments', user=user.name)}}" class="sbm-post pure-button">View comments</a>
    <a href="{{url_for('view_user_posts', user=user.name)}}" class="sbm-post pure-button">View submissions</a>
</div>
{% endif %}
<p>Registered <time-ago datetime="{{ user.joindate.isoformat() }}Z"></time-ago></p>
{% endblock %}

{% block content %}
{{ super() }}
<div id="center-container">
  <div class="content">
    <div class="row">
      <div><h1 style="margin-right: 0px; margin-left:0px;" class="noshit col-11">{{user.name}}</h1></div>
      <div class="col-1 admin-page-form">
        <div class="row noshit">Level</div>
        <div class="row"><h2 class="noshit" title="{{func.get_user_level(user.uid)[1]}}XP">{{func.get_user_level(user.uid)[0]}}</h2></div>
      </div>
    </div>
    {% if not user.status == 10 %}
      <div class="user-activity col-6">
        <p class="joindate">User has made {{pcount}} posts and {{ccount}} comments.</p>
        {# TODO user stats #}
        <div>
          <h3>Basic Stats</h3>
          <ul id="userStats">
            <li>{{func.get_user_level(user.uid)[1]}} xp</li>
            <li>{{user.score}} phuks taken</li>
              <li title="Post Score"> - <i class="fa fa-list" aria-hidden="true"></i> (+{{func.get_user_post_score_counts(user)[1]}}|-{{func.get_user_post_score_counts(user)[2]}})</li>
              <li title="Comment Score"> - <i class="fa fa-comments" aria-hidden="true"></i> (+{{func.get_user_post_score_counts(user)[3]}}|-{{func.get_user_post_score_counts(user)[4]}})</li>
            <li>{{db.get_user_post_voting(user.uid)[0]}} phuks given (+{{db.get_user_post_voting(user.uid)[1]}}|-{{db.get_user_post_voting(user.uid)[2]}})</li>
          </ul>
        </div>
        <div>
          <h3>Badges</h3>
          <ul id="userBadges" style="color: darkcyan;">
            {% if user.name == 'v' %}<li>\o/ Cheerleader</li>{% endif %}
            {% for badge in badges if badges|length > 0 %}
            <li title="{{badge.text}}, {{badge.value}}XP"><i class="fa {{badge.badge}} fa-2x"></i> {{badge.name}}</li>
            {% else %}
            <li>none</li>
            {% endfor %}
          </ul>
        </div>
        <div>
          <h3>Owns</h3>
          <ul style="color: darkcyan;">
            {% for own in owns if owns|length > 0 %}
            <li><a href="{{url_for('view_sub', sub=own.name)}}">{{own.name}}</a></li>
            {% else %}
            <li>none</li>
            {% endfor %}
          </ul>
        </div>
        <div>
          <h3>Mods</h3>
          <ul style="color: darkcyan;">
            {% for mod in mods if mods|length > 0 %}
            <li><a href="{{url_for('view_sub', sub=mod.name)}}">{{mod.name}}</a></li>
            {% else %}
            <li>none</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div id="formpop" style="display:none;">
        <div class="modal-content">
          <span class="closemsg">&times;</span>
          <form data-reset="true" id="msg-form" action="{{url_for('do.create_sendmsg')}}" data-redir="{{url_for('inbox_sort')}}" class="pure-form pure-form-aligned ajaxform">
            {% set msgform = form.CreateUserMessageForm()%}
            {{msgform.csrf_token}}
            <h3>Send user message</h3>
            <fieldset>
              <div class="pure-control-group">
                <label for="to">User</label>
                {{msgform.to(placeholder=msgform.to.label.text, required=True)}}
              </div>
              <div class="pure-control-group">
                <label for="subject">Subject</label>
                {{msgform.subject(placeholder=msgform.subject.label.text, required=True)}}
              </div>
              <div class="pure-control-group markdown-editor">
                <label for="content">Content</label>
                {{msgform.content(placeholder="Styling with Markdown format is supported.", rows="10", **{'data-provide' :"markdown"})}}
              </div>
              <div class="pure-controls">
                {% if error %}
                  <div class="error">{{error}}</div>
                {%endif%}
                <button type="submit" id="msg-btnsubmit" class="pure-button pure-button-primary" data-prog="Sending...">Send Message</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
  {% endif %}
</div>
</div>
{% endblock %}
