{% extends "layout.html" %}
{% block title %}{{config.LEMA}}{% endblock %}

{% block content %}
{{ super() }}
<h1>User guide</h1>
<p>Overview: Phuks is a link and conversation aggregator. It currently using up and down voting to cause items appear in the hot pages as long as people continue to vote on them. New sorts will show all posts no matter the votes that have been cast.</p>

<p>Users: Every account is required to have a username to interact by posting, commenting, and voting. Email addresses are only used for the password recovery process. All passwords are hashed and not viewable by anyone. Emails and basic user settings may be accessable by certain admins involved with securing and maintaining user accounts.</p>

<p>User Settings:
<ul>
  <li>Open external links in a new window: Opens Post links in a new tab or window depending on your local device.</li>
  <li>Disable custom sub styles: Will disbale custom CSS stylesheets from the subs.</li>
  <li>Show NSFW content: Will allow Not Safe For Work content to be seen. NSFW content can include pornography, violence, or gore.</li>
  <li>Enable experimental features: Labrat mode allows you to see things that the devs are testing before they are released officially to the site.</li>
  <li>Disable infinite scroll: Infinite mode will load the next page when you scroll to the bottom of a page without needing to click the Next Page button.</li>
  <li>Delete Option: Allows you to delete your account. All posts and comments will not show up in sorts. If someone has the direct link to a post, it will show [Deleted] as your name. </li>
</ul>
</p>

<p>Subs: A sub is a nickname for a group of posts that are under that sub and having to do with a common theme.</p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>
<p></p>
<p></p>
<p></p>
<p></p>


{% endblock %}
