{% extends "layout.html" %}
{% block title %}/u/{{user.name}} | {{config.LEMA}}{% endblock %}

{% block sidebar %}
{{ super() }}
<hr>
{% if not user.status == 10 %}
  {% if user.uid == session['user_id'] or current_user.is_admin() %}
    <a href="{{url_for('edit_user', user=user.name)}}" class="sbm-post pure-button">Edit user info</a>
    <hr>
  {% endif %}
  <a href="{{url_for('view_user', user=user.name)}}" class="sbm-post pure-button">{{user.name}}</a>
  <a href="{{url_for('view_user_posts', user=user.name)}}" class="sbm-post pure-button">View posts</a>
  <a href="{{url_for('view_user_comments', user=user.name)}}" class="sbm-post pure-button">View comments</a>
  {% if user.uid == session['user_id'] %}
    <a href="{{url_for('view_user_savedposts', user=user.name)}}" class="sbm-post pure-button">View saved posts</a>
  {% endif %}
  <hr>
  <div class="pmessage">
    <a href="#msg-form" data-replyto='{{user.name}}' data-replytitle='' class="formpopmsg sbm-post pure-button">
      Send a message to user</a>
  </div>
{% endif %}
<p>Registered <time-ago datetime="{{ user.joindate.isoformat() }}Z"></time-ago></p>
{% endblock %}

{% block content %}
{{ super() }}
<div id="center-container">
  <div class="content">
    {% if user.status == 0 %}
      <div class="uprofile-top">
        <h1 style="margin-right: 0px; margin-left:0px;" class="noshit">{{user.name}}</h1>
        <div class="pblock level">
          <div class="uprofile-level-box">
            <div class="uprofile-level">
              {{func.get_user_level(user.uid)[0]}}
            </div>
          </div>
        </div>
        <div class="pblock">
          <div class="statdiv">
            <div class="ucount"><a href="{{url_for('view_user_posts', user=user.name)}}">{{pcount}}</a></div>
            <div>posts</div>
          </div>
          <div class="statdiv">
            <div class="ucount"><a href="{{url_for('view_user_comments', user=user.name)}}">{{ccount}}</a></div>
            <div>comments</div>
          </div>
        </div>
        <div class="pblock">
          <div class="statdiv">
            <abbr class="ucount" title="+{{func.getUserGivenScore(user.uid)[0]}}, -{{func.getUserGivenScore(user.uid)[1]}}">{{func.getUserGivenScore(user.uid)[2]}}</abbr>
            <div>Phuks given</div>
          </div>
          <div class="statdiv">
            <div class="ucount">{{user.score}}</div>
            <div>Total score</div>
          </div>
        </div>
      </div>
      <div>
        {% if badges|length > 0 %}
        <div class="userrow">
          <h3>Badges</h3>
          <ul id="userBadges">
            {% for badge in badges %}
            <li class="profilebadge" title="{{badge.name}}{%if badge.alt != ''%} - {{badge.alt}}{%endif%}">{{badge.icon|safe}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <div class="userrow">
          {% if owns|length > 0 %}
          <div class="pblock">
            <h3>Owns</h3>
            <ul>
              {% for own in owns %}
              <li><a href="{{url_for('view_sub', sub=own.name)}}">{{own.name}}</a></li>
              {%endfor%}
            </ul>
          </div>
          {% endif %}
          {% if mods|length > 0 %}
          <div class="pblock">
            <h3>Mods</h3>
            <ul>
              {% for mod in mods %}
              <li><a href="{{url_for('view_sub', sub=mod.name)}}">{{mod.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        {% if habit|length > 0 %}
        <div class="userrow">
          <h3>Posting habits</h3>
          <ul id="userHabit">
            {% for i in habit %}
              <li class="habitentry"><a href="{{url_for('view_sub', sub=db.get_sub_from_sid(i[0]).name)}}">{{db.get_sub_from_sid(i[0]).name}}</a> - {{i[1]}}</li>
            {% endfor %}
          </ul>
        </div>
        {%endif%}
      </div>

      <div id="formpop" style="display:none;">
        <div class="modal-content">
          <span class="closepopmsg">&times;</span>
          <form data-reset="true" id="msg-form" action="{{url_for('do.create_sendmsg')}}" data-redir="{{url_for('inbox_sort')}}" class="pure-form pure-form-aligned ajaxform">
            {% set msgform = form.CreateUserMessageForm()%}
            {{msgform.csrf_token}}
            <h3>Send user message</h3>
            <fieldset>
              <div id="lto" class="pure-control-group" style="display:none">
                <label for="to">User</label>
                {{msgform.to(placeholder=msgform.to.label.text, required=True, value=user.name)}}
              </div>
              <div class="pure-control-group">
                <label for="subject">Subject</label>
                {{msgform.subject(placeholder=msgform.subject.label.text, required=True)}}
              </div>
              <div class="pure-control-group markdown-editor">
                {{msgform.content(placeholder="Styling with Markdown format is supported.", rows="10", **{'data-provide' :"markdown"})}}
              </div>
              <div class="pure-controls">
                {% if error %}
                  <div class="error">{{error}}</div>
                {%endif%}
                <button type="submit" id="msg-btnsubmit" class="pure-button pure-button-primary" data-prog="Sending...">Send Message</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
  {% endif %}
</div>
</div>
{% endblock %}
