{% extends "layout.html" %}
{% block title %}{{config.site.lema}}{% endblock %}

{% block content %}
{{ super() }}
<h1>User guide</h1>
<p>Overview: Phuks is a link and conversation aggregator. It currently using up and down voting to cause items appear in the hot pages as long as people continue to vote on them. New sorts will show all posts no matter the votes that have been cast.</p>

<p>Users: Every account is required to have a username to interact by posting, commenting, and voting. Email addresses are only used for the password recovery process. All passwords are hashed and not viewable by anyone. Emails and basic user settings may be accessable by certain admins involved with securing and maintaining user accounts.</p>

<p>User Settings:
<ul>
  <li>Open external links in a new window: Opens Post links in a new tab or window depending on your local device.</li>
  <li>Disable custom sub styles: Will disbale custom CSS stylesheets from the subs.</li>
  <li>Show NSFW content: Will allow Not Safe For Work content to be seen. NSFW content can include pornography, violence, or gore.</li>
  <li>Enable experimental features: Labrat mode allows you to see things that the devs are testing before they are released officially to the site.</li>
  <li>Disable infinite scroll: Infinite mode will load the next page when you scroll to the bottom of a page without needing to click the Next Page button.</li>
  <li>Delete Option: Allows you to delete your account. All posts and comments will not show up in sorts. If someone has the direct link to a post, it will show [Deleted] as your name. </li>
</ul>
</p>

<p>Subs: A sub is a nickname for a group of posts that are under that sub and having to do with a common theme.</p>

<p>Settings that sub Owners and Moderators can set:
  <ul>
    <li>Sub is NSFW: Shows if a sub is Not Safe For Work. This will auto selct NSFW for posts.</li>
    <li>Only mods can post: Makes it so the Sub will only allow posts from the Admins, Sub Owners, and Sub Moderators.</li>
    <li>Allow users to flair their own posts: Users will be allowed to select their own post flairs from the selection that the mods allow.</li>
    <li>Enable video player: Creates a video player, that uses the posts on the page as a playlist, in the top of your sub's sidebar. Currently only for youtube links. If a link is not allowed to be embedded, it will break the playlist, so mods can add the "skip" flair to have it not included.</li>
    <li>Default sub page post sorting: When someone visits the subs main page, you can set how you want it to be sorted.</li>
    <li>Sidebar text: Text that explains the purpose of the sub or any relevant information about the sub that can let the average user know what's going on.</li>
    <li>Post flairs: A tag or key that mods or users can attach to a post to further catagorize a post within the sub.</li>
    <li>Stylesheet: CSS style code that can be applied to the sub to change the colors or add images having to do with the theme of the sub.</li>
    <li>Moderators: Only Owners can add new Moderators. Owners and Mods can assign post flair, change sub settings, change the stylesheet, remove posts, or ban users.</li>
    <li>Sub Log: Keeps track of when mods change settings, edit and assign flairs, removing posts, and ban users.</li>
    <li>Banned Users: Banned users cannot submit posts to the sub. Owners and moderators can add or remove users from the ban list.</li>
  </ul>
</p>

<p></p>

{% endblock %}
