{% extends "layout.html" %}
{% block title %}Welcome{%endblock%}
{% block content %}
{{ super() }}
  <div class="content">
    <h1>{{config.site.lema}}</h1>

    <p>Thanks for registering! Here you'll find a brief introduction on how to use this site</p>
    <hr>

    <p>Your message indicator, a link to your profile settings, and some basic functions are in the top right. Open the expando if you are on mobile.</p>
    <ul>
      <li>
        <span class="p-icon hasmail" data-icon="sun"></span>
        <span class="p-icon hasmail" data-icon="moon"></span>
        Toggles Day/Night mode
      </li>
      <li>
        <span class="p-icon hasmail" data-icon="mail"></span>
        Takes you to your message center where you can see replies and PMs
      </li>
      <li>
        The envelope will change colors and have a number in a red circle if you have a new message
      </li>
    </ul>
    <hr>
    <p>This site is composed of <a href="{{url_for('home.view_subs')}}">subs</a>. You are automatically subscribed to about a dozen defaults.
      You can subscribe or block a sub from your feed from either the subs page or the sidebar of the sub. Each sub has its own
    theme, rules, moderators, and custom settings:</p>
    <ul>
      <li>Extra CSS to change the colors and look of the sub</li>
      <li>Sidebar information with links to other sites that may not be affiliated with this site</li>
      <li>Choose the default sort of your sub when a user goes to it (New/Hot/Top)</li>
      <li>A video player mode that can play the all the youtube posts that have been posted (experimental)</li>
    </ul>
    <hr>
      <p>Your user profile has additional viewing options that can be set <span class="p-icon hasmail" data-icon="cog"> </p>
      <ul>
        <li>Open external links in a new window</li>
        <li>Disable custom sub styles: Disables custom CSS styles on subs.</li>
        <li>Show NSFW content: Shows posts that may contain nudity or extreme content.</li>
      </ul>
    <hr>
    <p>Some other custom tricks for browsing the site:</p>
    <ul>
      <li>/s/subname goes to the sub</li>
      <li>/u/username goes to the user's profile</li>
      <li><a href="{{url_for('home.all_new')}}">/all/new</a> shows a live view of new posts, the votes and comment counts auto update</li>
      <li><a href="/m/news+sports+music">/m/news+sports+music</a> shows all posts, sorted by new, from those subs</li>
      @if config.site.enable_chat:
        <li><a href="{{url_for('site.chat')}}">/chat</a> goes to a full page chat window for all users</li>
      @end
      <li><span class="tx-icon hasmail" data-icon="edit"></span> allows you to change the order of the top bar subscription list</li>
    </ul>
    <!--
    <p>Blah blah blah blah. This page is not finished because a guy didn't move his fat ass yet</p> -->

    <h2>How to report bugs</h2>
    If you find any bug, glitch or any other nasty thing, you should open a task in <a href="https://phab.phuks.co">here</a> and
    we'll take care of it.

    <p><a href="{{url_for('wiki.privacy')}}">Privacy Policy Information</a></p>

    <p><a href="{{url_for('wiki.tos')}}">Terms of Service</a></p>
  </div>
{%endblock%}
