{% extends "layout.html" %}
{% block title %}Welcome{%endblock%}
{% block content %}
{{ super() }}
  <div class="content">
    <h2>{{config.site.lema}}</h2>

    <p>Ďakujeme za registráciu! Tu je stručný návod, ako používať tento web:</p>
    <hr>

    <p>Notifikácie, nastavenia profilu a niektoré základné funkcie sú vpravo hore. Ak si na mobile, skrývajú sa pod "hamburgerom".</p>
    <ul>
      <li>
        <span class="p-icon hasmail" data-icon="sun"></span>
        <span class="p-icon hasmail" data-icon="moon"></span>
        Prepína denný/nočný režim
      </li>
      <li>
        <span class="p-icon hasmail" data-icon="mail"></span>
        Otvorí Tvoju schránku, kam budú chodiť reakcie na Tvoje príspevky a komentáre, ako aj súkromné správy
      </li>
      <li>
        Ak dostaneš novú správu, obálka zmení farbu a bude mať číslo v červenom kruhu
      </li>
    </ul>
    <hr>
    <p>Web je štrukturovaný na báze <a href="{{url_for('home.view_subs')}}">skupín</a>. Na odber niektorých z nich si prihlásený(á) automaticky (tzv. predvolené skupiny). Ktorúkoľvek skupinu môžeš kedykoľvek buď Blokovať (jej príspevky sa ti nebudú zobrazovať v Tvojom hlavnom kanáli), alebo Odoberať (jej príspevky sa ti budú zobrazovať v hlavnom kanáli, aj keď nejde o predvolenú skupinu). Každá skupina má svoju vlastnú tému, pravidlá, moderátorov a vlastné nastavenia:
  
  </p>
    <ul>
      <li>CSS štýl ovplyvňujúci dizajn (look&feel) skupiny</li>
      <li>Informácie na bočnom paneli s odkazmi na iné weby, ktoré nemusia byť spojené s týmto webom</li>
      <li>Predvolené triedenie príspevkov v danej skupine (Nové/Teraz/Top)</li>
      <li>Režim prehrávača videa, ktorý dokáže prehrávať videá linknuté z YouTube (experimentálna funkcia)</li>
    </ul>
    <hr>
      <p>V Tvojom profile nájdeš ďalšie možnosti zobrazenia, ktoré si môžeš nastaviť <span class="p-icon hasmail" data-icon="cog"> </p>
      <ul>
        <li>Povoliť nevhodný (NSFW - Not Safe For Work) obsah/li>
        <li>Ignorovať špecifické CSS štýly skupín</li>
        <li>Vypnúť chat (áno, vpravo dole máme chat!)</li>
        <li>a ďalšie</li>
      </ul>
    <hr>
    <p>Zopár ďalších "trikov":</p>
    <ul>
      <li><a href="{{url_for('home.all_new')}}">/all/new</a> ponúka "live" zobrazenie nových príspevkov; skóre príspevkov (hlasy) a počet komentárov sa aktualizujú v reálnom čase</li>
      <li><a href="/m/news+sports+music">/m/news+sports+music</a> zobrazí všetky príspevky zo zadaných skupín, zoradené od najnovších</li>
      <li><a href="{{url_for('site.chat')}}">/chat</a> zobrazí chat na celej stránke</li>
      <li><span class="tx-icon hasmail" data-icon="edit"></span> umožňuje zmeniť si poradie odoberaných skupín v hornej lište</li>
    </ul>
    <h2>Hlásenie problémov</h2>
    Ak náš chceš kontaktovať ohľadom akýchkoľvek bugov alebo iných problémov, nájdeš nás na <a href="https://discord.gg/Fj2f2N">Discorde</a>.

    <p><a href="{{url_for('wiki.privacy')}}">Ochrana osobných údajov</a></p>

    <p><a href="{{url_for('wiki.tos')}}">Podmienky používania</a></p>
  </div>
{%endblock%}
